// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// COLORS ZAABRA SALUD 
// Official colors
$blue_official: #0083D6;
$green_official:#019F86;
$withe_official:#FFFFFF;
$gray_official:#F9F9F9;
// Gray colors 
$gray_first: #D1D1D1;
$gray_second:#707070;
$gray_third:#CED4DA;
$gray_fourth:#F5F5F5;
// Black colors
$black_firsrt: #3E3E3E;
$black_second: #434343;
$black_third: #232323;
// Vivid colors
$red_first: #721C24;
$red_second: #F8D7DA;
$red_third: #F5C6CB;



$urlZaabra: 'http://localhost:8000/';
//$urlZaabra: 'https://zaabrasalud.co/';
//$urlZaabra: 'http://portal-test.zaabra.local/';


