//****************************************************      Estilos de Panel Principal       ****************************************************//
.cards_panelPrincipal_prof {
    width: 100% !important;
    border: 1px solid #0083D6;
}
//****************************************************      Estilos de Panel Administrativo       ****************************************************//
.panel-Administrativo_prof{
    background: #F9F9F9;
    padding: 1% 1% 5% 1%;
}
//****************************************************      Estilos de Mis Citas       ****************************************************//
.containt_cita_agProf {
    margin: 0;
    padding: 0 6%;
}