// Animación para las tarjetas desplegables del "login y Menú hamburguesa" del HEADER
.menu_flip[aria-expanded="true"] + .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0%  {
        transform: rotateY(90deg);
        background:  #87cdfc;
    }
    50% {
        transform: rotateY(-30deg);
    }

    100% {
        transform: rotateY(0deg);
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
    }
}


// Cronometro
.time_cita {
    position: absolute;
    z-index: 5;
    top: 25px;
    right: 25px;
    padding: 5px 15px 40px 15px;
    border: 1px solid #0083D6;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 15%);
}
.main {
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:before {
        content: '';
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        width: 160px;
        height: 160px;
        left: calc(50% - 80px);
        top: calc(50% - 80px);
        background-color: #0083D6;
        border: 3px solid #019F86;
    }
}

.seconds-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #019F86;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite;
    animation-play-state: paused;
}

@keyframes rotacion {
	from { 	transform: rotate(-90deg) translateX(59px); }
	to   {  transform: rotate(270deg) translateX(59px); }
}

.buttons {
    margin-top: 10px;
    display: inline-flex;
}

.paused {
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #FFFFFF;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running {
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop {
    background-color: #FFFFFF;
    height: 10px;
    width: 10px;
    cursor: pointer;
}