// Contenedores para la ubicación de los botones (izquierda, centrado y derecha)
.content_btn_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content_btn_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_btn_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
// Botones rectangulares
.button_blue {
    font-family: "Quicksand";
    font-size: 16px;
    color: $withe_official;
    background: $blue_official;
    border: 1px solid $blue_official;
    border-radius: 5px;
    padding: 5px 15px;
}
.button_transparent {
    font-family: "Quicksand";
    font-size: 16px;
    color: $black_second;
    background: $withe_official;
    border: solid 1px $black_second;
    border-radius: 5px;
    padding: 5px 15px;
}
.button_green {
    font-family: "Quicksand";
    font-size: 16px;
    color: $withe_official;
    background: $green_official;
    border: solid 1px $green_official;
    border-radius: 5px;
    padding: 5px 15px;
}
.button_red {
    font-family: "Quicksand";
    font-size: 16px;
    color: $withe_official;
    background: $red_first;
    border: solid 1px $red_first;
    border-radius: 5px;
    padding: 5px 15px;
}
.buttons-excel.border_left {
    border-left: 2px solid white;
}
div.dt-buttons {
    float: right;
    margin-bottom: 20px;
    margin-right: 40px;
}
// Estilos de los botones de paginación "anterior, posición y siguiente" de las tablas DATATBLE
.page-item.disabled .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: auto;
    background-color: #6ab6f5;
    border-color: #0083d6;
}

.paginate_button a {
    color: #0083d6;
}












// Buttons
.button_blue_form {
    font-family: "Quicksand";
    font-size: 1em;
    color: $withe_official;
    background: $blue_official;
    border: none;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_green_form {
    font-family: "Quicksand";
    font-size: 1em;
    color: $withe_official;
    background: $green_official;
    border: none;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_transparent_form {
    font-family: "Quicksand";
    font-size: 1em;
    font-weight: bold;
    color: $black_second;
    background: transparent;
    border: 1px solid $black_second;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_edit {
    border: none;
    background: transparent;
    font-size: 1.4em;
    color: #019f86;
    padding: 0;
}




