.title_calendar {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #0083D6;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.fc-toolbar-title::first-letter {
    text-transform: uppercase;
}
.content_dias_agenda {
    span  {
        font-size: 14px;
        font-family: "Roboto";
        color: #3E3E3E;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 173px;
        i {
            width: 21px;
            height: 21px;
            border: 1px solid #707070;
            margin-right: 25px;
        }
    }
}
.disponible i {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.cita_pag i {
    background: #1B85D7 0% 0% no-repeat padding-box;
}
.cita_pag_pres i {
    background: #D6FFFB 0% 0% no-repeat padding-box;
}
.no_disponible i {
    background: #D8D8D8 0% 0% no-repeat padding-box;
}
.cita_agen i {
    background: #019F86 0% 0% no-repeat padding-box;
}
.cita_cancel i {
    background: #9DD1F9 0% 0% no-repeat padding-box;
}
@media (min-width: 320px){
    .dias{
        font-size: 1em;
    }
}
@media (min-width: 768px){
    .title_calendar {
        font-size: 2.4em;
    }
    .text_calendar{
        font-size: 1.1em;
    }
    .content_center_agenda {
        display: flex;
        justify-content: center;
    }
    .content_right_agenda {
        display: flex;
        justify-content: flex-end;
    }
    .dias{
        font-size: 1em;
    }
}
