.title_calendar {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #0083D6;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.fc-toolbar-title::first-letter {
    text-transform: uppercase;
}
.fc-col-header-cell-cushion::first-letter {
    text-transform: uppercase;
} 
.content_dias_agenda {
    span  {
        font-size: 14px;
        font-family: "Roboto";
        color: #3E3E3E;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 173px;
        input {
            width: 25px;
            height: 28px;
            border: none;
            margin-right: 25px;
            padding: 0;
        }
    }
}


.fc-h-event .fc-event-title {
    text-overflow:ellipsis;
    white-space:nowrap;
}

.fc-h-event .fc-event-time {
    overflow: inherit !important;
}
@media (min-width: 320px){
    .dias{
        font-size: 1em;
    }
}
@media (min-width: 768px){
    .title_calendar {
        font-size: 2.4em;
    }
    .text_calendar{
        font-size: 1.1em;
    }
    .content_center_agenda {
        display: flex;
        justify-content: center;
    }
    .content_right_agenda {
        display: flex;
        justify-content: flex-end;
    }
    .dias{
        font-size: 1em;
    }
}
