.containt__card {
    background-color: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 7px;
    box-shadow: 1px 1px 10px 2px rgb(206 212 218 / 50%);
    transition-duration: 0.15s;
    .card-header {
        background-color: #079F86;
        border: 1px solid #079F86;
        color: #FFFFFF;
    }
}
.content_btn_center {
    .btn_green {
        font-family: "Quicksand";
        color: #FFFFFF;
        background: #019F86;
        border: solid 1px #019F86;
        border-radius: 5px;
        padding: 3px 15px;
    }
    .btn_blue {
        font-family: "Quicksand";
        color: #FFFFFF;
        background: #0083D6;
        border: solid 1px #0083D6;
        border-radius: 5px;
        padding: 3px 15px;
    }
}
// Animación de las tarjetas
.containt__card:hover {   
    transform: translateY(-5px) scale(1.01);
    box-shadow: 10PX 15px 24px rgb(62 57 107 / 25%);
}
// End animación
///////// estilos de la tarjeta profesionales de una institución
.btn__activado {
    border: 1px solid #25d4ba;
    background-color: #cbfaf3;
    color: #13a58d !important;
    text-decoration: none;
    border-radius: 60px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 30px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.1s;
    // Icono estado activado y desactivado
    background-image: url('/img/iconos/check-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 22px;
    // Texto activado y desactivado
    white-space: nowrap;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 28px;
    &:hover {
        max-width: 300px;
        padding-right: 10px;
    }
}
.btn__desactivado {
    border: 1px solid #fc7c7c;
    background-color: #fde0e0;
    color: #f83636 !important;
    text-decoration: none;
    border-radius: 60px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 30px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.1s;
    // Icono estado activado y desactivado
    background-image: url('/img/iconos/x-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 22px;
    // Texto activado y desactivado
    white-space: nowrap;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 28px;
    &:hover {
        max-width: 300px;
        padding-right: 10px;
    }
}  
.img__cuadrada {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}
.mail {
width: 200px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
// Texto informativo correo del usuario modulo usuario agenda institución
.toolt {
    position: relative;
    cursor: pointer;
}
.toolt .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 0px 15px rgb(0 0 0 / 30%);
    font-size: 10px;
}
.toolt .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.toolt:hover .tiptext {
    visibility: visible;
}
.toolt.bottom .tiptext{
    bottom: -28px;
    right: 130px;
}
.toolt.bottom .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #fff transparent;
}
// Fin de los textos informativos correo usuario modulo usuarios agenda institución
// Estado para el MODAL VER USUARIO
.estado__activo_modal {
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 2px 7px 2px 22px;
    border-radius: 3px;
    border: 1px solid #25d4ba;
    background-color: #cbfaf3;
    color: #13a58d;
    background-image: url('/img/iconos/check-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 16px;
}
.estado__inactivo_modal {
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 2px 7px 2px 22px;
    border-radius: 3px;
    border: 1px solid #fc7c7c;
    background-color: #fde0e0;
    color: #f83636;
    background-image: url('/img/iconos/x-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 16px;
}
// End estado para el MODAL VER USUARIO


//***********************************************
//* Tarjetas profesionales agenda instituciones *
//***********************************************
.title_contain_card {
    font-size: 25px;
    color: #019F86;
    font-weight: bold;
    text-align: center;
}
.card_btn_search {
    button {
        border: 1px solid #CED4DA;
        background-color: #FFF;
        text-decoration: none;
        border-radius: 7px;
        height: 41px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        width: 46px;
        transition: max-width 0.1s;
        background-image: url('/img/iconos/search_green.svg');
        background-repeat: no-repeat;
        background-position-x: 10PX;
        background-position-y: center;
        background-size: 22px;
        white-space: nowrap;
        padding-top: 2px;
        padding-right: 0px;
        padding-left: 30px;
    }
    .search_togggle {
        width: 100%;
        padding-left: 0;
        padding-right: 40px;
        background-position-x: 97%;
    }
    input {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 0 5px 15px;
        margin-bottom: 15px;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: #434343;
        background-color: #FFFFFF;
        background-clip: padding-box;
        border: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
.card_content_btn_add {
    display: flex;
    justify-content: center;
    align-items: center;
    .card_btn_add_green {
        font-family: "Quicksand";
        color: $withe_official;
        background: $green_official;
        border: solid 1px $green_official;
        border-radius: 5px;
        padding: 5px 15px;
    }
}
.container_btn_docs {
    display: flex;
    justify-content: center;
    button {
        width: 46px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #DBDADA;
        border-radius: 7px;
        margin: 0 3px;
        .file_excel{
            background-image: url('/img/iconos/icono-excel-verde.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 27px;
            margin: auto;
            &:hover {
                background-image: url('/img/iconos/icono-excel-blanco.svg');
                background-color: #019F86;
            }
        }
        .file_pdf{
            background-image: url('/img/iconos/icono-pdf-verde.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 27px;
            margin: auto;
            &:hover {
                background-image: url('/img/iconos/icono-pdf-blanco.svg');
                background-color: #019F86;
            }
        }
        .file_printer {
            background-image: url('/img/iconos/icono-imprimir-verde.svg');
            background-repeat: no-repeat;
            width: 26px;
            height: 25px;
            margin: auto;
            &:hover {
                background-image: url('/img/iconos/icono-imprimir-blanco.svg');
                background-color: #019F86;
            }
        }
        &:hover {
            background-color: #019F86;
        }
        .file_calendar {
            background-image: url('/img/iconos/icono-calendario-verde.svg');
            background-repeat: no-repeat;
            width: 27px;
            height: 27px;
            margin: auto;
            &:hover {
                background-image: url('/img/iconos/icono-calendario-blanco.svg');
                background-color: #019F86;
            }
        }
        &:hover {
            background-color: #019F86;
        }
    }
}
.container_card {
    background-color: #FFFFFF;
    border: 1px solid #DBDADA;
    border-radius: 7px;
}
.card__ {
    padding: 15px 30px;
}
.card__row_column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
// Imagen profedionales tarjetas agenda instituciones
.card__imagen {
    width: 57px;
    height: 56px;
    border-radius: 100px;
    object-fit: cover;
}
.card_info_user {
    padding: 0;
    line-height: 1.3;
    .card_txt_h {
        .card_h4 {
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: 500;
            text-align: center;
            color: #434343;
            margin: 0;
        }
        .card_h5 {
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: center;
            color: #707070;
        }
    }
    .card_txt_span {
        .card_icon {
            width: 12px;
            height: 10PX;
            margin-right: 5px;
        }
        .card_span {
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 100;
            color: #707070;
        }
    }
    .card_content_btn_info {
        display: flex;
        justify-content: center;
        .card_btn_info {
            border: none;
            background-color: transparent;
            color: #019F86;
            padding: 6px;
            width: 35px;
            height: 35px;
            &:nth-child(1) {
                color: #FF3E3E;
            }
            &:nth-child(4) {
                color: #FF3E3E;
            }
        }
    }
}
.pagination__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .pag_btn_right {
        width: 47px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #707070;
        border-radius: 7px 0 0 7px;
        background-image: url('/img/iconos/flecha-derecha-gris.svg');
        background-repeat: no-repeat;
        background-size: 9px;
        background-position: center;
        &:focus {
            background-color: #707070;
            background-image: url('/img/iconos/flecha-derecha-blanca.svg');
        }
    }
    .pag_btn_left {
        width: 47px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #707070;
        border-left: none;
        border-radius: 0 7px 7px 0;
        background-image: url('/img/iconos/flecha-izquierda-gris.svg');
        background-repeat: no-repeat;
        background-size: 9px;
        background-position: center;
        &:focus {
            background-color: #707070;
            background-image: url('/img/iconos/flecha-izquierda-blanca.svg');
        }
    }
}
//*******************************************
//* Tarjetas pacientes agenda instituciones *
//*******************************************
.card_buttons_top {
    width: 100%;
    margin: auto;
}
.bord_bootom {
    border-bottom: 1px solid #E6E6E6;
}
.card_avatar {
    padding: 20px 7px;
}
.card__imagen_avatar {
    width: 49px;
    height: 47px;
    border-radius: 100px;
    object-fit: cover;
}
.card_avatar_info_user {
    padding: 0 0 0 7px;
    line-height: 1.3;
    .card_txt_h {
        .card_h4 {
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 500;
            text-align: initial;
            color: #3E3E3E;
            margin: 0;
        }
        .card_h5 {
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: initial;
            color: #3E3E3E;
        }
        .card_h6 {
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: initial;
            color: #3E3E3E;
        }
    }
    .card_txt_span {
        .card_icon {
            width: 13px;
            height: 13PX;
            margin-right: 12px;
            color: #019F86;
        }
        .card_span {
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 100;
            color: #3E3E3E;
        }
    }
}
//*******************************************
//* Tarjetas convenios agenda instituciones *
//*******************************************
.card_float {
    padding: 60px 30px 20px 30px;
}
.card_content_img_float {
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.card__imagen_float {
    width: 84px;
    height: 83px;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0px 3px 6px #00000029;
}
.card_float_info_float {
    padding: 0;
    line-height: 1.3;
    .card_txt_h {
        .card_h4 {
            font-size: 18px;
            font-family: 'Roboto';
            font-weight: 500;
            text-align: center;
            color: #434343;
            margin: 0;
        }
        .card_h5 {
            font-size: 15px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: center;
            color: #707070;
        }
        .card_h6 {
            font-size: 9px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: center;
            color: #707070;
            margin: 0;
        }
    }
    .card_txt_span {
        .card_icon {
            width: 10px;
            height: 10PX;
            margin-right: 10px;
        }
        .card_span {
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 100;
            color: #707070;
        }
    }
    .card_content_btn_info {
        display: flex;
        justify-content: center;
        .card_btn_info {
            border: none;
            background-color: transparent;
            color: #019F86;
            padding: 6px;
            width: 35px;
            height: 35px;
            &:nth-child(1) {
                color: #FF3E3E;
            }
            &:nth-child(4) {
                color: #FF3E3E;
            }
        }
    }
}
.pad_buttons_bottom {
    padding: 0;
}
.card_content_buttons_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    .card_btn_green {
        font-family: "Quicksand";
        font-size: 14px;
        color: $withe_official;
        background: $green_official;
        border: solid 1px $green_official;
        border-radius: 7px;
        padding: 5px 15px;
    }
    .card_btn_transparent {
        font-family: "Quicksand";
        font-size: 14px;
        color: $green_official;
        background: $withe_official;
        border: solid 1px $green_official;
        border-radius: 7px;
        padding: 5px 23px;
    }
}

@media(min-width: 768px) {
    .wid_75 {
        width: 75px;
    }
    .estado__activo {
        top: 58px;
        right: 5px;
    }
    .estado__inactivo {
        top: 58px;
        right: 5px;
    }
    
    // Estado para el MODAL VER USUARIO
    .estado__activo_modal {
        top: 86px;
        right: 25px;
    }
    .estado__inactivo_modal {
        top: 86px;
        right: 25px;
    }
    // End estado para el MODAL VER USUARIO
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************
    .title_contain_card {
        text-align: initial;
    }
    .card_btn_search .search_togggle {
        width: 97%;
        background-position-x: 95%;
    }
    .card__ {
        padding: 15px 5px;
    }
    .card_info_user {
        padding-left: 5px;
    }
    .card_content_btn_add {
        justify-content: initial;
        .card_btn_add_green {
            font-family: "Quicksand";
            color: $withe_official;
            background: $green_official;
            border: solid 1px $green_official;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
    .card__row_column {
        flex-direction: row;
    }
    .card__imagen {
        width: 63px;
        height: 62px;
    }
    .card__row_column {
        .card_content_btn_info {
            justify-content: flex-end;
            padding: 0;
            .card_btn_info {
                border: none;
                background-color: transparent;
                color: #019F86;
                padding: 0 3px;
                .icon_btn_info_md {
                    width: 13px;
                    height: 15px;
                }
                &:nth-child(1) {
                    color: #FF3E3E;
                }
                &:nth-child(4) {
                    color: #FF3E3E;
                }
            }
        }
    }
    .card_info_user {
        .card_txt_h {
            .card_h4 {
                font-size: 14px;
                text-align: initial;
            }
            .card_h5 {
                font-size: 12px;
                text-align: initial;
            }
        }
    }
}

@media(min-width: 1024px) {
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************
    .card_content_btn_add {
        .card_btn_add_green {
            padding: 5px;
        }
    }
    .card_btn_search .search_togggle {
        width: 100%;
        background-position-x: 98%;
    }
    //*******************************************
    //* Tarjetas convenios agenda instituciones *
    //*******************************************
    .pad_buttons_bottom {
        padding: 0 20px;
    }
}

@media(min-width: 1200px) {
    //*******************************************
    //* Tarjetas pacientes agenda instituciones *
    //*******************************************
    .card_buttons_top {
        width: 98%;
        margin: auto;
    }
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************
    .title_contain_card {
        padding-left: 7px;
    }
    .card_content_btn_add .card_btn_add_green {
        font-size: .8rem;
        padding: 5px 5px;
    }
    .card__imagen {
        width: 51px;
        height: 50px;
    }
    .card_info_user {
        .card_txt_h {
            .card_h4 {
                font-size: 12px;
            }
            .card_h5 {
                font-size: 10px;
            }
        }
    }
    //*******************************************
    //* Tarjetas convenios agenda instituciones *
    //*******************************************
    .card_info_user .card_txt_span .card_span {
        font-size: 10px;
    }
    .card_content_buttons_bottom {
        .card_btn_green {
            font-size: 10px;
        }
        .card_btn_transparent {
            font-size: 10px;
        }
    }
}

@media(min-width: 1300px) {
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************
    .card_content_btn_add .card_btn_add_green {
        padding: 5px 7px;
        font-size: .9rem;
    }
    .card__imagen {
        width: 63px;
        height: 62px;
    }
    .card_info_user {
        .card_txt_h {
            .card_h4 {
                font-size: 14px;
            }
            .card_h5 {
                font-size: 12px;
            }
        }
    }
    .card_info_user .card_txt_span .card_span {
        font-size: 12px;
    }
    //*******************************************
    //* Tarjetas convenios agenda instituciones *
    //*******************************************
    .pad_buttons_bottom {
        padding: 0 45px;
    }
}

@media(min-width: 1440px) {
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************
    .card_content_btn_add .card_btn_add_green {
        padding: 5px 15px;
    }
    .pad_buttons_bottom {
        padding: 0 55px;
    }
}

@media(min-width: 1600px) {
    .card_buttons_top {
        width: 98.8%;
    }
    .title_contain_card {
        padding-left: 6px;
    }
    // Estilos predeterminados para las colummnas de las tarjetas
    .card__col {
        max-width: 25% !important;
    }
}