.containt__card {
    background-color: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 7px;
    box-shadow: 1px 1px 10px 2px rgb(206 212 218 / 50%);
    transition-duration: 0.15s;
    .card-header {
        background-color: #079F86;
        border: 1px solid #079F86;
        color: #FFFFFF;
    }
}
.content_btn_center {
    .btn_green {
        font-family: "Quicksand";
        color: #FFFFFF;
        background: #019F86;
        border: solid 1px #019F86;
        border-radius: 5px;
        padding: 3px 15px;
    }
    .btn_blue {
        font-family: "Quicksand";
        color: #FFFFFF;
        background: #0083D6;
        border: solid 1px #0083D6;
        border-radius: 5px;
        padding: 3px 15px;
    }
}
// Animación de las tarjetas
.containt__card:hover {   
    transform: translateY(-5px) scale(1.01);
    box-shadow: 10PX 15px 24px rgb(62 57 107 / 25%);
}
// End animación
///////// estilos de la tarjeta profesionales de una institución

.img__cuadrada {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}
// Ancho contenedor texto informativo tool tip
.width__tool_tip {
width: 220px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
// Estado para el MODAL VER USUARIO
.estado__activo_modal {
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 2px 7px 2px 22px;
    border-radius: 3px;
    border: 1px solid #25d4ba;
    background-color: #cbfaf3;
    color: #13a58d;
    background-image: url('/img/iconos/check-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 16px;
}
.estado__inactivo_modal {
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 2px 7px 2px 22px;
    border-radius: 3px;
    border: 1px solid #fc7c7c;
    background-color: #fde0e0;
    color: #f83636;
    background-image: url('/img/iconos/x-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 16px;
}
// End estado para el MODAL VER USUARIO


//***********************************************
//* Tarjetas profesionales agenda instituciones *
//***********************************************


// .card_content_btn_center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .card_btn_see_green {
//         font-family: "Quicksand";
//         font-size: 10px;
//         color: $withe_official;
//         background: $green_official;
//         border: solid 1px $green_official;
//         border-radius: 5px;
//         padding: 5px 15px;
//     }
// }



// Imagen profedionales tarjetas agenda instituciones
// .card_info_user {


//     .card_content_btn_info {
//         display: flex;
//         justify-content: center;
//         .card_btn_info {
//             border: none;
//             background-color: transparent;
//             color: #049372;
//             padding: 3px;
//             width: 25px;
//             height: 25px;
//             display: flex;
//             align-items: center;
//             &:nth-child(5) {
//                 color: #FF3E3E;
//             }
//             .icon_feather_card {
//                 width: 20px !important;
//                 height: 18px !important;
//             }
//         }
//     }
// }

//*******************************************
//* Tarjetas pacientes agenda instituciones *
//*******************************************
.card_buttons_top {
    width: 100%;
    margin: auto;
}
.bord_bootom {
    border-bottom: 1px solid #E6E6E6;
}
// .card_avatar {
//     padding: 20px 7px;
// }
// .card__imagen_avatar {
//     width: 49px;
//     height: 47px;
//     border-radius: 100px;
//     object-fit: cover;
// }
// .card_avatar_info_user {
//     padding: 0 0 0 7px;
//     line-height: 1.3;
//     .card_txt_h {
//         .card_h4 {
//             font-size: 14px;
//             font-family: 'Roboto';
//             font-weight: 500;
//             text-align: initial;
//             color: #3E3E3E;
//             margin: 0;
//         }
//         .card_h5 {
//             font-size: 14px;
//             font-family: 'Roboto';
//             font-weight: 100;
//             text-align: initial;
//             color: #3E3E3E;
//         }
//         .card_h6 {
//             font-size: 12px;
//             font-family: 'Roboto';
//             font-weight: 100;
//             text-align: initial;
//             color: #3E3E3E;
//         }
//     }
//     .card_txt_span {
//         .card_span {
//             font-size: 12px;
//             font-family: 'Roboto';
//             font-weight: 100;
//             color: #3E3E3E;
//         }
//     }
//     .card_content_btn_info {
//         display: flex;
//         justify-content: center;
//         .card_btn_info {
//             border: none;
//             background-color: transparent;
//             color: #049372;
//             padding: 6px;
//             width: 35px;
//             height: 35px;
//             &:nth-child(5) {
//                 color: #FF3E3E;
//             }
//         }
//     }
// }
//*******************************************
//* Tarjetas convenios agenda instituciones *
//*******************************************
.card_float {
    padding: 15px 10px 15px 30px;
}


.card_float_info_float {
    padding: 0;
    line-height: 1.3;
    .card_txt_h {
        .card_h4 {
            font-size: 18px;
            font-family: 'Roboto';
            font-weight: 500;
            text-align: center;
            color: #434343;
            margin: 0;
        }
        .card_h5 {
            font-size: 15px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: center;
            color: #707070;
        }
        .card_h6 {
            font-size: 9px;
            font-family: 'Roboto';
            font-weight: 100;
            text-align: center;
            color: #707070;
            margin: 0;
        }
    }
    .card_txt_span {
        .card_icon {
            width: 10px;
            height: 10PX;
            margin-right: 10px;
        }
        .card_span {
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 100;
            color: #707070;
        }
    }
    .card_content_btn_info { // clase pendiente para eliminar
        display: flex;
        justify-content: center;
        .card_btn_info {
            border: none;
            background-color: transparent;
            color: #049372;
            padding: 6px;
            width: 35px;
            height: 35px;
            &:nth-child(5) {
                color: #FF3E3E;
            }
        }
    }
}


// Clases especiales
.txt_doble_linea {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 768px) {
    .wid_75 {
        width: 75px;
    }
    .estado__activo {
        top: 58px;
        right: 5px;
    }
    .estado__inactivo {
        top: 58px;
        right: 5px;
    }
    
    // Estado para el MODAL VER USUARIO
    .estado__activo_modal {
        top: 86px;
        right: 25px;
    }
    .estado__inactivo_modal {
        top: 86px;
        right: 25px;
    }
    // End estado para el MODAL VER USUARIO
    //***********************************************
    //* Tarjetas profesionales agenda instituciones *
    //***********************************************



    .width__tool_tip {
        width: 255px;
    }
}

@media(min-width: 1024px) {



    .width__tool_tip {
        width: 310px;
    }
}

@media(min-width: 1200px) {
    //*******************************************
    //* Tarjetas pacientes agenda instituciones *
    //*******************************************
    .card_buttons_top {
        width: 98%;
        margin: auto;
    }




    .width__tool_tip {
        width: 190px;
    }
}

@media(min-width: 1300px) {

    .card__imagen {
        width: 63px;
        height: 62px;
    }


    //*******************************************
    //* Tarjetas convenios agenda instituciones *
    //*******************************************

    .width__tool_tip {
        width: 230px;
    }
}

@media(min-width: 1440px) {

    .width__tool_tip {
        width: 245px;
    }
}

@media(min-width: 1600px) {
    .card_buttons_top {
        width: 98.8%;
    }
    // Estilos predeterminados para las colummnas de las tarjetas
    .card__col {
        max-width: 25% !important;
    }
    .width__tool_tip {
        width: 215px;
    }
}