// Banner principal
.imagen_bannerPrin-contac {
    width: 100%;
    padding: 0;
    height: 30vh;
    object-fit: cover;
}
// Titulo principal superior
.titulo_principal-contac {
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif; 
    font-weight: bolder;
    color: #232323;
    margin: 10% 0;
    text-align: center;
}
// Texto superior
.texto_superior-contac {
    font-family: 'Roboto', 'Regular';
    font-size: 1em;
    color: #3E3E3E;
    text-align: center;
    margin: 2% 8%;
}
//Información contacto Zaabra
.containt_contacZaabra-contac {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
}
.icon_ubicacion-contac {
    background-image: url(/img/contacto/icono-ubicacion.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    height: 6vh;
    width: 24%;
    padding-right: 0;
    padding-left: 5%;
    margin-left: 0;
}
.icon_telefono-contac {
    background-image: url(/img/contacto/icono-telefono.svg);
    background-repeat: no-repeat;
    background-size: 32%;
    height: 6vh;
    width: 15%;
    padding-right: 0;
    padding-left: 5%;
    margin-left: 0;
}
.icon_email-contac {
    background-image: url(/img/contacto/icono-email.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    height: 6vh;
    width: 24%;
    padding-right: 0;
    padding-left: 5%;
    margin: 0;
}
.titulo_opcion-contac {
    font-size: 1em;
    font-weight: bold;
}
.text_opcion-contac {
    font-size: .85em;
    line-height: 1;
}
// Fila contenido opciones y formulario contacto
.fila_containt-options-contac {
    background: #F6F6F6;
    justify-content: center;
}
// Subtitulo interno 
.Subtitulo_interno-contac {
    font-size: 1.3em;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    margin: 3% 0;
    text-align: center;
}
// Contenedor elementos contacto
.section_principal-contac {
    border: none;
    margin-bottom: 3%;
    padding: 0;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
}
// Sección body del contac
.section_body-contac {
    padding: 2% 12% 5% 12%;
}
// Sección opciones principales
.section_input-option-contac {
    justify-content: center;
    height: 16vh;
}
.input_option-contac {
    display: flex;
    justify-content: center;
    padding: 0;
}
.input_img-option-contac {
    margin: 0;
    height: 100%;
    width: 50%;
}
.texto_option-input-contac {
    font-family: 'Roboto';
    font-size: 1em;
    align-self: flex-end;
}
// Clases utilizadas para la función de ocultar y mostrar elementos en la vista de registro de usuarios
// La función se encuentra en el archivo register.js
.name_user-contac, .name_institution-contac, .second_date-contac{
    display: none;
}
// Sección campos de validación
.texto_label-contac {
    font-family: 'Quicksand', 'Regular';
    font-size: 1em;
    font-weight: bold;
    color: #232323;
    text-align: left;
}
// Botón inferior enviar
.content_btn-enviar-contac {
    text-align: center;
}
.btn_enviar-contac {
    font-family: "Quicksand";
    font-size: 1em;
    color: #ffffff;
    background: #0083D6;
    border: none;
    border-radius: 5px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 30%;
}
.flecha_envio-contac {
    width: 10%;
}
@media (min-width: 320px) and (orientation: portrait) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 18vh;
    }
    // Titulo principal superior
    .titulo_principal-contac {
        font-size: 1em;
        margin: 5% 6%;
    }
    // Texto superior
    .texto_superior-contac {
        font-size: .75em;
        margin: 5% 0;
    }
    //Información contacto Zaabra
    .containt_contacZaabra-contac {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3%;
    }
    .icon_ubicacion-contac {
        background-image: url(/img/contacto/icono-ubicacion.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        height: 6vh;
        width: 56%;
        padding-right: 0;
        padding-left: 12%;
        margin-left: auto;
    }
    .icon_telefono-contac {
        background-image: url(/img/contacto/icono-telefono.svg);
        background-repeat: no-repeat;
        background-size: 30%;
        height: 6vh;
        width: 36%;
        padding-right: 0;
        padding-left: 12%;
        margin-left: auto;
    }
    .icon_email-contac {
        background-image: url(/img/contacto/icono-email.svg);
        background-repeat: no-repeat;
        background-size: 19%;
        height: 6vh;
        width: 60%;
        padding-right: 0;
        padding-left: 12%;
        margin: 3% 0 3% 14%;    
    }
    .titulo_opcion-contac {
        font-size: .75em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: .7em;
        line-height: .5;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 1em;
        margin: 3% 0;
    }
    .Subtext_interno-contac {
        font-family: 'Roboto', 'Regular';
        font-size: .7em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 5% 5% 5%;
    }
    // Contenedor elementos contacto
    .section_principal-contac {
        margin-bottom: 5%;
    }
    // Sección body del contac
    .section_body-contac {
        padding: 2% 5%;
    }
    // Sección opciones principales
    .input_img-option-contac {
        width: 70%;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-family: "Quicksand";
        font-size: .85em;
        color: #ffffff;
        background: #0083D6;
        border: none;
        border-radius: 5px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 50%;
    }
    .flecha_envio-contac {
        width: 9%;
    }    
}
@media (min-width: 360px) and (orientation: portrait) {
    // Sección opciones principales
    .section_input-option-contac {
        justify-content: space-around;
        height: 15vh;
    }
    .icon_ubicacion-contac {
        background-image: url(/img/contacto/icono-ubicacion.svg);
        background-repeat: no-repeat;
        background-size: 21%;
        height: 6vh;
        width: 53%;
        padding-right: 0;
        padding-left: 12%;
        margin-left: auto;
    }
    .icon_email-contac {
        background-image: url(/img/contacto/icono-email.svg);
        background-repeat: no-repeat;
        background-size: 19%;
        height: 6vh;
        width: 60%;
        padding-right: 0;
        padding-left: 12%;
        margin: 3% 0 3% 18%;
    }
    .titulo_principal-contac {
        font-size: 1em;
        margin: 5% 16%;
    }
    .Subtext_interno-contac {
        font-family: "Roboto", "Regular";
        font-size: 0.7em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 15% 5% 15%;
    }
}
@media (min-width: 375px) and (orientation: portrait) {

} 
@media (min-width: 768px) and (orientation: portrait) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 20vh;
    }
    // Titulo principal superior
    .titulo_principal-contac {
        font-size: 2em;
    }
    // Texto superior
    .texto_superior-contac {
        font-size: 1.3em;
        margin: 5% 10%;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 2em;
    }
    // Contenedor de elementos contacto
    .section_principal-contac {
        margin-bottom: 5%;
    }
    // Sección body del contac
    .section_body-contac {
        padding: 2% 10%;
    }
    // Sección opciones principales
    .containt_contacZaabra-contac {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3%;
        margin-left: 1%;
    }
    .icon_ubicacion-contac {
        background-image: url(/img/contacto/icono-ubicacion.svg);
        background-repeat: no-repeat;
        background-size: 21%;
        height: 5vh;
        width: 35%;
        padding-right: 0;
        padding-left: 8%;
        margin-left: 0;
    }
    .icon_telefono-contac {
        background-image: url(/img/contacto/icono-telefono.svg);
        background-repeat: no-repeat;
        background-size: 32%;
        height: 5vh;
        width: 23%;
        padding-right: 0;
        padding-left: 8%;
        margin-left: 0;
    }
    .icon_email-contac {
        background-image: url(/img/contacto/icono-email.svg);
        background-repeat: no-repeat;
        background-size: 21%;
        height: 5vh;
        width: 35%;
        padding-right: 0;
        padding-left: 8%;
        margin: 0;
    }
    .titulo_opcion-contac {
        font-size: 1.2em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: 1em;
        line-height: 1.2;
    }
    .section_input-option-contac {
        justify-content: space-around;
        height: 13vh;
    }
    .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 60%;
    }
    .texto_option-input-contac {
        font-size: 1.25em;
    }
    .Subtext_interno-contac {
        font-family: "Roboto", "Regular";
        font-size: 1.2em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 15% 5% 15%;
    }
    // Sección campos de validación
    .texto_label-contac {
        font-size: 1.3em;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-family: "Quicksand";
        font-size: 1.25em;
        color: #ffffff;
        background: #0083D6;
        border: none;
        border-radius: 5px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 30%;
    }
    .flecha_envio-contac {
        width: 12%;
    }
}
@media (min-width: 1024px) {
    .titulo_principal-contac {
        font-size: 2em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #232323;
        margin: 3% 0;
        text-align: center;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 2em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 3% 10% 2% 10%;
        text-align: center;
    }
    .Subtext_interno-contac {
        font-size: 1.1em;
        margin: 0 25% 3%;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 42vh;
    }
    .texto_superior-contac {
        font-size: 1.1em;
        margin: 2% 15%;
    }
    // Contenedor de elementos contacto
    .containt_contacZaabra-contac {
        display: flex;
        justify-content: center;
        margin: 3% 0 2% 0;
    }
    .section_principal-contac {
        margin-bottom: 3%;
    }
    .icon_ubicacion-contac {
        background-size: 18%;
        height: 7vh;
    }
    .icon_telefono-contac {
        background-size: 28%;
        height: 7vh;
    }
    .icon_email-contac {
        background-size: 18%;
        height: 7vh;
    }
    .Subtext_interno-contac {
        font-size: 1.1em;
        margin: 0 30% 3%;
        text-align: center;
    }
    // Sección opciones principales
    .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 40%;
    }
    .texto_label-contac {
        font-size: 1.1em;
    }
    // Botón inferior ingresar
    .btn_enviar-contac {
        width: 25%;
    }
    .flecha_envio-contac {
        width: 10%;
    }
}
@media (min-width: 1440px) {
    .titulo_principal-contac {
        font-size: 2.5em;
        margin: 3% 0;
    }
    // Texto superior 
    .texto_superior-contac {
        font-size: 1.5em;
        margin: 2% 10%;
    }
    // Información contacto Zaabra
    .containt_contacZaabra-contac {
        justify-content: space-evenly;
        margin: 4% 0 3% 0;
    }
    .icon_ubicacion-contac {
        background-size: 20%;
        height: 8vh;
    }
    .icon_telefono-contac {
        background-size: 31%;
        height: 8vh;
    }
    .icon_email-contac {
        background-size: 20%;
        height: 8vh;
    }
    .titulo_opcion-contac {
        font-size: 1.5em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: 1.25em;
        line-height: 1;
    }
    // Fila contenido de opciones y formulario contacto
    .Subtitulo_interno-contac {
        font-size: 2.5em;
    }
    .Subtext_interno-contac {
        font-size: 1.5em;
        margin: 0 0 2% 0;
    }
    // Sección campos de validación
    .texto_label-contac {
        font-size: 1.5em;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-size: 1.5em;
    }
    .flecha_envio-contac {
        width: 11%;
    }
}
@media (min-width: 1920px) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 48vh;
    }
    // Foila contenido opciones y formulario contacto
    .Subtitulo_interno-contac {
        margin: 3% 20% 2% 20%;
    }
    // Información contacto Zaabra
    .containt_contacZaabra-contac {
        justify-content: space-evenly;
        margin: 4% 0 2% 0;
    }
    .icon_ubicacion-contac {
        background-size: 20%;
        height: 8vh;
        width: 20%;
    }
    .icon_telefono-contac {
        background-size: 28%;
        height: 8vh;
        width: 14%;
    }
    .icon_email-contac {
        background-size: 20%;
        height: 8vh;
        width: 20%;
    }
   // Sección opciones principales
   .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 35%;
    }
    .texto_option-input-contac {
        font-size: 1.25em;
    }
    .input_height-fullhd-contac {
        height: 5vh;
        font-size: 1.25em;
    }
    // Boton enviar
    .flecha_envio-contac {
        width: 8%;
    }
}