// Banner principal
.imagen_bannerPrin-contac {
    width: 100%;
    padding: 0;
    height: 30vh;
    object-fit: cover;
}
.title_banner_contac {
    color: #0083D6;
    font-family: "Quicksand";
    font-size: 2.2em;
    font-weight: 700;
    position: absolute;
    top: 20%;
    left: 16%;
    line-height: 1;
}
// Titulo principal superior
.titulo_principal-contac {
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif; 
    font-weight: bolder;
    color: #232323;
    margin: 10% 0;
    text-align: center;
}
// Texto superior
.texto_superior-contac {
    font-family: 'Roboto', 'Regular';
    font-size: 1em;
    color: #3E3E3E;
    text-align: center;
    margin: 2% 8%;
}
//Información contacto Zaabra
.containt_contacZaabra-contac {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
}
.icon_ubicacion-contac {
    background-image: url('/img/contacto/icono-ubicacion.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 35%;
    padding-right: 0;
    padding-left: 5%;
    margin: 0;
}
.icon_telefono-contac {
    background-image: url('/img/contacto/icono-telefono.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    padding-right: 0;
    padding-left: 5%;
    margin: 0;
}
.icon_email-contac {
    background-image: url('/img/contacto/icono-email.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    padding-right: 0;
    padding-left: 5%;
    margin: 0;
}
.titulo_opcion-contac {
    font-size: 1em;
    font-weight: bold;
}
.text_opcion-contac {
    font-size: .85em;
}
// Fila contenido opciones y formulario contacto
.fila_containt-options-contac {
    background: #F6F6F6;
    justify-content: center;
}
// Subtitulo interno 
.Subtitulo_interno-contac {
    font-size: 1.3em;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    margin: 3% 0;
    text-align: center;
}
// Contenedor elementos contacto
.section_principal-contac {
    border: none;
    margin-bottom: 3%;
    padding: 0;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
}
// Sección body del contac
.section_body-contac {
    padding: 2% 12% 5% 12%;
}
// Sección opciones principales
.section_input-option-contac {
    justify-content: center;
    height: calc(3em + 5em);
}
.input_option-contac {
    display: flex;
    justify-content: center;
    padding: 0;
}
.input_img-option-contac {
    margin: 0;
    height: 100%;
    width: 50%;
}
.texto_option-input-contac {
    font-family: 'Roboto';
    font-size: 1em;
    align-self: flex-end;
}
// Clases utilizadas para la función de ocultar y mostrar elementos en la vista de registro de usuarios
// La función se encuentra en el archivo register.js
.name_user-contac, .name_institution-contac, .second_date-contac{
    display: none;
}
// Sección campos de validación
.texto_label-contac {
    font-family: 'Quicksand', 'Regular';
    font-size: 1em;
    font-weight: bold;
    color: #232323;
    text-align: left;
}
// Botón inferior enviar
.content_btn-enviar-contac {
    display: flex;
    justify-content: center;
}
.btn_enviar-contac {
    font-family: "Quicksand";
    font-size: 1em;
    color: #ffffff;
    background: #0083D6;
    border: none;
    border-radius: 5px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 30%;
    margin-top: 5%;
    margin-bottom: 0;
}
.flecha_envio-contac {
    width: 10%;
}
@media (min-width: 320px) and (orientation: portrait) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 18vh;
    }
    .title_banner_contac {
        font-size: 0.95em;
        top: 17%;
        left: 4%;
    }
    // Titulo principal superior
    .titulo_principal-contac {
        font-size: 1em;
        margin: 5% 6%;
    }
    // Texto superior
    .texto_superior-contac {
        font-size: .75em;
        margin: 5% 0;
    }
    //Información contacto Zaabra
    .containt_contacZaabra-contac {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 3% 0 7% 0;
    }
    // Sección opciones principales
    .section_input-option-contac {
        justify-content: space-around;
        height: calc(2em + 5em);
    }
    //Información contacto Zaabra
    .icon_ubicacion-contac {
        width: 100%;
        padding-right: 0;
        padding-left: 12%;
        display: flex;
        flex-direction: column;
    }
    .icon_telefono-contac {
        width: 100%;
        padding-right: 0;
        padding-left: 12%;
        display: flex;
        flex-direction: column;
    }
    .icon_email-contac {
        width: 100%;
        padding-right: 0;
        padding-left: 12%;
        display: flex;
        flex-direction: column;  
    }
    .titulo_opcion-contac {
        font-size: .75em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: .7em;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 1em;
        margin: 3% 0;
    }
    .Subtext_interno-contac {
        font-family: 'Roboto', 'Regular';
        font-size: .7em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 5% 5% 5%;
    }
    // Contenedor elementos contacto
    .section_principal-contac {
        margin-bottom: 5%;
    }
    // Sección body del contac
    .section_body-contac {
        padding: 2% 5%;
    }
    // Sección opciones principales
    .input_img-option-contac {
        width: 70%;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-family: "Quicksand";
        font-size: .85em;
        color: #ffffff;
        background: #0083D6;
        border: none;
        border-radius: 5px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 50%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .flecha_envio-contac {
        width: 9%;
    }    
}
@media (min-width: 360px) and (orientation: portrait) {
    .title_banner_contac {
        font-size: 1.1em;
        top: 16%;
        left: 4%;
    }
    .titulo_principal-contac {
        font-size: 1em;
        margin: 5% 16%;
    }
    .Subtext_interno-contac {
        font-family: "Roboto", "Regular";
        font-size: 0.7em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 15% 5% 15%;
    }
}
@media (min-width: 375px) and (orientation: portrait) {
    .title_banner_contac {
        font-size: 1.1em;
        top: 15.5%;
        left: 4%;
    }
} 
@media (min-width: 768px) and (orientation: portrait) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 20vh;
    }
    .title_banner_contac {
        font-size: 2.35em;
        top: 15%;
        left: 4%;
    }
    // Titulo principal superior
    .titulo_principal-contac {
        font-size: 2em;
    }
    // Texto superior
    .texto_superior-contac {
        font-size: 1.3em;
        margin: 5% 10%;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 2em;
    }
    // Contenedor de elementos contacto
    .section_principal-contac {
        margin-bottom: 5%;
    }
    // Sección body del contac
    .section_body-contac {
        padding: 2% 10%;
    }
    // Sección opciones principales
    .containt_contacZaabra-contac {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 3% 0 5% 0;
    }
    .icon_ubicacion-contac {
        width: 43%;
        padding-right: 0;
        padding-left: 7%;
    }
    .icon_telefono-contac {
        width: 20%;
        padding-right: 0;
        padding-left: 7%;
        margin: 0;
    }
    .icon_email-contac {
        width: 37%;
        padding-right: 0;
        padding-left: 7%;
    }
    .titulo_opcion-contac {
        font-size: 1.2em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: 1em;
    }
    .section_input-option-contac {
        justify-content: space-around;
        height: calc(3em + 7em);
    }
    .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 60%;
    }
    .texto_option-input-contac {
        font-size: 1.25em;
    }
    .Subtext_interno-contac {
        font-family: "Roboto", "Regular";
        font-size: 1.2em;
        color: #3E3E3E;
        text-align: center;
        margin: 0 15% 5% 15%;
    }
    // Sección campos de validación
    .texto_label-contac {
        font-size: 1.3em;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-family: "Quicksand";
        font-size: 1.25em;
        color: #ffffff;
        background: #0083D6;
        border: none;
        border-radius: 5px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 30%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .flecha_envio-contac {
        width: 12%;
    }
}
@media (min-width: 1024px) {
    .titulo_principal-contac {
        font-size: 2em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #232323;
        margin: 3% 0;
        text-align: center;
    }
    // Subtitulo interno 
    .Subtitulo_interno-contac {
        font-size: 2em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 3% 10% 2% 10%;
        text-align: center;
    }
    .Subtext_interno-contac {
        font-size: 1.1em;
        margin: 0 25% 3%;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 42vh;
    }
    .title_banner_contac {
        font-size: 3.1em;
        top: 25%;
        left: 10%;
    }
    .texto_superior-contac {
        font-size: 1.1em;
        margin: 2% 15%;
    }
    .icon_ubicacion-contac {
        width: 30%;
    }
    .icon_telefono-contac {
        width: 18%;
    }
    .icon_email-contac {
        width: 22%;
    }
    .section_principal-contac {
        margin-bottom: 3%;
    }
    .Subtext_interno-contac {
        font-size: 1.1em;
        margin: 0 30% 3%;
        text-align: center;
    }
    // Sección opciones principales
    .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 40%;
    }
    .texto_label-contac {
        font-size: 1.1em;
    }
    // Botón inferior ingresar
    .btn_enviar-contac {
        width: 25%;
    }
    .flecha_envio-contac {
        width: 10%;
    }
}
@media (min-width: 1360px) {
    .title_banner_contac {
        font-size: 3em;
        top: 25%;
        left: 15%;
    }
}
@media (min-width: 1440px) {
    .title_banner_contac {
        font-size: 3.5em;
        top: 24%;
        left: 12%;
    }
    .titulo_principal-contac {
        font-size: 2.5em;
        margin: 3% 0;
    }
    // Texto superior 
    .texto_superior-contac {
        font-size: 1.5em;
        margin: 2% 10%;
    }
    .section_input-option-contac {
        justify-content: center;
        height: calc(5em + 5em);
    }
    .titulo_opcion-contac {
        font-size: 1.5em;
        font-weight: bold;
    }
    .text_opcion-contac {
        font-size: 1.25em;
    }
    .icon_ubicacion-contac {
        width: 35%;
    }
    .icon_telefono-contac {
        width: 20%;
    }
    // Fila contenido de opciones y formulario contacto
    .Subtitulo_interno-contac {
        font-size: 2.5em;
    }
    .Subtext_interno-contac {
        font-size: 1.5em;
        margin: 0 0 2% 0;
    }
    // Sección campos de validación
    .texto_label-contac {
        font-size: 1.5em;
    }
    // Botón inferior enviar
    .btn_enviar-contac {
        font-size: 1.5em;
    }
    .flecha_envio-contac {
        width: 11%;
    }
}
@media (min-width: 1920px) {
    // Banner principal
    .imagen_bannerPrin-contac {
        height: 48vh;
    }
    .title_banner_contac {
        font-size: 4.25em;
        top: 28%;
        left: 15%;
    }
    // Foila contenido opciones y formulario contacto
    .Subtitulo_interno-contac {
        margin: 3% 20% 2% 20%;
    }
    .containt_contacZaabra-contac {
        margin-left: 2%;
    }
    .icon_ubicacion-contac {
        width: 30%;
        padding-left: 4%;
    }
    .icon_telefono-contac {
        width: 20%;
        padding-left: 4%;
    }
    .icon_email-contac {
        width: 20%;
        padding-left: 4%;
    }
   // Sección opciones principales
   .input_img-option-contac {
        margin: 0;
        height: 100%;
        width: 35%;
    }
    .texto_option-input-contac {
        font-size: 1.25em;
    }
    .input_height-fullhd-contac {
        height: 5vh;
        font-size: 1.25em;
    }
    // Boton enviar
    .flecha_envio-contac {
        width: 8%;
    }
}