.infoZaabra_contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5% 0;
}
.ubicacion-contacto {
    background-image: url('/img/contacto/icono-ubicacion.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 1% 0 1% 15%;
}
.titulo_infoZaabra_contacto {
    font-size: .8em;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #232323;
}
.txt_infoZaabra_contacto {
    font-size: .8em;
    font-family: 'Roboto';
    color: #3E3E3E;
}

.telefono_contacto {
    background-image: url('/img/contacto/icono-telefono.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 1% 0 1% 15%;
}
.email_contacto {
    background-image: url('/img/contacto/icono-email.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 1% 0 1% 15%;
}
.options_users_contacto {
    background: #F6F6F6;
    justify-content: center;
}
.body_contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo_users_contacto {
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    margin: 5% 0 3% 0;
    text-align: center;
}
.Subtext_interno-contac {
    font-size: .8em;
    font-family: 'Roboto', 'Regular';
    color: #3E3E3E;
    text-align: center;
    margin-bottom: 5%;
}
.tipos_users_contacto {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border: none;
    margin-bottom: 10%;
    padding: 7% 3% 8% 3%;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
}
.section_input-option-contac {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75px;
}
.input_option-contac {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 25%;
}
.input_img-option-contac {
    margin: 0;
    height: 100%;
    width: 50px;
    object-fit: contain;
    object-position: top;
}
.texto_option-input-contac {
    font-family: 'Roboto';
    font-size: .95em;
    align-self: flex-end;
}
.content_btn-enviar-contac {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.texto_label-contac {
    font-family: 'Quicksand', 'Regular';
    font-size: 1em;
    font-weight: bold;
    color: #232323;
    text-align: left;
}
.btn_enviar-contac {
    font-size: .95em;
    font-family: "Quicksand";
    color: #ffffff;
    background: #0083D6;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin: 0;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flecha_envio-contac {
    width: 12px;
}
.content_terminos_contac {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.check_terminos_contac {
    width: 18px;
    height: 20px;
} 
.txt_terminos_contac {
    font-size: .85em;
    font-family: 'Roboto';
    color: #434142;
    width: 92%;
    margin: 0;
}
.txt_terminos_contac a{
    font-size: .85em;
    font-family: 'Roboto';
    color:#434142 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}
// Clases utilizadas para la función de ocultar y mostrar elementos en la vista de registro de usuarios
// La función se encuentra en el archivo register.js
.name_user-contac, .name_institution-contac, .second_date-contac{
    display: none;
}
@media (min-width: 600px) {
    .cabecera_contacto {
        width: 85%;
        margin: auto;
    }
    .titulo_infoZaabra_contacto {
        font-size: 1.2em;
    }
    .txt_infoZaabra_contacto {
        font-size: 1.05em;
    }
    .ubicacion-contacto, .telefono_contacto, .email_contacto {
        padding: 1% 0 1% 10%;
    }
    .body_contacto {
        width: 75%;
    }
    .titulo_users_contacto {
        font-size: 2em;
    }
    .Subtext_interno-contac {
        font-size: 1.3em;
        padding: 0 7%;
    }
    .section_input-option-contac {
        height: 100px;
        justify-content: center;
    }
    .input_img-option-contac {
        width: 65px;
    }
    .texto_option-input-contac {
        font-size: 1.3em;
    }
    .btn_enviar-contac {
        font-size: 1.2em;
        width: 125px;
        padding: 2%;
    }
    .flecha_envio-contac {
        width: 16px;
    }
    .texto_label-contac {
        font-size: 1.2em;
    }
    .txt_terminos_contac {
        font-size: 1em;
        width: 95%;
    }
}
@media (min-width: 1024px) {
    .cabecera_contacto {
        width: 100%;
    }
    .subTitulo_infoZaabra {
        padding: 0 10%;
        margin: 3% 0;
    }
    .infoZaabra_contacto {
        flex-direction: row;
        margin: 5% 0;
        padding-left: 5%;
    }
    .telefono_contacto {
        width: 75%;
    }
    .ubicacion-contacto, .telefono_contacto, .email_contacto {
        padding: 0 0 0 5%;
    }
    .Subtext_interno-contac {
        padding: 0 15%;
    }
    .btn_enviar-contac {
        padding: 1% 3%;
    }
    .txt_terminos_contac {
        font-size: 1.1em;
    }
}
@media (min-width: 1200px) {
    .body_contacto {
        width: 65%;
    }
    .infoZaabra_contacto {
        padding-left: 9%;
    }
    .infoZaabra_contacto {
        padding-left: 15%;
        padding-right: 5%;
    }
}
@media (min-width: 1360px) {
    .infoZaabra_contacto {
        padding-left: 15%;
        padding-right: 5%;
    }
}

@media (min-width: 1440px) {
    .titulo_infoZaabra_contacto {
        font-size: 1.5em;
    }
    .txt_infoZaabra_contacto {
        font-size: 1.2em;
    }
    .infoZaabra_contacto {
        padding-left: 10%;
        padding-right: 2%;
    }
    .txt_terminos_contac {
        font-size: 1.2em;
        width: 96%;
    }
}
@media (min-width: 1920px) {
    .cabecera_contacto {
        width: 75%;
    }
    .subTitulo_infoZaabra {
        padding: 0 15%;
    }
    .titulo_users_contacto {
        font-size: 2.5em;
    }
    .Subtext_interno-contac {
        font-size: 1.6em;
    }
    .body_contacto {
        width: 50%;
    }
    .section_input-option-contac {
        height: 125px;
    }
    .input_img-option-contac {
        width: 80px;
    }
    .texto_option-input-contac {
        font-size: 1.5em;
    }
    .btn_enviar-contac {
        font-size: 1.5em;
        width: 160px;
    }
    .flecha_envio-contac {
        width: 20px;
    }
    .texto_label-contac {
        font-size: 1.38em;
    }
    .txt_terminos_contac {
        font-size: 1.22em;
    }
}