// .containt_slide_prinInst {
//     width: 28%;
//     position: absolute;
//     top: 113px;
//     left: 164px;
// }
// .imagen_bannerPrin-entid {
//     width: 100%;
//     padding: 0;
// }
// .titulo_banner_inst{
//     color: #019F86;
//     font-family: "Quicksand";
//     font-size: 2.2em;
//     font-weight: bolder;
//     margin-bottom: 4%;
//     /*position: absolute;
//     top: 23%;
//     left: 16%;
//     margin: 0;*/
// }
// .texto_banner_inst {
//     color: #232323;
//     font-family: "Quicksand";
//     font-size: .85em;
//     font-weight: bolder;
//     /*position: absolute;
//     top: 29%;
//     left: 16%;
//     text-transform: inherit;*/
// }





/*.title_banner_entidad {
    color: #019F86;
    font-family: "Quicksand";
    font-size: 2.2em;
    font-weight: 700;
    position: absolute;
    top: 23%;
    left: 16%;
    z-index: 10;
    margin: 0;
}
.subtitle_banner_entidad {
    color: #232323;
    font-family: "Quicksand";
    font-size: .85em;
    font-weight: 700;
    position: absolute;
    top: 29%;
    left: 16%;
    z-index: 10;
    text-transform: inherit;
}*/
// Sección tarjetas profesionales de al salud
 .container_entidades {
    margin: auto;
    padding: 0;
    justify-content: flex-start;
    margin-left: 16%;
}
.content_img_entidades {
    display: flex;
    justify-content: center;
    align-self: center;
}
// Sección boton ver especialidades
.section_btn_entidades { 
    display: flex;
    justify-content: center;
}
.logosUniversidades {
    width: 50%; 
}
.contains_slider-logos-galeriaProf {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 320px) and (orientation: portrait) {
    // .containt_slide_prinInst {
    //     width: 50%;
    //     top: 31px;
    //     left: 16px;
    // }
    // .imagen_bannerPrin-entid {
    //     width: 100%;
    //     padding: 0;
    // }
    // .titulo_banner_inst{
    //     font-size: .9em; 
    //     margin-bottom: 1%;
    // }
    // .texto_banner_inst {
    //     font-size: .5em; 
    // }



    /*.title_banner_entidad {
        font-size: .9em;
        top: 15%;
        left: 5%;
    }
    .subtitle_banner_entidad {
        font-size: 0.5em;
        top: 18%;
        left: 5%;
    }*/
    // Sección del titulo Entidades
    .title_entidades {
        font-size: 1.3em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 5% 0;
        text-align: center;
    }
    // Sección tarjetas profesionales de al salud
    .container_entidades {
        margin-left: 0;
        padding: 0;
        justify-content: space-evenly;
    }
    .section_entidades {
        margin-bottom: 7%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .content_img_entidades {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .imagen_entidades {
        width: 85px;
        height: 85px; 
    }
    .subtitle_entidades {
        font-size: .8em;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: #232323;
        margin: 5% 0;
        padding: 0;
        text-align: center;
    }
    .texto_entidades {
        font-size: .625em;
        font-family: 'Roboto', sans-serif;
        color: #3E3E3E;
        text-align: center;
        margin: 5% 0;
        height: 7.5vh;
    }
    // Sección boton ver especialidades
    .section_btn_entidades { 
        display: flex;
        justify-content: center;
    }
    .content_btn_entidades {
        width: 85%;
    }
    .btnVer_entidades {
        background: #019F86;
        font-family: "Quicksand", sans-serif;
        font-size: 0.625em;
        color: #FFFFFF;
        padding: 0;
        height: 4vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 9%;
        margin-left: 5%;
    }
    .logosUniversidades {
        width: 50%; 
    }
    // Carrusel logos inferior 
    .contains_slider-logos-galeriaProf {
        height: 20vh; }
}  
@media(min-width: 360px) and (orientation: portrait) {
    // .containt_slide_prinInst {
    //     width: 46%;
    //     top: 42px;
    //     left: 18px;
    // }




    .texto_entidades {
        height: 6.5vh;
    }
} 
@media (min-width: 375px) and (orientation: portrait) {
    // .containt_slide_prinInst {
    //     width: 45%;
    //     top: 39px;
    //     left: 19px;
    // }
    // .titulo_banner_inst {
    //     margin-bottom: 3%;
    // }





    /*.title_banner_entidad {
        top: 14%;
    }
    .subtitle_banner_entidad {
        top: 17%;
    }*/
}
@media (min-width: 768px) and (orientation: portrait) {
    // .containt_slide_prinInst {
    //     width: 42%;
    //     top: 74px;
    //     left: 40px;
    // }
    // .titulo_banner_inst {
    //     font-size: 2em;
    //     margin-bottom: 2%;

    // }
    // .texto_banner_inst {
    //     font-size: 1em;

    // }






    /*.title_banner_entidad {
        font-size: 2em;
        top: 13%;
        left: 5%;
    }
    .subtitle_banner_entidad {
        font-size: 1em;
        top: 16%;
        left: 5%;
    }*/
    .title_entidades {
        font-size: 2.5em;
    }
    .container_entidades {
        padding: 0 3%;
    }
    .imagen_entidades {
        width: 150px;
        height: 150px;
    }
    .subtitle_entidades {
        font-size: 1.8em;
    }
    .texto_entidades {
        font-size: 1em;
        height: 5vh;
        margin: 5% 0 0 0;
    }
    .content_btn_entidades {
        width: 75%;
        margin: auto;
    }
    .btnVer_entidades {
        background: #019F86;
        font-family: "Quicksand", sans-serif;
        font-size: 1.25em;
        color: #FFFFFF;
        padding: 0;
        height: 3vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 7%;
        margin-left: 3%;
    }
}  
@media (min-width: 1024px) {
    // Sección del titulo
    .title_entidades {
        font-size: calc(0.95em + 1vw);
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 3% 0;
        text-align: center;
    }
    // Sección tarjetas profesionales de al salud
      .section_entidades {
        margin: 1% 1% 3% 1%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .imagen_entidades {
        width: 125px;
        height: 125px;
    }
    .subtitle_entidades {
        font-size: calc(0.5em + .9vw);
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: #232323;
        padding: 0;
        text-align: center;
        margin-top: 3%;
    }
    .texto_entidades {
        font-size: calc(.2em + .8vw);
        font-family: 'Quicksand', sans-serif;
        color: #3E3E3E;
        text-align: center;
        margin-bottom: 5%;
        height: 6.5vh;
    }
    .content_btn_entidades {
        width: 80%;
    }
    // Sección boton ver especialidades
    .btnVer_entidades {
        background: #019F86;
        font-family: 'Quicksand', sans-serif;
        font-size: calc(.2em + .8vw);
        color: #FFFFFF;
        padding: 0;
        height: 3.5vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 7%;
        margin-left: 2%;
    }
    .contains_slider-logos-galeriaProf {
        height: 25vh;
    }
}
@media (min-width: 1200px) {
    // .containt_slide_prinInst {
    //     top: 121px;
    //     left: 192px;
    // }
    // .titulo_banner_inst {
    //     font-size: 2.5em;
    // }
    // .texto_banner_inst {
    //     font-size: 1em;
    // }





    /*.title_banner_entidad {
        font-size: 2.5em;
        top: 24%;
        left: 16%;
    }
    .subtitle_banner_entidad {
        font-size: 1em;
        top: 31%;
        left: 16%;
    }*/
    .container_entidades {  
        margin-left: 23%;
    }
    .texto_entidades {
        font-size: calc(.1em + .8vw);
    }
    .btnVer_entidades {
        font-size: calc(.2em + .8vw);
        height: 4vh;
    }
}
@media (min-width: 1360px) {
    // .containt_slide_prinInst {
    //     width: 24%;
    //     top: 86px;
    //     left: 218px;
    // }
    // .titulo_banner_inst {
    //     margin-bottom: 1%;
    // }




    .texto_entidades {
        height: 7.5vh;
    }
}
@media (min-width: 1440px) {
    // .containt_slide_prinInst {
    //     width: 29%;
    //     top: 173px;
    //     left: 231px;
    // }
    // .titulo_banner_inst {
    //     font-size: 3.4em;
    //     margin-bottom: 6%;
    // }
    // .texto_banner_inst {
    //     font-size: 1.25em;
    // }





    /*.title_banner_entidad {
        font-size: 3.4em;
        top: 27%;
        left: 16%;
    }
    .subtitle_banner_entidad {
        font-size: 1.25em;
        top: 36%;
        left: 16%;
    }*/
    .title_entidades {
        margin: 2% 0;
    }
    .texto_entidades {
        font-size: calc(.035em + .7vw);
        height: 4vh;
    }
    .content_btn_entidades {
        width: 75%;
    }
}
@media (min-width: 1920px) {
    // .containt_slide_prinInst {
    //     width: 28%;
    //     top: 177px;
    //     left: 307px;
    // }
    // .titulo_banner_inst {
    //     font-size: 4em;
    //     margin-bottom: 3%;
    // }
    // .texto_banner_inst {
    //     font-size: 1.7em;
    // }






    /*.title_banner_entidad {
        font-size: 4em;
        top: 26%;
        left: 16%;
    }
    .subtitle_banner_entidad {
        font-size: 1.7em;
        top: 35%;
        left: 16%;
    }*/
    .texto_entidades {
        height: 5vh;
    }
    .btnVer_entidades {
        font-size: calc(.15em + .8vw);
        height: 3.5vh;
    }
}