.imagen_bannerPrin-entid {
    width: 100%;
    padding: 0;
}
// Sección tarjetas profesionales de al salud
 .container_entidades {
    margin: auto;
    padding: 0;
    justify-content: flex-start;
    margin-left: 16%;
}
.content_img_entidades {
    display: flex;
    justify-content: center;
    align-self: center;
}
// Sección boton ver especialidades
.section_btn_entidades { 
    display: flex;
    justify-content: center;
}
.logosUniversidades {
    width: 50%; 
}
.contains_slider-logos-galeriaProf {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 320px) and (orientation: portrait) {
    .imagen_bannerPrin-entid {
        width: 100%;
        padding: 0;
    }
    // Sección del titulo Entidades
    .title_entidades {
        font-size: 1.3em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 5% 0;
        text-align: center;
    }
    // Sección tarjetas profesionales de al salud
    .container_entidades {
        margin-left: 0;
        margin-bottom: 10%;
        padding: 0;
        justify-content: space-evenly;
    }
    .section_entidades {
        margin-bottom: 3%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .content_img_entidades {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .imagen_entidades {
        width: 85px;
        height: 85px; 
    }
    .subtitle_entidades {
        font-size: .8em;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: #232323;
        margin: 5% 0;
        padding: 0;
        text-align: center;
    }
    .texto_entidades {
        font-size: .625em;
        font-family: 'Roboto', sans-serif;
        color: #3e3e3e;
        text-align: center;
        margin: 5% 0;
        height: 6vh;
    }
    // Sección boton ver especialidades
    .section_btn_entidades { 
        display: flex;
        justify-content: center;
    }
    .content_btn_entidades {
        width: 85%;
    }
    .btnVer_entidades {
        background: #019F86;
        font-family: "Quicksand", sans-serif;
        font-size: 0.625em;
        color: #ffffff;
        padding: 0;
        height: 4vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 9%;
        margin-left: 5%;
    }
    .logosUniversidades {
        width: 50%; 
    }
    // Carrusel logos inferior 
    .contains_slider-logos-galeriaProf {
        height: 20vh; }
}  
@media(min-width: 360px) and (orientation: portrait) {
    .texto_entidades {
        height: 5vh;
    }
} 
@media (min-width: 768px) and (orientation: portrait) {
    .title_entidades {
        font-size: 2.5em;
    }
    .container_entidades {
        padding: 0 3%;
    }
    .imagen_entidades {
        width: 150px;
        height: 150px;
    }
    .subtitle_entidades {
        font-size: 1.8em;
    }
    .texto_entidades {
        font-size: 1em;
        height: 4vh;
        margin: 5% 0 0 0;
    }
    .content_btn_entidades {
        width: 75%;
        margin: auto;
    }
    .btnVer_entidades {
        background: #019F86;
        font-family: "Quicksand", sans-serif;
        font-size: 1.25em;
        color: #ffffff;
        padding: 0;
        height: 3vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 7%;
        margin-left: 3%;
    }
}  
@media (min-width: 1024px) {
    // Sección del titulo ramas de la salud
    .title_entidades {
        font-size: calc(0.95em + 1vw);
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #019F86;
        margin: 3% 0;
        text-align: center;
    }
    .container_entidades {
        margin-bottom: 5%;
    }
    // Sección tarjetas profesionales de al salud
      .section_entidades {
        margin: 1%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .imagen_entidades {
        width: 125px;
        height: 125px;
    }
    .subtitle_entidades {
        font-size: calc(0.5em + .9vw);
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: #232323;
        padding: 0;
        text-align: center;
        margin-top: 3%;
    }
    .texto_entidades {
        font-size: calc(.2em + .8vw);
        font-family: 'Quicksand', sans-serif;
        color: #3e3e3e;
        text-align: center;
        margin-bottom: 5%;
        height: 5vh;
    }
    .content_btn_entidades {
        width: 80%;
    }
    // Sección boton ver especialidades
    .btnVer_entidades {
        background: #019F86;
        font-family: 'Quicksand', sans-serif;
        font-size: calc(.2em + .8vw);
        color: #ffffff;
        padding: 0;
        height: 3.5vh;
        width: 100%;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon_arrow_entidades {
        width: 7%;
        margin-left: 2%;
    }
    .contains_slider-logos-galeriaProf {
        height: 25vh;
    }
}
@media (min-width: 1200px) {
    .container_entidades {  
        margin-left: 23%;
    }
    .texto_entidades {
        font-size: calc(.1em + .8vw);
        height: 6vh;
    }
    .btnVer_entidades {
        font-size: calc(.2em + .8vw);
        height: 4vh;
    }
}
@media (min-width: 1440px) {
    .title_entidades {
        margin: 2% 0;
    }
    .texto_entidades {
        font-size: calc(.035em + .7vw);
        height: 3vh;
    }
    .content_btn_entidades {
        width: 75%;
    }
}
@media (min-width: 1920px) {
    .texto_entidades {
        height: 4vh;
    }
    .btnVer_entidades {
        font-size: calc(.15em + .8vw);
        height: 3.5vh;
    }
}