// Footer Newsletter
.footer_newsletter {
    background: #e8e8e8;
    margin: auto;
    padding: 1% 0;
    text-align: center;
    display: flex;
}
// Newsletter titulo y texto
.newsletter_contenido {
    padding: 0;
    margin: auto;
}
.newsletter_titulo {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.25em;
    font-weight: bold;
    color: #232323;
}
.newsletter_texto {
    font-size: .8em;
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    margin: 0;
    padding: 0;
}
// Newsletter input y bot贸n suscribirme
.suscribirme_contenido {
    margin: auto;
    margin-top: 1%;
    padding: 0; 
}
.form_suscribirme {
    justify-content: center;
}
.input_suscribirme {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    width: 75%;
    border-radius: 3px;
    border: solid .1px #707070;
}
.boton_suscribirme {
    background: #0083D6;
    margin-left: 2%;
    padding: 0;
    width: 23%;
    height: calc(1.5em + 0.55rem + 2px);
    border: solid .1px #0083D6;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_sucrib-foot {
    font-family: 'Quicksand', sans-serif; 
    font-size: 1em;
    color:#ffffff;
}
.boton_icon-flecha {
    margin-left: 5%;
    width: 9%;
}
// Newaletter check terminos y condiciones
.terminos_contenido {
    margin: 1% auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkBox_terminos {
    margin-right: 1%;
    width: 2.5%;
    height: calc(1em + 0.75rem + 2px);
}
.texto_terminos {
    margin: 0;
    font-size: .8em;
    color: #434142;
}
.texto_terminos a{
    color:#232323 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}
// Informacion contactanos Zaabrasalud
.footer_info-zaabrasalud {
    margin: 0;
    padding: 1% 0;
    background: #0083D6;
    justify-content: center;
    align-items: center;
}
// contactanos, logo, iconos y correo
.contactanos_contenido {
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}
// Logo zaabra contactanos
.logo_contactanos {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: initial;
}
.logo_header-footer {
    width: 50%;
}
// Titulo contactanos
.titulo_seccion-info {
    padding: 0;
    font-family: 'Quicksand', sans-serif;  
    font-size: .8em;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
// Iconos redes sociales contactanos
.iconos_redes-sociales {
    margin: 0;
    margin-right: 8%;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: initial;
}
.correo_contactanos {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    color: #ffffff;
    text-align: initial;
    display: flex;
    align-items: flex-end;
}
// Informacion de Zaabra
.infoZaabra_contenido {
    padding: 0;
    text-align: initial;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: baseline; 
    height: 100%;
}
.texto_info-Zaabra {
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    color: #ffffff;
}
// Iconos gobierno de Colombia
.icon_gob-colombia {
    padding: 0;
    display: flex;
    justify-content: flex-end;              
    align-self: center;
}
.icon_hecho-colombia {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.icon_ssl-colombia {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
// Footer copy right 
.footer_copy-right {
    background: #0083D6;
    padding: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto_copy-right {
    font-family: 'Quicksand', sans-serif;
    font-size: .8em;
    color: #ffffff;

}
.alert_Newsletter {
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}
@media (min-width: 320px) and (orientation: portrait) {
    // Newslwtter titulo y texto
    .newsletter_titulo {
        font-size: 1em;
    }
    .newsletter_texto {
        font-size: .7em;
    }
    // Newsletter input y bot贸n suscribirme
    .contenedor-inputyAcepto-footerCel {
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .input_suscribirme-cel {
        font-size: .75em;
        margin-top: 3%;
        padding: 0 5%;
        width: 100%;
        border: solid .1px #707070;
        border-radius: 4px;
    }
    // Newsletter check terminos y condiciones
    .check_terminos-cel {
        margin: 3% auto;
        padding: 0;
        display: flex;
    }
    .boton_check-terminos-cel {
        width: 9%;
        height: calc(.5em + 0.5rem + 1px);
    }
    .texto_terminos-cel {
        font-size: .7em;
        font-weight: bold;
        text-align: initial;
        line-height: 1.5;
        padding-left: 5%;  
    }
    .texto_terminos-cel a{
        color:#232323 !important;
        font-weight: bold !important;
        text-decoration: underline !important;
    }
    .boton_suscribirme-cel {
        background: #0083D6;
        margin: auto;
        font-family: 'Quicksand', sans-serif; 
        color:#ffffff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid .1px #0083D6;
        border-radius: 4px;
        height: calc(1em + 0.75rem + 2px);
    }
    .text_sucrib-foot {
        font-size: .85em;
    }
    .icono_flecha-suscribirme-cel {
        width: 14%;
    }
    // Contactanos logo, iconos y correo
    .contenido_contactanos-cel {
        margin-top: 5%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen_logo-footer {
        padding: 0%;
        height: 8vh;
        width: 100%;
        object-fit: contain;
    }
    .containt_logo-footer {
        display: flex;
        justify-content: center;
    }
    .titulo_contactanos-cel {
        font-size: .9em;
        color: #ffffff;
        text-align: center;
        margin-top: 3%;
        padding: 0;
    }
    .correo_contactanos-cel {
        font-size: .7em;
        color: #ffffff;
        text-align: center;
        padding: 0;
    }
    .iconos_redes-sociales-cel {
        background: #0083D6;
        margin: 2% auto;
        padding: 0;
        height: 5vh;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .icono_red-social-cel {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    // Informacion acerca de zaabra y politicas de uso 
    .infoZaabra_contenido-cel {
        background: #0083D6;
    } 
    .contenido_desplegable-cel {
        margin: auto;
        padding: 0;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boton_infoZaabra-cel {
        background: #0083D6;
        padding: 0;
        height: 100%;
        border: none;   
    }
    //accion de la rotacion en la flecha del boton desplegable
    .rotacion {
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out;
    }
    .rotacionBtn:hover .rotacion {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    //accion de la rotacion en la flecha del boton desplegable
    .icono_flecha-boton-cel {
        color:#ffffff;
        width: 100%;
        display: flex !important;
        align-content: flex-start;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .titulo_infoZaabra-cel {
        font-family: 'Quicksand', sans-serif !important; 
        font-size: 0.7em; 
        color: #ffffff;
        margin-bottom: 0%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .infoZaabra_desplegable-cel {
        margin: auto;
        padding: 0;
    }
    .desplegable_infoZaabra-cel {
        background: #0083D6 !important;
        padding: 0 0 5% 0 !important;
        line-height: 1.4;
        border: none !important;
    }
    .texto_infoZaabra-cel {
        font-size: .7em;
        color: #ffffff;
        padding: 0;
    }
    // Linea divisora de los botones desplegables infoZaabra
    .contenido_linea-blanca-cel {
        background: #0083D6;
        margin: 0;
        padding: 0;
        height: 1vh;
        display: flex;
    }
    .division_linea-blanca-cel {
        background: #ffffff;
        margin: auto;
        width: 91%;
    }
    // Iconos gobierno de Colombia
    .footer_iconos-colombia {
        background: #F5F5F5;
        margin: 0;
        padding: 0 0 0 4%;
        height: 4vh;
    }
    .icon_gob-colombia {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    .icon_hecho-colombia {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    .icon_ssl-colombia {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-self: center;
    }
    .imagen_icono-gobierno {
        width: 92%;
        object-fit: contain;
    }
    .imagen_icono-colombia {
        width: 83%;
        object-fit: contain;
    }
    .imagen_icono-ssl {
        width: 100%;
        object-fit: contain;
    }
    .texto_copy-right {
        font-family: "Quicksand", sans-serif;
        font-size: .63em;
        color: #ffffff;
    }
    .alert_Newsletter2 {
        position: relative;
        padding: 0.75rem 1.25rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        color: #1d643b;
        background-color: #d7f3e3;
        border-color: #c7eed8;
        margin: auto;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    // Newsletter titulo y texto
    .newsletter_titulo {
        font-size: 1.563em;
    }
    .newsletter_texto {
        font-size: 1em;
    }
    // Newsletter input y bot贸n suscribirme
    .input_suscribirme-cel {
        font-size: 1em;
        padding: 0 2%;
    }
    // Newsletter check terminos y condiciones
    .boton_check-terminos-cel {
        width: 4%;
        height: calc(.5em + 0.5rem + 1px);
    }
    .texto_terminos-cel {
        font-size: 1em;
        padding-left: 2%;
    }
    .text_sucrib-foot {
        font-size: 1.25em;
    }
    .icono_flecha-suscribirme-cel {
        width: 12%;
    }
    // Contactanos logo, iconos y correo
    .logo_header-footer {
        width: 100%;
    }
    .contenido_contactanos-cel {
        margin-top: 3%;
    }
    .titulo_contactanos-cel {
        font-size: 1.25em;
        margin-top: 1%;
    }
    .correo_contactanos-cel {
        font-size: 1.25em;
    }
    .iconos_redes-sociales-cel {
        height: 3vh;
        width: 57%;
    }
    .icono_red-social-cel {
        height: 2.5vh;    
    }
    .imagen_red-social-cel {
        height: 80%;
    }
    // Informacion acerca de zaabra y politicas de uso 
    .contenido_desplegable-cel {
        height: 4vh;
    }
    .titulo_infoZaabra-cel {
        font-size: 1.25em;
    }
    .desplegable_infoZaabra-cel {
        line-height: 2;
        padding: 0 0 2% 0 !important;
    }
    .texto_infoZaabra-cel {
        font-size: 1em;
    }
    // Linea divisora de los botones desplegables infoZaabra
    .division_linea-blanca-cel {
        width: 97%;
        height: 2px;
    }
    // Iconos gobierno de Colombia
    .icon_hecho-colombia {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    // Footer copy right 
    .texto_copy-right {
        font-size: 1em;    
    }
}
@media (min-width: 1024px) {
    .logo_header-footer {
        width: 70%;
    }
    .footer_iconos-colombia {
        background: #f5f5f5;
        margin: 0;
        padding: 0;
        height: 5vh;
        justify-content: center; 
    }
    // Iconos gobierno de Colombia
    .imagen_icono-gobierno {
        width: 30vh;
        object-fit: none;
    }
    .imagen_icono-colombia {
        width: 30vh;
        object-fit: none;
    }
    .imagen_icono-ssl {
        width: 30vh;
        object-fit: none;
    }
}
@media (min-width: 1440px){
    // Newsletter titulo y texto
    .newsletter_titulo {
        font-size: 1.563em;
    }
    .newsletter_texto {
        font-size: 1em;
    }
    // Newsletter input y bot贸n suscribirme
    .boton_suscribirme {
        height: calc(1.5em + 0.85rem + 2px);
    }
    .input_suscribirme {
        font-size: 1em;
    }
    // Newaletter check terminos y condiciones
    .texto_terminos {
        font-size: 1em;
    }
    // Titulo contactanos
    .imagen_logo-footer {
        padding: 0%;
        height: 5vh;
        width: 70%;
        object-fit: contain;
    }
    // Seccion logo zaabra
    .logo_header-footer {
        width: 80%;
    }
    .titulo_seccion-info {  
        font-size: 1em;
    }
    // Iconos redes sociales contactanos
    .correo_contactanos {
        font-size: 1em;
    }
    // Informacion de Zaabra
    .texto_info-Zaabra {
        font-size: 1em;
    }
    // Iconos gobierno de Colombia
    .icon_hecho-colombia {
        justify-content: center;
    }
    .icon_ssl-colombia {
        justify-content: flex-start;
    }
    .texto_copy-right {
        font-size: 1em;
    }
}
@media (min-width: 1920px) {
    //Seccion logo Zaabra
    .logo_header-footer {
        width: 95%;
    }
    .boton_icon-flecha {
        width: 7%;
    }
    .checkBox_terminos {
        width: 2%;
    }
}
