// Containers, contents, sections and cards 
.container_line_module_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    //height: 200px;
    width: 300px;
    margin: 5% auto;
}
.container_module_form {
    background: $gray_official;
    padding: 15px;
}
.container_button_form {
    padding: 0;
    margin: auto;
    width: 100%;
}
.card_module_form {
    background: $withe_official;
    margin: auto;
    margin-bottom: 5%;
    padding: 0;
    box-shadow: 0px 2px 5px -2px rgb(0 0 0 / 25%);
}
.card_contentDouble_form {
    width: 100%;
    margin-bottom: 1em;
    padding: .8em;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $gray_first;
    border-radius: 3px;
    box-shadow: 0px 2px 5px -2px rgb(0 0 0 / 25%);
}
.section_icon_form {
    width: 100px;
    height: 100px;
}
.section_input_double_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.section_button_form {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
// Content division line
.line_vertical_form {
    margin: 0;
    padding: 0;
}
// Icons and texts option line
// Icons gray color PROFESSIONAL FORM
.iconGris_perfProf {
    background-image: url('/img/formulario-profesional/icono-perfil-profesional-gris.svg');
    color: $gray_first;
}
.iconGris_trataProced {
    background-image: url('/img/formulario-profesional/icono-tratamientos-y-procedimientos-gris.svg');
    color: $gray_first;
}
.iconGris_premioRecon {
    background-image: url('/img/formulario-profesional/icono-premios-y-reconocimientos-gris.svg');
    color: $gray_first;
}
.iconGris_public {
    background-image: url('/img/formulario-profesional/icono-publicaciones-gris.svg');
    color: $gray_first;
}
.iconGris_galeriaVideo {
    background-image: url('/img/formulario-profesional/icono-galeria-gris.svg');
    color: $gray_first;
}
// Icon's blue color PROFESSIONAL FORM
.iconAzul_datoPersonal {
    background-image: url('/img/formulario-profesional/icono-datos-personales.svg');
    color: $blue_official;
}
.iconAzul_perfProf {
    background-image: url('/img/formulario-profesional/icono-perfil-profesional.svg');
    color: $blue_official;
}
.iconAzul_trataProced {
    background-image: url('/img/formulario-profesional/icono-tratamientos-y-procedimientos.svg');
    color: $blue_official;
}
.iconAzul_premioRecon {
    background-image: url('/img/formulario-profesional/icono-premios-y-reconocimientos.svg');
    color: $blue_official;
}
.iconAzul_public {
    background-image: url('/img/formulario-profesional/icono-publicaciones.svg');
    color: $blue_official;
}
.iconAzul_galeriaVideo {
    background-image: url('/img/formulario-profesional/icono-galeria.svg');
    color: $blue_official;
}
// Icons gray color INSTITUTION FORM
.iconGris_servProfesional {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales-gris.svg');
    color: $gray_first;
}
.iconGris_acercaInst {
    background-image: url('/img/formulario-institucion/acerca-de-la-institucion-gris.svg');
    color: $gray_first;
}
.iconGris_profesionalInst {
    background-image: url('/img/formulario-institucion/icono-profesionales-gris.svg');
    color: $gray_first;
}
.iconGris_certifInst {
    background-image: url('/img/formulario-institucion/icono-certificaciones-gris.svg');
    color: $gray_first;
}
.iconGris_sedeInst {
    background-image: url('/img/formulario-institucion/icono-sede-gris.svg');
    color: $gray_first;
}
.iconGris_galeInst {
    background-image: url('/img/formulario-institucion/icono-galeria-gris.svg');
    color: $gray_first;
}
// Icons green color INSTITUTION FORM
.iconVerde_datoInst {
    background-image: url('/img/formulario-institucion/datos-institucionales-verde.svg');
    color: $green_official;
}
.iconVerde_servProfesional {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales.svg');
    background-repeat: no-repeat;
    color: $green_official;
}
.iconVerde_acercaInst {
    background-image: url('/img/formulario-institucion/acerca-de-la-institucion.svg');
    color: $green_official;
}
.iconVerde_profesionalInst {
    background-image: url('/img/formulario-institucion/icono-profesionales.svg');
    color: $green_official;
}
.iconVerde_certifInst {
    background-image: url('/img/formulario-institucion/icono-certificaciones.svg');
    color: $green_official;
}
.iconVerde_sedeInst {
    background-image: url('/img/formulario-institucion/icono-sede.svg');
    color: $green_official;
}
.iconVerde_galeInst {
    background-image: url('/img/formulario-institucion/icono-galeria.svg');
    color: $green_official;
}
.section_icon_form li {  // Propiedades del icono linea de opciones
    background-repeat: no-repeat;
    background-size: 60px;
    background-position-x: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.section_icon_form p { // Propiedades del texto de los iconos línea de opciones
    font-family: 'Quicksand', 'Regular';
    font-size: .9em;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0;
    line-height: 1;
}
// Icons and card titles PROFESSIONAL FORM
.icon_basicInfo_formProf {
    background-image: url('/img/formulario-profesional/icono-informacion-basica.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoContac_Prof {
    background-image: url('/img/formulario-profesional/icono-informacion-de-contacto.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoConsult_Prof {
    background-image: url('/img/formulario-profesional/icono-informacion-de-consulta.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_destacado_Prof {
    background-image: url('/img/formulario-profesional/icono-agregar-especialidad-favoritos-verde.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoSubPerfil_Prof {
    background-image: url('/img/formulario-profesional/icono-subperfil-profesional.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoEduc_Prof {
    background-image: url('/img/formulario-profesional/icono-educacion.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoExper_Prof {
    background-image: url('/img/formulario-profesional/icono-experiencia.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoAsocia_Prof {
    background-image: url('/img/formulario-profesional/icono-asociaciones.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoIdioma_Prof {
    background-image: url('/img/formulario-profesional/icono-idiomas.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoTratam_Prof {
    background-image: url('/img/formulario-profesional/icono-interno-tratamientos-y-procedimientos.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoPremReco_Prof {
    background-image: url('/img/formulario-profesional/icono-interno-premios-y-reconocimientos.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoPublic_Prof {
    background-image: url('/img/formulario-profesional/icono-interno-publicaciones.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoGale_Prof {
    background-image: url('/img/formulario-profesional/icono-interno-galeria.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
.icon_infoVideo_Prof {
    background-image: url('/img/formulario-profesional/icono-videos.svg') ;
    border-bottom: 1px solid $green_official;
    color: $green_official;
}
// Icon card INSTITUTION FORM
.icon_infoBasica_Inst {
    background-image: url('/img/formulario-institucion/icono-informacion-basica.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_infoContac_Inst {
    background-image: url('/img/formulario-institucion/icono-informacion-de-contacto.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_servProf_Inst {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales-azul.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_servicios_Inst {
    background-image: url('/img/formulario-institucion/icono-servicios.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_quienes_Inst {
    background-image: url('/img/formulario-institucion/icono-quienes-somos.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_propuestaValor_Inst {
    background-image: url('/img/formulario-institucion/icono-propuesta-valor.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_convenios_Inst {
    background-image: url('/img/formulario-institucion/icono-convenios.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_profesionales_Inst {
    background-image: url('/img/formulario-institucion/icono-profesionales-institucion.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_certificaciones_Inst {
    background-image: url('/img/formulario-institucion/icono-certificaciones-azul.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_sedes_Inst {
    background-image: url('/img/formulario-institucion/icono-sedes-azul.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_ubiqueSede_Inst {
    background-image: url('/img/formulario-institucion/icono-ubique-la-sede.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_gallery_Inst {
    background-image: url('/img/formulario-institucion/icono-galeria-azul.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.icon_video_Inst {
    background-image: url('/img/formulario-institucion/icono-videos-azul.svg') ;
    border-bottom: 1px solid $blue_official;
    color: $blue_official;
}
.card_module_form .icon_text { // Propiedades del icono y el titulo de las tajetas de modulos del formualrio
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 23px;
    padding: .7rem 0 .7rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-family: 'Quicksand';
    text-transform: inherit;
}
// Titles and texts
.title_main_form {
    margin: auto;
    padding: 0;
}
.title_main_form h5 {
    font-family: 'Quicksand';
    font-size: 1.5em;
    font-weight: bold;
    color: $blue_official;
    text-align: center;
}
.title_main_form p {
    font-family: 'Roboto';
    font-size: 1em;
    color: $black_firsrt;
    text-align: center;
    padding: 0;
    margin: 3% 0;
}
.textTop_informative_form {
    font-family: 'Roboto';
    font-size: 1em;
    color: $black_second;
    font-weight: 400; 
    margin-bottom: .8em;
}
.text_informative_form {
    font-family: 'Roboto';
    font-size: 1em;
    color: $gray_first;
    padding: 0;
    margin: 0;
}
.alert-message {
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 500;
    color: $red_first;
    text-align: center;
    background-color: $red_second;
    border-color: $red_third;
    border-radius: 3px;
    width: 90%;
    margin: 4% auto;
    padding: 3% 0;
}
/// Upload User profile image
.img_user_form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    padding: 0;
}
.img_user_form img {
    height: 175px;
    width: 175px;
    border-radius: 100px;
    background: $gray_first;
    border: 1px solid $gray_second;
    object-fit: cover;
    object-position: top;
    align-self: center;
}
.img_user_form input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 90%;
    height: 100%;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
}
.img_user_form p {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-size: 15px;
    font-family: "Quicksand", "Regular";
    font-size: 1em;
    color: $black_second;
    text-align: right;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 11em;
}
.img_sede_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding: 0;
}
.img_sede_form img {
    height: 200px;
    width: 100%;
    background: $gray_first;
    border: 1px solid $gray_second;
    object-fit: cover;
    object-position: center;
    align-self: center;
}
.img_sede_form input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
}
.img_sede_form p {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-size: 15px;
    font-family: "Quicksand", "Regular";
    font-size: 1em;
    color: $black_second;
    text-align: right;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 11em;
}
// Upload user logos and images
.upload_file_img_form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    padding: 0;
}
.upload_file_img_form img {
    height: 175px;
    width: 175px;
    background: $gray_first;
    border: 1px solid $gray_second;
    object-fit: contain;
    object-position: center;
    align-self: center;
}
.upload_file_img_form input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 90%;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
}
.upload_file_img_form p {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-size: 15px;
    font-family: "Quicksand", "Regular";
    font-size: 1em;
    color: $black_second;
    text-align: right;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 10.5em;
}
// Labels
.label_txt_form {
    font-family: 'Quicksand';
    font-size: 1em;
    color: $black_third;
    font-weight: bold;
    padding: 0;
    margin-top: .7em;
    margin-bottom: .2em;
}
// Inputs
.input_box_form {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    color: $black_second;
    background-color: $withe_official;
    background-clip: padding-box;
    border: 1px solid $gray_third;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// Text area
.textarea_form {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid $gray_third;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 0;
}
// Buttons
.button_blue_form {
    font-family: "Quicksand";
    font-size: 1em;
    color: $withe_official;
    background: $blue_official;
    border: none;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_green_form {
    font-family: "Quicksand";
    font-size: 1em;
    color: $withe_official;
    background: $green_official;
    border: none;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_transparent_form {
    font-family: "Quicksand";
    font-size: 1em;
    font-weight: bold;
    color: $black_second;
    background: transparent;
    border: 1px solid $black_second;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
}
.button_edit {
    border: none;
    background: transparent;
    font-size: 1.4em;
    color: #019f86;
    padding: 0;
}
// map
.ubicacion_inst {
    width: 290px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
// SAVED USER INFORMATION 
// Saved content, card, target and section
.content_information_saved_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}
.card_information_saved_form {
    margin-bottom: 1em;
    border: 0.1px solid $gray_first;
    border-radius: 3px;
    box-shadow: 0px 2px 5px -2px rgb(0 0 0 / 25%);
    padding: 10px;
    width: 100%;
}
.card_proffesional {
    background: #f1eded;
    margin-bottom: 1em;
    border-top: 3px solid #01986f;
    border-right: 0.1px solid #D1D1D1;
    border-bottom: 0.1px solid #D1D1D1;
    border-left: 0.1px solid #D1D1D1;
    border-radius: 5px;
    box-shadow: 2px 4px 8px -1px rgb(0 0 0 / 20%);
    width: 100%;
    padding-bottom: 30px;
}
.content_btn_close_form {
    height: 20px;
    width: 100%;
}
.section_btn_close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-right: 10px;
}
.content_dest_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; 
}
.section_dest_list {
    width: 100%;
}
// Saved images and logos
.image_saved_form {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    background: $gray_first;
}
.image_saved_form img {
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    object-fit: scale-down;
}
.image_preview_form {
    width: 100%;
    height: 200px;
    background: $gray_first;
}
.image_preview_form img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    align-self: center;
}
.image_preview_form iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    align-self: center;
}
.flag_saved_form {
    display: flex;
    align-items: center;
}
.flag_saved_form img {
    width: 20%;
    margin-right: .5em;
}
// Saved data and texts
.data_saved_form {
    padding: 10px 0 5px 10px;
    border-top: 2px solid $green_official;
}
.data_saved_form h5 {
    font-family: "Quicksand";
    font-size: 1em;
    color: $black_third;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.data_saved_form span {
    font-family: "Roboto";
    font-size: 1em;
    color: $black_third;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.data_saved_form p {
    font-family: "Roboto";
    font-size: 1em;
    color: $black_third;
    line-height: 1;
    padding: 0;
    margin: 0;
    height: 35px;
    display: flex;
    align-items: center;
}
.data_saved_form ul {
    margin: 0;
    padding-left: 1.5em;
}
.data_saved_form li::marker{
    color: $green_official;
}
.text_preview_form h5 {
    font-family: 'Quicksand';
    font-size: 1.1em;
    font-weight: bold;
    color: $black_third;
    line-height: 1;
    text-align: initial;
    padding: 0;
    height: 43px;
    display: flex;
    align-items: center; 
}
.text_preview_form p {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 400;
    color: $black_third;
    line-height: 1.2;
    text-align: initial;
    padding: 0;
    height: 85px;
    display: flex;
    align-items: flex-start; 
}
.text_preview_form span {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 400;
    color: $black_third;
    text-align: initial;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: flex-end; 
    margin-bottom: 0;
}

// Formulario Configuración de Calendario
#nav_breadcrumb .breadcrumb li a {
    font-size: 12px;
    color: $black_second;
    font-family: 'Roboto';
}

.form_config {
    background-color: #eff3f5;
    padding: 15px;
    margin-bottom: 20px;
    h2 {
        font-size: 24px;
        font-family: 'Quicksand';
        color: $blue_official;
        font-weight: 800;
        border-bottom: 1px solid;
        padding-bottom: 7px;
        margin-bottom: 30px;
    }
    label{
        font-size: 16px;
        font-family: 'Roboto';
        color: $black_third;
    }
    input [type="text"], [type="number"], [type="time"] {
        display: block;
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        color: $black_second;
        background-color: $withe_official;
        background-clip: padding-box;
        border: 1px solid $gray_third;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    [type="checkbox"] {
        width: 18px;
        height: 20px;
        margin-right: 7px;
    }
    .btn_bottom {
        justify-content: flex-end;
        margin: 0;
        .btn_blue {
            background-color: $blue_official;
            border: 1px solid $blue_official;
            border-radius: 4px;
            color: $withe_official;
            padding: 5px 15px;
        }
        .btn_red {
            background-color: $red;
            border: 1px solid $red;
            border-radius: 4px;
            color: $withe_official;
            padding: 5px 15px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            span {
                font-size: 16px;
                font-family: 'Roboto';
                color: $black_third;
            }
        }
    } 
}


@media(min-width: 360px) {
    // map
    .ubicacion_inst {
        width: 320px;
    }
}
// Media query responsive
@media(min-width: 768px) {
    // Containers, contents, sections and cards 
    .container_line_module_form {
        justify-content: space-between;
        //height: 100px;
        width: 675px;
    }
    .container_button_form {
        width: 97%;
    }
    .card_module_form {
        width: 97%;
        margin-bottom: 3%;
    }
    .section_icon_form {
        width: 105px;
    }
    .section_input_double_form {
        flex-direction: row;
    }
    // Content division line
    .line_vertical_form {
        padding-left: .5em;
        border-left: 1px solid $gray_first;
    }
    // Titles and texts
    .title_main_form {
        width: 45em;
    }
    // Upload User profile image
    .img_user_form img {
        height: 150px;
        width: 150px;
    }
    .img_user_form p {
        width: 10.5em;
    }
    .img_sede_form {
        margin-top: auto;
    }
    .img_sede_form img {
        height: 150px;
        width: 90%;
    }
    .img_sede_form input {
        width: 90%;
    }
    // Text area
    .textarea_form {
        height: 90px;
    }
    // SAVED USER INFORMATION 
    // Saved content, card, target and section
    .card_information_saved_form {
        width: 32%;
    }
    .card_proffesional {
        width: 30%;
    }
    #lista-servicios-institucion .card_information_saved_form {
        width: 48%;
    }
    .section_dest_list {
        width: 49.5%;
    }
    .width_card_single {
        width: 45%;
    }
    // Map
    .ubicacion_inst {
        width: 625px;
    }
}
@media(min-width: 1024px) {
    // Containers, contents, sections and cards 
    .container_line_module_form {
        //height: 110px;
        width: 760px;
        margin: 3% auto;
    }
    .container_button_form {
        width: 77%;
    }
    .card_module_form {
        width: 77%;
        margin-bottom: 1.3em;
    }
    .section_icon_form {
        height: 110px;
        width: 115px;
    }
    // Icons and texts option line
    .section_icon_form li {  // Propiedades del icono línea de opciones
        background-size: 70px; 
    }
    .section_icon_form p {   // Propiedades del texto de los iconos línea de opciones
        font-size: 1em;
    }
    // Titles and texts
    .alert-message {
        width: 75%;
    }
    // Saved images and logos
    .image_preview_form {
        height: 215px;
    }
}
@media(min-width: 1200px) {
    // Containers, contents, sections and cards 
    .card_contentDouble_form {
        width: 85%;
        padding: 0.8em 2em;
    }
    // Upload User profile image
    .img_user_form input {
        width: 70%;
    }
    // SAVED USER INFORMATION 
    // Saved content, card, target and section
    .width_card_single {
        width: 32%;
    }
    // Mapa
    .ubicacion_inst {
        width: 750px;
        height: 350px;
    }
}
@media(min-width: 1360px) {
    // SAVED USER INFORMATION 
    // Saved content, card, target and section
    .card_information_saved_form {
        width: 24%;
    }
    .card_proffesional {
        width: 22%;
        margin-bottom: 2em;
    }
    // Mapa
    .ubicacion_inst {
        width: 850px;
    }
}
@media(min-width: 1440px) {
    // Saved images and logos
    .image_preview_form {
        height: 250px;
    }
}
@media(min-width: 1920px) {
    // Containers, contents, sections and cards 
    .container_line_module_form {
        //height: 125px;
        width: 975px;
    }
    .container_button_form {
        width: 66%;
    }
    .card_module_form {
        width: 66%;
    }
    .section_icon_form {
        height: 125px;
        width: 130px;
    }
    // Icons and texts option line 
    .section_icon_form li {  // Propiedades del icono línea de opciones
        background-size: 75px; 
    }
    .section_icon_form p {   // Propiedades del texto de los iconos línea de opciones
        font-size: 1.1em;
    }
    // Titles and texts
    .title_main_form h5 {
        font-size: 1.8em;
    }
    .title_main_form p {
        font-size: 1.1em;
    }
    .card_module_form .icon_text {   // Propiedades del icono y el titulo de las tajetas de modulos del formualrio
        font-size: 1.2em;
    }
    .textTop_informative_form {
        font-size: 1.1em;
    }
    .text_informative_form {
        font-size: 1.1em;
    }
    .text_preview_form h5 {
        font-size: 1.2em;
    }
    .text_preview_form p {
        font-size: 1.1em;
    }
    .text_preview_form span {
        font-size: 1.1em;
    }
    .alert-message {
        font-size: 1.3em;
        width: 65%;
        padding: 1.5% 0;
    }
    // Upload User profile image
    .img_user_form img {
        height: 170px;
        width: 170px;
    }
    .img_user_form p {
        background-size: 16px;
        width: 11em;
    } 
    .img_sede_form img {
        height: 175px;
    }
    .img_sede_form p {
        font-size: 1.1em;
    }
    // Labels
    .label_txt_form {
        font-size: 1.1em;
    }
    // Inputs
    .input_box_form {
        font-size: 1.1em;
    }
    // Text area
    .textarea_form {
        font-size: 1.1em;
    }
    // Buttons
    .button_blue_form {
        font-size: 1.2em;
    }
    .button_green_form {
        font-size: 1.2em;
    }
    .button_transparent_form {
        font-size: 1.2em;
    }
    // Saved images and logos
    .image_preview_form {
        width: 100%;
        height: 300px;
    }
    // Saved data and texts
    .data_saved_form h5 {
        font-size: 1.1em;
    }
    .data_saved_form p {
        font-size: 1.1em;
    }
    .data_saved_form span {
        font-size: 1.1em;
    }
    .data_saved_form ul li {
        font-size: 1.1em;
    }
}