// Cabecera del formulario paciente
.cabecera_forPacien {
    margin: 5% auto;
    width: 100%;
}
.titulo_forPacien {
    font-size: 1.5em;
    font-family: "Quicksand", "Regular";
    font-weight: bold;
    color: #0083D6;
    text-align: center;
}
.subTitulo_forPacien {
    font-size: 1em;
    font-family: "Roboto", "Regular";
    color: #3E3E3E;
    text-align: initial;
    padding: 0;
    margin-top: 3%;
}
.tarjeta_datosSecun_formPaciente {
    box-shadow: 1px 2px 5px 2px rgb(0 0 0/ 12%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0;
    margin-bottom: 7%;
    width: 100%;
}
.containt_img_formPacien {
    width: 100%;
}
.content_img_formPacien {
    height: 230px;
    width: 200px; 
    margin-left: auto;
    margin-right: auto;
}
.input_imgUsuario-formPacien {
    position: absolute;
    top: 204px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 235px;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
}
.img_paciente_formPacien {
    width: 200px;
    height: 200px;
    border: 1px solid #dcdcdc; 
    border-radius: 100px;
    background: #dcdcdc;
    object-fit: cover;
    object-position: top; 
}
.subirFoto_formPacien {
    background-image: url(/img/formulario-profesional/icono-subir.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8%;
    background-size: 12px;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
}
.content_datosBasic_formPacien {
    width: 100%;
}
.content_options_formPacien {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.documento_formPacien {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_documento_formPacien {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.text_label_formPacien {
    font-size: 1em;
    font-family: "Quicksand", "Regular";
    font-weight: bold;
    color: #232323;
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    margin: 0;
    line-height: 1.6;
}
.content_nombre_forPacien {
    width: 100%;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
.content_inputs_forPacien {
    width: 100%;
    padding: 0 0 0 0;
    display: flex;
}
.content_btnGuardar_formPacien {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 0; 
}
.datosSecond_formPacien {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.contraseña_inputs_formPacien {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
@media(min-width: 768px) {
    .tarjeta_datosSecun_formPaciente {
        padding: 3% 0;
        margin-bottom: 4%;
    }
    .containt_img_formPacien {
        width: 35%;
    }
    .input_imgUsuario-formPacien {
        top: 284px;
        left: 10%;
        right: 66%;
        width: 195px;
        height: 235px;
    }
    .content_datosBasic_formPacien {
        width: 65%;
        padding-left: 2%;
        border-left: 1px solid #dcdcdc;
    }
    .content_nombre_forPacien {
        flex-direction: row;
        height: 38px;
    }
    .content_documento_formPacien {
        width: 50%;
    }
    .datosSecond_formPacien {
        width: 49%;
    }
    .content_btnGuardar_formPacien {
        margin-top: 3%;
    }
}
@media(min-width: 1024px) {
    .cabecera_forPacien {
        margin: 5% auto;
        width: 83%;
    }
    .input_imgUsuario-formPacien {
        top: 295px;
        left: 162px;
        right: 665px;
        width: 200px;
    }
    .tarjeta_datosSecun_formPaciente {
        padding: 3% 0;
        margin-bottom: 4%;
    }
    .tarjeta_datosSecun_formPaciente {
        width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
    .contraseña_inputs_formPacien {
        width: 75%;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .cabecera_forPacien {
        width: 80%;
    }
    .input_imgUsuario-formPacien {
        top: 325px;
        left: 195px;
        right: 810px;
    }
    .tarjeta_datosSecun_formPaciente {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1360px) {
    .cabecera_forPacien {
        width: 85%;
    }
    .tarjeta_datosSecun_formPaciente {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .input_imgUsuario-formPacien {
        left: 275px;
        right: 890px;
    }
}
@media (min-width: 1440px) {
    .input_imgUsuario-formPacien {
        left: 315px;
        right: 925px;
    }
}
@media (min-width: 1920px) {
    .tarjeta_datosSecun_formPaciente {
        width: 100%;
    }
    .cabecera_forPacien {
        width: 100%;
    }
    .titulo_forPacien {
        font-size: 2.5em;
    }
    .subTitulo_forPacien {
        font-size: 1.5em;
    }
    .input_imgUsuario-formPacien {
        left: 315px;
        right: 925px;
    }
    .input_imgUsuario-formPacien {
        top: 330px;
        left: 510px;
        right: 1195px;
    }
    .text_label_formPacien {
        font-size: 1.3em;
    }
}