// Sección lista de las opciones
.lista_opciones-usuario-formInst {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2% auto;
    width: 80%;
    height: 12vh;
}
.content_icons-formInst {
    width: 17%;
}
//----- ********* Sección de los ICONOS GRISES DE LA LINEA DE OPCIONES ******** -------//
.iconGris_servProfesional {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em;
    color: #D1D1D1;
}
.iconGris_acercaInst {
    background-image: url('/img/formulario-institucion/acerca-de-la-institucion-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em;
    color: #D1D1D1;
}
.iconGris_profesionalInst {
    background-image: url('/img/formulario-institucion/icono-profesionales-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #D1D1D1 !important;
}
.iconGris_certifInst {
    background-image: url('/img/formulario-institucion/icono-certificaciones-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em;
    color: #D1D1D1;
}
.iconGris_sedeInst {
    background-image: url('/img/formulario-institucion/icono-sede-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em;
    color: #D1D1D1;
}
.iconGris_galeInst {
    background-image: url('/img/formulario-institucion/icono-galeria-gris.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em;
    color: #D1D1D1;
}
//----- ********* Sección de los ICONOS VERDES DE LA LINEA DE OPCIONES ******** -------//
.iconVerde_datoInst {
    background-image: url('/img/formulario-institucion/datos-institucionales-verde.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
.iconVerde_servProfesional {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    font-family: "Quicksand", "Regular";
    color: #019F86 !important;
}
.iconVerde_acercaInst {
    background-image: url('/img/formulario-institucion/acerca-de-la-institucion.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
.iconVerde_profesionalInst {
    background-image: url('/img/formulario-institucion/icono-profesionales.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
.iconVerde_certifInst {
    background-image: url('/img/formulario-institucion/icono-certificaciones.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
.iconVerde_sedeInst {
    background-image: url('/img/formulario-institucion/icono-sede.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
.iconVerde_galeInst {
    background-image: url('/img/formulario-institucion/icono-galeria.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-size: 1em !important;
    color: #019F86 !important;
}
// Texto inferior de los iconos de opciones
.text_opcion-formInst {
    font-family: 'Quicksand', 'Regular';
    margin: 0;
    text-align: center;
    width: 100%;
    height: 30%;
}
// Sección del contenedor principal de las tarjetas
.content_principal-formInst {
    background: #F9F9F9;
    padding-top: 3%;
}
// Sección titulo y texto superior
.content_textPrincipal-formInst {
    margin: auto;
    padding: 0;
}
.titulo_principal-formInst {
    font-family: 'Quicksand', 'Regular';
    font-size: 2em;
    font-weight: bold;
    color: #019F86;
    text-align: initial;
}
.texto_superior-formInst {
    font-family: 'Roboto','Regular';
    font-size: 1em;
    color: #3E3E3E;
    text-align: initial;
    padding: 0;
    margin: 3% 0;
}
// Contenedor tarjetas del formulario
.content_tarjetasInfo-formInst {
    background: #ffffff;
    margin: auto;
    margin-bottom: 5%;
    padding: 0;
    box-shadow: 3px 4px 10px 2px rgb(0 0 0 / 15%);
}
///// *****   SECCIÓN TARJETA INFORMACIÓN BÁSICA    ***** /////
// Sección titulo de la tarjeta información básica
.icon_infoBasica-formInst {
    background-image: url('/img/formulario-institucion/icono-informacion-basica.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.fila_infoBasica-formInst {
    margin: 0;
    padding: 2% 0;
}
// Sección logo datos institución
.contain_imgUsuario-formImg {
    align-self: center;
    text-align: center;
}
.img_usuario-formInst {
    height: 22vh;
    width: 100%;
    border-radius: 135px;
    background: #D1D1D1;
    border: 1px solid #707070;
    object-fit: cover;
}
.input_imgUsuario-formInst {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 90%;
    height: 100%;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
}
.icon_subirFoto-formInst {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 7%;
    background-size: 7%;
    margin-top: 3%;
}
.text_usuario-formInst {
    font-family: "Quicksand", "Regular";
    font-size: 1.15em;
    color: #434343;
    margin: 10% 0 5% 0;
    padding-right: 0;
}
// Sección datos institución
.datos_principales-formInst {
    margin: 0;
    padding: 0;
    border-left: 1px solid #D1D1D1;
}
.section_inputRight-text-formInst {
    padding: 0 0 0 15px;
}
.section_inputLeft-text-formInst {
    padding: 0 15px 0 0;
}
.text_label-formInst {
    font-family: 'Quicksand';
    font-size: 1.15em;
    color: #232323;
    font-weight: bold;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    padding-left: 2%;
    padding-right: 0;
    margin-bottom: 0;
    line-height: 1.6;
}
.input_nomApl-formInst {
    display: block;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.datos_principales2-formInst {
    display: flex;
    margin: 0;
    padding: 0;
}
.contain_imgInst-formInst {
    align-self: center;
    text-align: center;
    padding-top: 0;
}
.img_institucion-formInst {
    height: 23vh;
    width: 100%;
    border-radius: 3px;
    background: #D1D1D1;
    border: 1px solid #707070;
    object-fit: cover;
}
.contain_imgInst-formInst .icon_subirFoto-formInst {
    background-image: url('/img/formulario-profesional/icono-subir.svg');
    background-repeat: no-repeat;
    background-size: 4%;
    background-position-x: 23%;
}
.contain_imgInst-formInst .text_usuario-formInst {
    font-family: "Quicksand", "Regular";
    font-size: 1.15em;
    color: #434343;
    margin: 6% 0 0% 0%;
    padding-right: 0;
}
// Sección botón guardar
.content_btnEnviar-formInst {
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.btn_guardar-formInst {
    font-family: "Quicksand";
    font-size: 1.15em;
    color: #ffffff;
    background: #019F86;
    border: none;
    border-radius: 3px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 76%;
    margin-bottom: 10%;
}
.flechaBtn_guardar-formInst {
    width: 9%;
}
///// *****   SECCIÓN TARJETA INFORMACIÓN DEL CONTACTO    ***** /////
// Sección titulo de la tarjeta información del contacto
.icon_infoContac-formInst {
    background-image: url('/img/formulario-institucion/icono-informacion-de-contacto.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.btn2_enviar-formInst {
    font-family: "Quicksand";
    font-size: 1.15em;
    color: #ffffff;
    background: #019F86;
    border: none;
    border-radius: 3px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 19%;
}
///// *****   SECCIÓN TARJETA SERVICIOS PROFESIONALES   ***** /////
// Sección titulo de la tarjeta servicios profesionales
.icon_servProf-formInst {
    background-image: url('/img/formulario-institucion/icono-servicios-profesionales-azul.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.text_infoImg-formInst {
    font-family: 'Roboto', 'Regular';
    font-size: 1em;
    color: #DBDADA;
    padding: 0 15px;
}
///// *****   SECCIÓN TARJETA SERVICIOS   ***** /////
// Sección titulo de la tarjeta servicios
.icon_servicios-formInst {
    background-image: url('/img/formulario-institucion/icono-servicios.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.section_servicio-formInst {
    margin: 0;
    padding: 2% 0;
}
.content_cierreX-formInst {
    height: 3vh;
    padding: 0;
}

/*.bootstrap-tagsinput  input {
    background: yellow;

}*/
///// *****   SECCIÓN TARJETA QUIENES SOMOS   ***** /////
// Sección titulo de la tarjeta quienes somos
.icon_quienes-formInst {
    background-image: url('/img/formulario-institucion/icono-quienes-somos.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
///// *****   SECCIÓN TARJETA PROPUESTA DE VALOR   ***** /////
// Sección titulo de la tarjeta propuesta de valor
.icon_propuestaValor-formInst {
    background-image: url('/img/formulario-institucion/icono-propuesta-valor.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
///// *****   SECCIÓN TARJETA CONVENIOS   ***** /////
// Sección titulo de la tarjeta convenios
.icon_convenios-formInst {
    background-image: url('/img/formulario-institucion/icono-convenios.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.text_infoConvenio-formInst {
    font-family: 'Roboto', 'Regular';
    font-size: .85em;
    color: #DBDADA;
    padding: 0 15px;
}
// Sección imagen GUARDADA
.content_imgGuardada-formInst {
    margin: 3% 0 0 0;
    padding: 0 3% 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgConvenio_guardada-formInst {
    width: 120px;
    height: 60px;
    object-fit: contain;
}
.content_agregarImg-formInst {
    margin: 0;
    padding-right: 0;
}
.agregar_archivo-formInst {          
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 100%;
} 
.agregar_archivo-formInst input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: flex;            
}
.agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 10%;
    background-size: 4%;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto de asociación 1'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}  
.agregar_archivo-formInst2 {          
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 100%;
} 
.agregar_archivo-formInst2 input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: flex;            
}
.agregar_archivo-formInst2::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 10%;
    background-size: 4%;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto de asociación 2'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
} 
.agregar_archivo-formInst3 {          
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 100%;
} 
.agregar_archivo-formInst3 input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: flex;            
}
.agregar_archivo-formInst3::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 10%;
    background-size: 4%;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto de asociación 3'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
} 
.img_guardada-formInst {
    width: 120px;
    height: 60px;
    object-fit: contain;
}
///// *****   SECCIÓN TARJETA PROFESIONALES   ***** /////
// Sección titulo de la tarjeta profesionales
.icon_profesionales-formInst {
    background-image: url('/img/formulario-institucion/icono-profesionales-institucion.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
// Sección datos personales
.datos_principales-formInst {
    margin: 0;
    padding: 0;
    border-left: 1px solid #D1D1D1;
}
.containt_loadProfes-formInst {
    margin: 0;
    padding: 0;
    text-align: center;
}
.nombres_usuario-formInst {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.input_nomApl-prefes-formProf {
    display: block;
    width: 48%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.containt_profGuardado-formInst {
    margin: 3% auto;
    padding: 0;
}
///// *****   SECCIÓN TARJETA CERTIFICACIONES   ***** /////
// Sección titulo de la tarjeta certificaciones
.icon_certificaciones-formInst {
    background-image: url('/img/formulario-institucion/icono-certificaciones-azul.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.text_superior-proced-formInst {
    font-family: 'Roboto', 'Regular';
    font-size: 1em;
    color: #434343;
    margin-top: 3%;
}
.content_antes-formInst {
    border-right: 1px solid #D1D1D1;
}
.content_antes-formInst .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 15%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto de antes'; /* texto botón subir foto asociación */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}  
.img_selccionada-formInst {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    align-items: center;
    width: 120px;
    height: 60px;
    object-fit: contain;
}
.img_anexada-formInst {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img_anexada-formInst img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.content_antDesp-formInst {
    padding: 0;
    margin: 3% 0 0 0;
}
.photo1 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto 1'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
.photo2 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto 2'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
.photo3 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto 3'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
.photo4 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir foto 4'; // texto botón subir foto asociación
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
///// *****   SECCIÓN TARJETA SEDES   ***** /////
// Sección titulo de la tarjeta sedes
.icon_sedes-formInst {
    background-image: url('/img/formulario-institucion/icono-sedes-azul.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
///// *****   SECCIÓN TARJETA UBIQUE SEDE   ***** /////
// Sección titulo de la tarjeta ubique la sede
.icon_ubiqueSede-formInst {
    background-image: url('/img/formulario-institucion/icono-ubique-la-sede.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
///// *****   SECCIÓN TARJETA GALERIA   ***** /////
// Sección titulo de la tarjeta galeria
.icon_galeriaInst-formInst {
    background-image: url('/img/formulario-institucion/icono-galeria-azul.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0083d6;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #0083d6;
    text-transform: inherit;
}
.content_btnX-cierre-forminst {
    height: 3vh;
    padding: 0;
}
.img_publi-formInst {
    height: 100%;
    width: 100%;
}
///// *****   SECCIÓN TARJETA VIDEOS   ***** /////

// Sección titulo de la tarjeta videos
.icon_infoVideo-formInst {
    background-image: url('/img/formulario-profesional/icono-videos.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-size: 2.5%;
    padding-left: 4%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #019F86;
    font-size: 1em;
    font-family: 'Quicksand', 'Regular';
    color: #019F86;
    text-transform: inherit;
}
.video1 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir video 1'; /* texto botón subir foto asociación */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
.video2 .agregar_archivo-formInst::before {
    background-image: url('/img/formulario-profesional/icono-subir.svg') ;
    background-repeat: no-repeat ;
    background-position-y: center;
    background-position-x: 25%;
    background-size: 5%;
    font-size: 1.15em;
    font-family: 'Quicksand', 'Regular';
    color: #434343;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Subir video 2'; /* texto botón subir foto asociación */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;              
}
// Secciones botones inferiores anterior y siguoente
.content_botonInferior-next-formInst {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 3%;
    padding: 0;
}
.content_botonesInferiores-formInst {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3%;
    padding: 0;
}
.content_btn-anter-formInst {
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.content_btn-siguient-formInst {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.boton_inferior-anterior-formInst {
    font-family: "Quicksand";
    font-size: 1.15em;
    color: #434343;
    background: transparent;
    border: 1px solid #434343;
    border-radius: 3px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 75%;
}
.boton_inferior-siguiente-formInst {
    font-family: "Quicksand";
    font-size: 1.15em;
    color: #ffffff;
    background: #0083d6;
    border: none;
    border-radius: 3px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 75%;
}
.boton_inferior-finalizar-formInst {
    font-family: "Quicksand";
    font-size: 1.15em;
    color: #ffffff;
    background: #0083d6;
    border: none;
    border-radius: 3px;
    height: calc(1.6em + 0.75rem + 2px);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flechaBtn_finalizar-formInst {
    width: 10%;
    margin-left: 5%;
}
// clase para ocultar las secciones en cada una de las opciones del formulario profesional
.hidden-section-formInst {
    display: none;
}





// Sección botón agregar más
.btn_agregarMas-formInst {
    background: transparent;
    border: none;
    text-decoration-line: underline;
    padding: 0;
    width: 25%;
}
.message-not{
    display: none;
}
@media (min-width: 320px) and (orientation: portrait) {
    // Sección lista de las opciones 
    .lista_opciones-usuario-formInst {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 30vh;
    }
    .content_icons-formInst {
        width: 25%;
        height: 13vh;
    }
    //----- ********* Sección de los ICONOS GRISES LINEA DE OPCIONES ******** -------//
    .iconGris_servProfesional {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconGris_acercaInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconGris_profesionalInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconGris_certifInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconGris_sedeInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconGris_galeInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    //----- ********* Sección de los ICONOS VERDES LINEA DE OPCIONES ******** -------//
    .iconVerde_datoInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_servProfesional {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_acercaInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_profesionalInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_certifInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_sedeInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    .iconVerde_galeInst {
        background-size: 65%;
        font-size: .75em !important;
    }
    // Sección del título y texto principal
    .titulo_principal-formInst {
        font-size: 1.45em;
        text-align: center;
    }
    .texto_superior-formInst {
        font-size: .75em;
    }
    ///// *****   SECCIÓN TARJETA INFORMACIÓN BÁSICA    ***** /////
    // Sección titulo de la tarjeta información básica
    .icon_infoBasica-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
        display: flex;
    }
    // Sección logo datos institución
    .img_usuario-formInst {
        height: 35vh;
        width: 75%;
    }
    .icon_subirFoto-formInst {
        background-position-x: 21%;
        background-size: 5%;
    }
    .contain_imgInst-formInst {
        align-self: center;
        text-align: center;
        padding-top: 5%;
    }
    .contain_imgInst-formInst .icon_subirFoto-formInst {
        background-position-x: 20%;
    }
    .text_usuario-formInst {
        font-size: 1em;
        margin: 5% 0;
    }
    .contain_imgInst-formInst .text_usuario-formInst {
        font-size: 1em;
    }
    .section_inputRight-text-formInst {
        padding: 0 0 0 0;
    }
    .section_inputLeft-text-formInst {
        padding: 0 0 0 0;
    }
    .text_label-formInst {
        font-size: 1em;
    }
    .input_nomApl-formInst {
        width: 100%;
        margin-bottom: 5%;
    }
    // botón inferior de guardar
    .btn_guardar-formInst {
        font-size: 1em;
        width: 45%;
        margin-bottom: 5%;
    }
    .flechaBtn_guardar-formInst {
        width: 13%;
    }
     ///// *****   SECCIÓN TARJETA INFORMACIÓN CONTACTO    ***** /////
    // Sección titulo de la tarjeta información del contacto
    .icon_infoContac-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .btn2_enviar-formInst {
        font-size: 1em;
        width: 45%;
    }
    ///// *****   SECCIÓN TARJETA SERVICIOS PROFESIONALES   ***** /////
    // Sección titulo de la tarjeta servicios profesionales
    .icon_servProf-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .text_infoImg-formInst {
        font-size: .75em;
        padding: 0;
    }
    ///// *****   SECCIÓN TARJETA SERVICIOS   ***** /////
    // Sección titulo de la tarjeta servicios
    .icon_servicios-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA QUIENES SOMOS   ***** /////
    // Sección titulo de la tarjeta quienes somos
    .icon_quienes-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA PROPUESTA DE VALOR   ***** /////
    // Sección titulo de la tarjeta propuesta de valor
    .icon_propuestaValor-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA CONVENIOS   ***** /////
    // Sección titulo de la tarjeta convenios
    .icon_convenios-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .content_agregarImg-formInst {
        margin: 0 auto;
        padding: 0;
    }
    .text_infoConvenio-formInst {
        font-size: .75em;
        padding: 0;
    }
    ///// *****   SECCIÓN TARJETA PROFESIONALES   ***** /////
    // Sección titulo de la tarjeta profesionales
    .icon_profesionales-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .nombres_usuario-formInst {
        flex-direction: column;
        padding: 0;
        height: 15vh;
    }
    .input_nomApl-prefes-formProf {
        width: 100%;
        margin-bottom: 5%;
    }
    ///// *****   SECCIÓN TARJETA CERTIFICACIONES   ***** /////
    // Sección titulo de la tarjeta certificaciones
    .icon_certificaciones-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .text_superior-proced-formInst {
        font-size: .75em;
    }
    .content_antes-formInst {
        border-right: none;
    }
    .agregar_archivo-formInst {
        width: 80%;
    }
    .content_antes-formInst .agregar_archivo-formInst::before {
        background-position-x: 5%;
        background-size: 6%;
        font-size: 1em;
    }
    .photo1 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;             
    }
    .photo2 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;            
    }
    .photo3 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;              
    }
    .photo4 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;             
    }
    ///// *****   SECCIÓN TARJETA SEDES   ***** /////
    // Sección titulo de la tarjeta sedes
    .icon_sedes-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA UBIQUE SEDE   ***** /////
    // Sección titulo de la tarjeta ubique la sede
    .icon_ubiqueSede-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA GALERIA   ***** /////
    // Sección titulo de la tarjeta galeria
    .icon_galeriaInst-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    ///// *****   SECCIÓN TARJETA VIDEOS   ***** /////

    // Sección titulo de la tarjeta videos
    .icon_infoVideo-formInst {
        background-size: 8%;
        padding-left: 10%;
        height: 6vh;
    }
    .video1 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;             
    }
    .video2 .agregar_archivo-formInst::before {
        background-position-x: 25%;
        background-size: 5%;
        font-size: 1em;              
    }
    // Sección botones inferiores
    .boton_inferior-siguiente-formInst {
        width: 90%;
    }
    .btn-next-320-formInst {
        font-family: "Quicksand";
        font-size: 1.15em;
        color: #ffffff;
        background: #0083d6;
        border: none;
        border-radius: 3px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 45%;
    }
    .boton_inferior-anterior-formInst {
        width: 90%;
    }
    .boton_inferior-finalizar-formInst {
        width: 90%;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    // Sección lista de las opciones 
    .lista_opciones-usuario-formInst {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 75%;
        height: 20vh;
    }
    .content_icons-formInst {
        width: 25%;
        height: 9vh;
    }
    //----- ********* Sección de los ICONOS GRISES LINEA DE OPCIONES ******** -------//
    .iconGris_servProfesional {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconGris_acercaInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconGris_profesionalInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconGris_certifInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconGris_sedeInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconGris_galeInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    //----- ********* Sección de los ICONOS VERDES DE LA LINEA DE OPCIONES ******** -------//
    .iconVerde_datoInst {
        background-size: 50%;
        font-size: 1em !important;
    } 
    .iconVerde_servProfesional {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconVerde_acercaInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconVerde_profesionalInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconVerde_certifInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconVerde_sedeInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    .iconVerde_galeInst {
        background-size: 50%;
        font-size: 1em !important;
    }
    // Texto inferior de los iconos de opciones
    .text_opcion-formInst {
        font-family: 'Quicksand', 'Regular';
        margin: 0;
        text-align: center;
        width: 100%;
        height: 30%;
    }
    // Sección del título y texto principal
    .titulo_principal-formInst {
        font-size: 2em;
    }
    .texto_superior-formInst {
        font-size: 1em;
    }
    ///// *****   SECCIÓN TARJETA INFORMACIÓN BÁSICA    ***** /////
    // Sección titulo de la tarjeta información básica
    .icon_infoBasica-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    // Sección logo datos institución
    .img_usuario-formInst {
        height: 13vh;
        width: 100%;
    }
    .img_institucion-formInst {
        height: 12vh;
    }
    .icon_subirFoto-formInst {
        background-position-x: 2%;
        background-size: 8%;
    }
    .text_usuario-formInst {
        font-size: 1em;
    }
    // Sección cajas de texto datos institución
    .datos_principales-formInst { 
        margin: 0;
        padding: 0;
        border-left: 1px solid #D1D1D1;
    }
    .section_inputRight-text-formInst {
        padding: 0 0 0 15px;
    }
    .section_inputLeft-text-formInst {
        padding: 0 15px 0 0;
    }
    .text_label-formInst {
        font-size: 1em;
    }
    .input_nomApl-formInst {
        width: 100%;
        margin-bottom: 0%;
    }
    .datos_principales2-formInst {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .contain_imgInst-formInst {
        align-self: center;
        text-align: center;
        padding-top: 0;
    }
    // botón inferior de guardar
    .btn_guardar-formInst {
        font-size: 1em;
        width: 17%;
        margin-bottom: 2%;
    }
    .flechaBtn_guardar-formInst { 
        width: 11%;
    }
    ///// *****   SECCIÓN TARJETA INFORMACIÓN CONTACTO    ***** /////
    .icon_infoContac-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    .btn2_enviar-formInst {
        font-size: 1em;
        width: 17%;
    }
    ///// *****   SECCIÓN TARJETA SERVICIOS PROFESIONALES   ***** /////
    // Sección titulo de la tarjeta servicios profesionales
    .icon_servProf-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    .text_infoImg-formInst {
        font-family: 'Roboto', 'Regular';
        font-size: 1em;
        color: #DBDADA;
        padding: 0 15px;
    }
    ///// *****   SECCIÓN TARJETA SERVICIOS   ***** /////
    // Sección titulo de la tarjeta servicios
    .icon_servicios-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA QUIENES SOMOS   ***** /////
    // Sección titulo de la tarjeta quienes somos
    .icon_quienes-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA PROPUESTA DE VALOR   ***** /////
    // Sección titulo de la tarjeta propuesta de valor
    .icon_propuestaValor-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA CONVENIOS   ***** /////
    // Sección titulo de la tarjeta convenios
    .icon_convenios-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    .text_infoConvenio-formInst {
        font-family: 'Roboto', 'Regular';
        font-size: 1em;
        color: #DBDADA;
        padding: 0 15px;
    }
    ///// *****   SECCIÓN TARJETA PROFESIONALES   ***** /////
    // Sección titulo de la tarjeta profesionales
    .icon_profesionales-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    // Sección cajas de texto datos personales
    .datos_principales-formInst {
        margin: 0;
        padding: 0;
        border-left: 1px solid #D1D1D1;
    }
    .nombres_usuario-formInst {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        height: 3vh;
    }
    .input_nomApl-prefes-formProf {
        width: 48.7%;
        margin-bottom: 0%;
    }
    ///// *****   SECCIÓN TARJETA CERTIFICACIONES   ***** /////
    // Sección titulo de la tarjeta certificaciones
    .icon_certificaciones-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    .text_superior-proced-formInst {
        font-size: 1em;
    }
    .agregar_archivo-formInst::before {  //*****************************************************************************************************************
        background-position-x: 13%;
        background-size: 5%;
        font-size: 1em;
        padding-left: 0;
    }
    .content_antes-formInst .agregar_archivo-formInst::before {
        background-position-x: 16%;
        background-size: 5%;
        font-size: 1em;
    }
    ///// *****   SECCIÓN TARJETA SEDES   ***** /////
    // Sección titulo de la tarjeta sedes
    .icon_sedes-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA UBIQUE SEDE   ***** /////
    // Sección titulo de la tarjeta ubique la sede
    .icon_ubiqueSede-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA GALERIA   ***** /////
    // Sección titulo de la tarjeta galeria
    .icon_galeriaInst-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    ///// *****   SECCIÓN TARJETA VIDEOS   ***** /////

    // Sección titulo de la tarjeta videos
    .icon_infoVideo-formInst {
        background-size: 3%;
        padding-left: 5%;
        height: 2.5vh;
        font-size: 1.2em;
    }
    // Sección de los botones inferiores
    .btn-next-320-formInst {
        width: 68%;
    }
    .boton_inferior-siguiente-formInst {
        width: 68%;
    }
    .boton_inferior-anterior-formInst {
        width: 68%;
    }
    .boton_inferior-finalizar-formInst {
        width: 68%;
    }
}
@media (min-width: 1200px) {
    // Sección lista de las opciones
    .lista_opciones-usuario-formInst {
        width: 60%;
        height: 12vh;
    }
    // Sección logo datos institución
    .img_usuario-formInst {
        height: 20vh;
    }
}
@media (min-width: 1440px) {
    // Sección logo datos institución
    .img_usuario-formInst {
        height: 22vh;
    }
} 
@media (min-width: 1920px) {
    // Sección lista de las opciones
    .lista_opciones-usuario-formInst {
        width: 55%;
        height: 13vh;
    }
    // Sección logo datos institución
    .img_usuario-formInst {
        height: 20vh;
        width: 68%;
    } 
    .icon_subirFoto-formInst {
        background-position-x: 17%;
        background-size: 6%;
    }
    .contain_imgInst-formInst .icon_subirFoto-formInst {
        background-size: 3.5%;
        background-position-x: 29%;
    }
    .text_usuario-formInst {
        margin: 5% 0;
    }
    .contain_imgInst-formInst .text_usuario-formInst {
        margin: 3% 0 0 0;
    }
    .img_institucion-formInst {
        height: 19vh;
    }
    // botón inferior de guardar
    .flechaBtn_guardar-formInst {
        width: 8%;
    }
}