.fc-agendarCita-button 
{
    background-color: $blue !important;
    border-color: $blue !important;
}
.fc-timeGridWeek-button
{
    background-color: $blue !important;
    border-color: $blue !important;
}

.fc-prev-button
{
    background-color: $green !important;
    border-color: $green !important;
}
.fc-next-button
{
    background-color: $green !important;
    border-color: $green !important;
}
.fc-today-button 
{
    background-color: $green !important;
    border-color: $green !important;
}
.fc-dayGridMonth-button 
{
    background-color: $green !important;
    border-color: $green !important;
}
.fc-timeGridDay-button
{
    background-color: $green !important;
    border-color: $green !important;
}