.imagen_bannerPrin-prof {
    width: 100%;
    padding: 0;
}
// Sección tarjetas profesionales de al salud
 .section_tarjetas-profesionales {
    margin: auto;
    padding: 0;
    justify-content: center;
}
.imagen_profesion {
    display: flex;
    justify-content: center;
    align-self: center;
}
// Sección boton ver especialidades
.contenido_boton-ver { 
    display: flex;
    justify-content: center;
}
.logosUniversidades {
    width: 50%; 
}
.contains_slider-logos-galeriaProf {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 320px) and (orientation: portrait) {
    .imagen_bannerPrin-prof {
        width: 100%;
        padding: 0;
    }
    // Sección del titulo ramas de la salud
    .section_titulo-rama {
        font-size: 1.125em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #0083d6;
        margin: 10% 0;
        text-align: center;
    }
    // Sección tarjetas profesionales de al salud
    .section_tarjetas-profesionales {
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }
    .contenido_tarjetas-profesionales {
        margin-bottom: 3%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .imagen_profesion {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .icono_img-profesion {
        width: 85px;
        height: 85px; 
    }
    .nombre_profesion {
        font-size: .688em;
        font-family: 'Quicksnd', sans-serif;
        font-weight: bolder;
        color: #232323;
        padding: 0;
        text-align: center;
    }
    .texto_profesion {
        font-size: .488em;
        font-family: 'quicksand', sans-serif;
        color: #3e3e3e;
        text-align: center;
        margin: 5% 0;
    }
    // Sección boton ver especialidades
    .contenido_boton-ver { 
        display: flex;
        justify-content: center;
    }
    .boton_ver-especialidad {
        background: #0083d6;
        font-family: 'quicksand', sans-serif;
        font-size: .563em;
        color: #ffffff;
        padding: 0;
        height: 25px;
        width: 102px;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .icono_flecha-ver {
        width: 9%;
    }
    .logosUniversidades {
        width: 50%; 
    }
    // Carrusel logos inferior 
    .contains_slider-logos-galeriaProf {
        height: 20vh; }
}  
@media (min-width: 768px) and (orientation: portrait) {
    .section_titulo-rama {
        font-size: 2.5em;
    }
    .icono_img-profesion {
        width: 150px;
        height: 150px;
    }
    .nombre_profesion {
        font-size: 1.8em;
    }
    .texto_profesion {
        font-size: 1em;
    }
    .boton_ver-especialidad {
        background: #0083d6;
        font-family: "quicksand", sans-serif;
        font-size: 1.25em;
        color: #ffffff;
        padding: 0;
        height: 50px;
        width: 246px;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
    }
    .icono_flecha-ver {
        width: 7%;
    }
}  
@media (min-width: 1024px) {
    // Sección del titulo ramas de la salud
    .section_titulo-rama {
        font-size: 2.5em;
        font-family: 'Quicksand', sans-serif; 
        font-weight: bolder;
        color: #0083d6;
        margin: 5% 0;
        text-align: center;
    }
      // Sección tarjetas profesionales de al salud
      .contenido_tarjetas-profesionales {
        margin: 1%;
        padding: 3% 1%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .nombre_profesion {
        font-size: 1.35em;
        font-family: 'Quicksnd', sans-serif;
        font-weight: bolder;
        color: #232323;
        padding: 0;
        text-align: center;
    }
    .texto_profesion {
        font-size: .9em;
        font-family: 'quicksand', sans-serif;
        color: #3e3e3e;
        text-align: center;
        margin-bottom: 5%;
    }
    // Sección boton ver especialidades
    .boton_ver-especialidad {
        background: #0083d6;
        font-family: 'quicksand', sans-serif;
        font-size: .9em;
        color: #ffffff;
        padding: 0;
        height: 37px;
        width: 150px;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .icono_flecha-ver {
        width: 8%;
    }
    .contains_slider-logos-galeriaProf {
        height: 25vh;
    }
}
@media (min-width: 1200px) {
    .texto_profesion {
        font-size: .8em;
    }
}
@media (min-width: 1600px) {
    .texto_profesion {
        font-size: 1.2em;
    }
    .boton_ver-especialidad {
        background: #0083d6;
        font-family: 'quicksand', sans-serif;
        font-size: 1.25em;
        color: #ffffff;
        padding: 0;
        height: 37px;
        width: 246px;
        border-radius: 3px;
        border: none;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
}