body{
    background-color: #ffff;
}
:focus-visible{
    outline: none;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #ffff;
}
.dropdown-toggle::after{
    display: none;
}
.navbar_zaabrasalud{
    background-color: #0083D6;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
}
.contains_header{
    max-width: 95%;
    height: 100%;
    padding: 0;
    justify-content: flex-start;
}
.logo_header {
    width: 60%;
}
.heigFormHeader {
    height: 100%;
    width: 100%;
}
.inputBarraBusquedad {
    width: 90%;
    height: 100% !important;
    padding-left: 0;
    border-radius: 0;
    font-size: 17px;
    border: none;
    padding: 0;
    background: #faebd700;
}
.contenedorLupa {  
    padding: 0;
    border: none;
    height: auto;
    width: 8%;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    right: 0;
    align-items: flex-end;
    height: 100%;
}
.barra_busqueda {
    width: 100%;
    height: 50%;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 2px;
}
.icon_menu {
    background-color: #545b6200 !important;
    border-color: #f77f0000 !important;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soy_paciente{
    height: 100%;
}
.soy_paciente .dropdown-toggle {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.menu_paciente {
    position: absolute;
    transform: translate3d(-48px, 70px, 0px);
    top: -10px;
    left: 0px;
    padding: 0;
    will-change: transform;
    height: 16vh;
    width: 175px;
}
.menu_hamburguesa {
    position: absolute;
    transform: translate3d(-48px, 70px, 0px);
    top: -10px;
    left: 0px;
    padding: 0;
    will-change: transform;
    height: 16vh;
    width: 175px;
}
.dropdown-menu .dropdown-item {
    display: flex;
    width: 100%;
    height: 33%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 0;
    padding-top: 1%;
    align-items: center;
}
.icon_dropdown {
    width: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 35px;
    display: block;
    float: left;
}
.icon_paciente{
    background-size: contain;
    width: 40%;
    height: 65%;
}
.dropdown-item{
    font-family: 'Roboto', sans-serif;
}
.icon-especialidades{
    background-image: url('/img/header/icono-especialidades-medicas.svg');
}
.icon-instituciones{
    background-image: url('/img/header/icono-instituciones-medicas.svg');
}
.icon-quienes{
    background-image: url('/img/header/icono-instituciones-medicas.svg');
}

.button-membresia {
    flex: 115px;
    height: 100%;
    max-width: 115px;
    display: flex;
    align-items: center;
}
.img-button-membresia{
    max-width: 100%;
}
.icon-menu {
    background-color: #545b6200 !important;
    border-color: #f77f0000 !important;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-menu span, .icon-menu span:before, .icon-menu span:after {
    width: 30px;
    height: 3px;
    background: #ffff;
    display: block;
    content: "";
    position: absolute;
    transition: all 500ms ease-in-out;
    top: 45%;
}
.icon-menu span:after {
    top: -8px;
}
.icon-menu span:before {
    top: 8px;
}
.contains_boxsearch {
    display: flex;
}
.contain_lupa-mobile {
    display: none;
}
@media (min-width: 320px) and (orientation: portrait) {
    // Contenedor principal del header
    .contains_header{
        max-width: 90%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
    }
    // Sección logo zaabra
    .navbar-logo {
        text-decoration: none;
        color: #ffff;
        text-align: center;
    }
    //Sección lupa buscador mobile
    .contains_boxsearch {
        display: none;
    }
    .contain_lupa-mobile {
        display: flex;
    }
    .boton_lupa_mobile {
        padding: 0;
        border: none;
    }
    .icon_lupa-mobile {
        width: 28px;
        background: #0083d6;
    }
    .contains_barra{
        display: none;
        background-color: #0083d6 !important;
        width: 100%;
        height: 79%;
        z-index: 20;
        padding: 0;
    }
    .barra_oculta {
        width: 90%;
    }
    .barra_busqueda-mobile {
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-radius: 2px;
        margin: auto;
    }
    .inputBarraBusquedad {
        width: 90%;
        height: 100% !important;
        padding-left: 0;
        border-radius: 0;
        font-size: 17px;
        border: none;
        padding: 0 2%;
        background: #faebd700;
    }
    // Sección botón usuario
    .icon_paciente {
        background-size: contain;
        width: 70%;
        height: 65%;
    }
    .soy_paciente .dropdown-toggle {
        width: 100%;
        height: 100%;
        border: none;
        background: #fff0;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    // Menú desplegable
    .menu_paciente {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: -28px;
        left: -55px;
        padding: 0;
        will-change: transform;
        height: 20vh;
        width: 170px;
    }
    // Sección botón membresía
    .button-membresia {
        display: none;
    }
    .button-membresia-mobile {
        display: flex;
        height: 100%;
        max-width: 30px;
        align-items: center;
        text-align: center;
    }
    .img-button-membresia-mobile {
        max-width: 30px;
    }
    //Sección menú hamburguesa
    .icon-menu {
        background-color: #545b6200 !important;
        border-color: #f77f0000 !important;
        cursor: pointer;
        width: 58px;
        height: 35px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // Menú desplegable
    .menu_hamburguesa {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: -33px;
        left: -75px;
        padding: 0;
        will-change: transform;
        height: 16vh;
        width: 175px;
    }
}
@media (min-width: 360px) and (orientation: portrait) {
    // Sección desplegable botón usuario
    .menu_paciente {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: -21px;
        left: -50px;
        padding: 0;
        will-change: transform;
        height: 20vh;
        width: 170px;
    }
    // Sección desplegable menú hamburguesa
    .menu_hamburguesa {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: -30px;
        left: -75px;
        padding: 0;
        will-change: transform;
        height: 16vh;
        width: 175px;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    //Contenedor general
    .navbar_zaabrasalud {
        background-color: #0083D6;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 7vh;
    }
    .contains_header {
        max-width: 75%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
    }
    //Seccion logo zaabra
    .logo_header {
        width: 100%;
    }
    //Seccion lupa barra buscador
    .icon_lupa-mobile {
        width: 130%;
        background: #0083d6;
    }
    // Seccion boton usuario 
    .icon_paciente {
        background-size: contain;
        width: 100%;
    }
    .menu_paciente {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: 16px;
        left: -30px;
        padding: 0;
        will-change: transform;
        height: 15vh;
        width: 170px;
    }
    //Seccion boton membresia
    .button-membresia-mobile {
        display: flex;
        height: 100%;
        max-width: 8%;
        align-items: center;
        text-align: center;
    }
    .img-button-membresia-mobile {
        max-width: 100%;
    }
    //Seccion menu desplegable
    .menu_hamburguesa {
        position: absolute;
        transform: translate3d(-48px, 70px, 0px);
        top: -10px;
        left: -65px;
        padding: 0;
        will-change: transform;
        height: 15vh;
        width: 175px;
    }
}
@media (min-width: 1024px) and (max-height: 800px) {
    .contains_barra{
        display: none;
    }

    // Contenedor principal
    .contains_header {
        max-width: 75%;
        height: 100%;
        padding: 0;
        justify-content: flex-start;
    }
    // Seccion logo zaabra
    .logo_header {
        width: 75%;
    }
    //Seccion barra de busqueda
    .contains_boxsearch {
        padding: 0%;
        flex: 45%;
        max-width: 45%;
        height: 100%;
        margin-right: 0;
        align-items: center;
        display: flex;
        align-self: center;
    }
    //Seccion boton usuario
    .dropdown-paciente {
        width: 30%;
        height: 100%;
    }
    .soy_paciente{
        width: 10%;
    }
    .icon_menu{
        width: 35px;
        height: 35px;
    }
    .icon_paciente {
        background-size: contain;
        width: 60%;
    }
    //Seccion membresia
    .button-membresia {
        display: flex;
    }
    .button-membresia-mobile {
        display: none;
    } 
    .img-button-membresia {
        width: 100%;
    }
    //Seccion menu hamburguesa
    .menu-hamburger {
        width: 9%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }   
}
@media (min-width: 1440px) {
    .contains_header {
        max-width: 75%;
        height: 100%;
        padding: 0;
    }
    .contains_barra{
        display: none;
    }
    .logo_header {
        width: 85%;
    }
    .contains_boxsearch {
        padding: 0%;
        flex: 45%;
        max-width: 45%;
        height: 100%;
        margin-right: 0;
        align-items: center;
        display: flex;
        align-self: center;
    }
    .dropdown-paciente {
        width: 30%;
        height: 100%;
    }
    .menu_hamburger {
        width: 15%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .icon_menu{
        width: 35px;
        height: 35px;
    }
    .soy_paciente{
        width: 18%;
    }
    .menu-hamburger {
        width: 9%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .button-membresia {
        display: flex;
    }
    .button-membresia-mobile {
        display: none;
    }


    .button-membresia {
        flex: 115px;
        height: 100%;
        max-width: 145px;
        display: flex;
        align-items: center;
    }
   
}
@media (min-width: 1440px) {
    .contains_header {
        max-width: 65%;
        height: 100%;
        padding: 0;
    }
}
