body{
    background-color: #ffff;
}
:focus-visible{
    outline: none;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #ffff;
}
.dropdown-toggle::after{
    display: none;
}
.navbar_zaabrasalud{
    background-color: #0083D6;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    width: 100%;
    z-index: 500;
    top: .1px;
}
.heigFormHeader {
    height: 100%;
    width: 100%;
}
.inputBarraBusquedad {
    width: 100%;
    height: 50px;
    padding-left: 0;
    border-radius: 0;
    font-size: 1.4em;
    border: none;
    padding: 2%;
    background: #faebd700;
}
.button_SearchBarH {
    background: #ffffff;
    height: 100%;
    width: 10%;
    border: none;
    padding: 0;
    border-radius: 3px;
}
.icon_searchH {
    background-image: url('/img/header/icono-buscador-azul.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: center;
}
.button_SearchBarH::after {
    border: none !important;
}
.contenedorLupa {
    padding: 0;
    border: none;
    height: auto;
    width: 20px;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    right: 0;
    align-items: flex-end;
    //height: 100%;
}
.barra_busqueda {
    width: 100%;
    height: 30px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 2px;
}
.barra_busqueda2 {
    width: 100%;
    height: 50%;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 2px;
}
.soy_paciente{
    height: 100%;
}
// Seccion icono boton usuario
.soy_paciente .dropdown-toggle {
    background-image: url('/img/header/icono-soy-paciente-blanco.svg');
    background-size: 55px;
    background-position-x: center;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
// Efecto boton usuario seleccionado
.icon_paciente:focus {
    background-image: url('/img/header/icono-soy-paciente-azul.svg');
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
// Seccion icono menu hamburguesa
.menu-hamburger .dropdown-toggle {
    background-image: url('/img/header/icono-hamburguesa-blanco.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
// Efecto boton usuario seleccionado
.icon-menu:focus {
    background-image: url('/img/header/icono-hamburguesa-azul.svg');
    background-size: 30px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
.menu_paciente {
    padding: 0;
    height: auto;
}
.menu_hamburguesa {
    height: auto;
    width: 175px;
}
.dropdown-menu .dropdown-item {
    display: flex;
    width: 100%;
    height: 45px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 0;
    align-items: center;
}
.dropdown-item{
    font-family: 'Roboto', sans-serif;
}
// Iconos de los menus desplegables
.icon-paciente{
    background-image: url('/img/header/icono-paciente-gris.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
.icon-medico{
    background-image: url('/img/header/icono-soy-medico.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
.icon-instituciones{
    background-image: url('/img/header/icono-instituciones-medicas.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
.icon-especialidades{
    background-image: url('/img/header/icono-especialidades-medicas.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-instituciones-burger{
    background-image: url('/img/header/icono-instituciones-medicas.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-quienes{
    background-image: url('/img/header/icono-quienes-somos.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-contactenos{
    background-image: url('/img/header/iconos-de-contactenos.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-agenda{
    background-image: url('/img/header/icono-agenda-gris.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-perfil{
    background-image: url('/img/header/icono-mi-perfil-gris.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.icon-cerrarSesion{
    background-image: url('/img/header/icono-cerrar-sesion-gris.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
//hover iconos menu usuario
.menu_paciente > .icon-paciente:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-paciente-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
.menu_paciente > .icon-medico:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-soy-medico-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
.menu_paciente > .icon-instituciones:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-instituciones-medicas-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 21%;
}
// hover de los iconos del menu hamburguesa
.menu_hamburguesa > .icon-especialidades:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-especialidades-medicas-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-instituciones-burger:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-instituciones-medicas-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-quienes:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-quienes-somos-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-contactenos:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-contactenos-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-agenda:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-agenda-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-perfil:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-mi-perfil-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.menu_hamburguesa > .icon-cerrarSesion:hover{
    background: #0083D6;
    color: #ffffff;
    border: 1px solid #0083D6;
    background-image: url('/img/header/icono-cerrar-sesion-blanco.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 16%;
}
.button-membresia {
    flex: 115px;
    height: 100%;
    max-width: 117px;
    display: flex;
    align-items: center;
}
.img-button-membresia{
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
.menu_hamburguesa {
    height: auto;
    width: 260px;
}
.dropdown-menu .menu_item {
    display: flex;
    width: 100%;
    height: 6.5vh;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
}
.contains_boxsearch {
    display: flex;
}
.barra_busqueda > #ui-id-1{
    //left: 0% !important;
}
.barra_busqueda2 > #ui-id-1{
    //left: 0% !important;
}
#ui-id-1{
    z-index: 500 !important;
    background: white;
    /*width: 29.7% !important;*/
    height: 25vh;
    overflow-x: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem !important;
    //left: 26.5% !important;
    //top: 51px !important;
    border: solid 1px #e8e8e8;

}
#ui-id-1::-webkit-scrollbar {
    //display: none !important;
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
#ui-id-1::-webkit-scrollbar-thumb {
    background: #e8e8e8 !important;
    border-radius: 5px !important;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#ui-id-1::-webkit-scrollbar-thumb:hover {
    //background: #0083D6 !important;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}

/* Cambiamos el fondo cuando esté en active */
#ui-id-1::-webkit-scrollbar-thumb:active {
    //background-color: #016eb0 !important;
}
.ui-menu {
   // display: block !important;
   z-index: 500 !important;
   background: white;
   /*width: 89.5% !important;*/
   height: 28vh;
   overflow-x: hidden;
   border-radius: 3px;
   padding: 0 1%;
   //top: 95px !important;
   //left: 5% !important;
   position: fixed !important;
}
.ui-menu-item {
    list-style: none;
    padding-top: 3%;
    height: 3rem;
}

.ui-menu-item > .ui-menu-item-wrapper{
    display: flex;
    color: black !important;
    font-size: 1rem !important;
    height: 50px;
    width: 100%;
    padding: .5rem 0;
    margin-left: 5px;
    border-radius: 5px;
    align-items: center;
}

.ui-menu-item > .ui-menu-item-wrapper > i{
    margin-left: 10px;
}

.ui-menu-item > .ui-menu-item-wrapper:hover,
.ui-menu-item > .ui-menu-item-wrapper:hover > i,
.ui-menu-item > .ui-state-active,
.ui-menu-item > .ui-state-active > i {
    background: #e8e8e8 !important;
    //color: white !important;
    //border-color: white;
}

.ui-menu-item > .ui-menu-item-wrapper > i{
    border: solid 1px black;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
}
.ui-menu-item > .ui-menu-item-wrapper > i:hover{
    border: solid 1px white;
}

.ui-menu li::marker {
    color: #0083D6 !important;
}

.ui-helper-hidden-accessible{
    display: none !important;
}

@media (max-width: 600.98px) {
    .navbar_zaabrasalud{
        height: 55px;
    }
    // Contenedor principal del header
    .navbar .container {
        justify-content: space-evenly;
    }
    .contains_header{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    // Sección logo zaabra
    .navbar-logo {
        text-decoration: none;
        color: #ffff;
        width: 70px;
        //height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_header {
        height: 40px;
        image-rendering: -webkit-optimize-contrast;
    }
    //Sección lupa buscador mobile
    .contains_boxsearch {
        display: none;
    }
    .contain_lupa-mobile {
        display: flex;
    }
    .boton_lupa_mobile {
        padding: 0;
        border: none;
    }
    .icon_lupa-mobile {
        width: 28px;
        background: #0083D6;
    }
    .contains_barra{
        display: none;
        background-color: #0083D6 !important;
        width: 100%;
        height: 50px;
        z-index: 20;
        //padding: 8% 0;
    }
    .barra_oculta {
        width: 90%;
    }
    .barra_busqueda-mobile {
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        //border-radius: 3px;
        margin: auto;
    }
    .inputBarraBusquedad {
        width: 90%;
        height: 25px;
        padding-left: 0;
        border-radius: 0;
        font-size: 1.2em;
        border: none;
        padding: 1% 2%;
        background: #faebd700;
    }
    .contenedorLupa {
        padding: 0;
        border: none;
        height: auto;
        width: 18px;
        position: relative;
        margin-top: 0;
        margin-right: 3%;
        right: 0;
        align-items: flex-end;
        //height: 100%;
    }
    .ui-menu {
        height: 29vh;
    }
    // Sección botón usuario
    .soy_paciente{
        height: 100%;
        width: 75px;
    }
    // Seccion icono boton usuario
    .soy_paciente .dropdown-toggle {
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-size: 50px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Seccion icono boton usuario
    .soy_paciente .dropdown-toggle {
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-size: 50px;
        background-position-x: center;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Efecto boton usuario seleccionado
    .icon_paciente:focus {
        background-image: url('/img/header/icono-soy-paciente-azul.svg');
        background-color: #ffffff;
        height: 100%;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Menú desplegable
    .dropdown-menu .dropdown-item {
        padding-left: 36%;
        //height: 45px;
        justify-content: flex-start;
    }
    .icon-paciente {
        background-size: 20%;
    }
    .icon-medico {
        background-size: 20%;
    }
    .icon-instituciones {
        background-size: 20%;
    }
    // Sección botón membresía
    .button-membresia {
        display: none;
    }
    .btnMembresia_header_mobile {
        background-image: url('/img/header/boton-de-memebresia-mob.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 30px;
        width: 40px;
    }
    //Sección menú hamburguesa
    .menu-hamburger {
        width: 50px;
        height: 100%;
    }
    // Menú desplegable
    .menu_hamburguesa {
        height: auto;
        width: 225px;
    }
    .dropdown-menu .item-cel {
        background-position-x: 7%;
        padding-left: 25%;
        //height: 8vh;
    }
    .icon-especialidades{
        background-size: 16%;
    }
    .icon-instituciones-burger{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-quienes{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-contactenos{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-agenda{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-perfil{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-cerrarSesion{
        background-position-x: 7%;
        background-size: 16%;
    }
}
/*@media (min-width: 360px) and (orientation: portrait) {
    .ui-menu {
        height: 35vh;
    }
}*/
@media (min-width: 601px) and (max-width: 1023.98px) {
    .navbar_zaabrasalud {
        background-color: #0083D6;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        position: sticky;
        width: 100%;
        z-index: 500;
        top: .1px;
    }
    .icon_lupa-mobile {
        width: 45px;
        background: #0083D6;
    }
    .btnMembresia_header_mobile {
        background-image: url('/img/header/boton-de-memebresia-mob.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 55px;
        width: 70px;
    }
    /*.navbar_zaabrasalud{
        height: calc(2.6em + 1rem + 2px);
    }*/
    // Contenedor principal del header
    .contains_header{
        //width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
    }
    // Sección logo zaabra
    .navbar-logo {
        text-decoration: none;
        color: #ffff;
        width: 110px;
        //height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .logo_header {
        //width: 75%;
        //height: 100%;
        image-rendering: -webkit-optimize-contrast;
    }
    //Sección lupa buscador mobile
    .contains_boxsearch {
        display: none;
    }
    .contain_lupa-mobile {
        display: flex;
    }
    .boton_lupa_mobile {
        padding: 0;
        border: none;
    }

    .contains_barra{
        display: none;
        background-color: #0083D6 !important;
        width: 100%;
        height: 80px;
        z-index: 20;
        //padding: 8% 0;
    }
    .barra_oculta {
        width: 90%;
    }
    .barra_busqueda-mobile {
        background: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        //border-radius: 2px;
        margin: auto;
    }
    .inputBarraBusquedad {
        width: 90%;
        height: 45px;
        padding-left: 0;
        border-radius: 0;
        font-size: 1.75em;
        border: none;
        padding: 1% 2%;
        background: #faebd700;
    }
    .contenedorLupa {
        padding: 0;
        border: none;
        height: auto;
        width: 30px;
        position: relative;
        margin-top: 0;
        margin-right: 3%;
        right: 0;
        align-items: flex-end;
        //height: 100%;
    }
    .ui-menu {
        height: 29vh;
    }
    // Sección botón usuario
    .soy_paciente{
        //height: 100%;
        width: 135px;
    }
    // Seccion icono boton usuario
    .soy_paciente .dropdown-toggle {
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-size: 85px;
        background-position: center;
        background-repeat: no-repeat;
       //width: 100%;
        //height: 100%;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Seccion icono boton usuario
    .soy_paciente .dropdown-toggle {
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-size: 85px;
        background-position-x: center;
        //width: 100%;
        //height: 100%;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Efecto boton usuario seleccionado
    .icon_paciente:focus {
        background-image: url('/img/header/icono-soy-paciente-azul.svg');
        background-color: #ffffff;
        height: 100%;
        border: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }
    // Menú desplegable
    .dropdown-menu .dropdown-item {
        height: 50px;
        padding-left: 36%;
        justify-content: flex-start;
    }
    .icon-paciente {
        background-size: 20%;
    }
    .icon-medico {
        background-size: 20%;
    }
    .icon-instituciones {
        background-size: 20%;
    }
    // Sección botón membresía
    .button-membresia {
        display: none;
    }

    //Sección menú hamburguesa
    .menu-hamburger {
        width: 100px;
        height: 100%;
    }
    .menu-hamburger .dropdown-toggle {
        background-size: 50px;
        /* width: 100%; */
    }
    // Menú desplegable
    .menu_hamburguesa {
        height: auto;
        width: 225px;
    }
    .dropdown-menu .item-cel {
        background-position-x: 7%;
        padding-left: 25%;
        height: 50px;
    }
    .icon-especialidades{
        background-size: 16%;
    }
    .icon-instituciones-burger{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-quienes{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-contactenos{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-agenda{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-perfil{
        background-position-x: 7%;
        background-size: 16%;
    }
    .icon-cerrarSesion{
        background-position-x: 7%;
        background-size: 16%;
    }
}
@media (min-width: 1024px) {
    .contain_lupa-mobile {
        display: none;
    }
    .btnMembresia_header_mobile {
    display: none;
    }
    .contains_barra{
        display: none;
    }
    // Contenedor principal
    .contains_header {
        width: 75%;
        height: 100%;
        padding: 0;
        justify-content: flex-start;
    }
    // Seccion logo zaabra
    .logo_header {
        width: 65px;
        image-rendering: -webkit-optimize-contrast;
    }
    //Seccion barra de busqueda
    .contains_boxsearch {
        padding: 0%;
        flex: 45%;
        max-width: 45%;
        height: 100%;
        margin-right: 0;
        align-items: center;
        display: flex;
        align-self: center;
    }
    .contenedorLupa {
        padding: 0;
        border: none;
        height: auto;
        width: 6%;
        position: relative;
        margin-top: 0;
        margin-right: 3%;
        right: 0;
        align-items: flex-end;
    }
    //Seccion boton usuario
    .dropdown-paciente {
        width: 30%;
        height: 100%;
    }
    .soy_paciente{
        width: 65px;
    }
    .icon_paciente {
        background-size: contain;
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-repeat: no-repeat;
        background-position-y: center;
    }
    .menu_paciente {
        padding: 0;
        height: auto;
    }
    .texto_item-menu {
        width: 60%;
        margin-left: 20%;
        font-size: 1em;
    }
    .texto_item-menu-paciente {
        width: 60%;
        margin-left: 35%;
        font-size: 1em;
    }
    //Seccion membresia
    .button-membresia {
        display: flex;
    }
    .img-button-membresia {
        width: 100%;
    }
    //Seccion menu hamburguesa
    .menu-hamburger {
        width: 65px;
        height: 100%;
    }
}
<<<<<<< HEAD
/*@media (min-width: 1200px) {
=======
@media (min-width: 1200px) and (max-width: 1359.98px) {
>>>>>>> c546b3f1dbc0025a32d3b3bfb882242811157499
    //Seccion barra de busqueda
    .contenedorLupa {
        width: 5%;
    }
    // Seccion boton membresia
    .button-membresia {
        max-width: 135px;
    }
    #ui-id-1 {
<<<<<<< HEAD
        left: 25.6% !important;
        width: 29.7% !important;
=======
        /*left: 25.6% !important;*/
        /*width: 29.7% !important;*/
>>>>>>> c546b3f1dbc0025a32d3b3bfb882242811157499
        height: 27vh;

    }
}*/
/*@media (min-width: 1360px) {
    #ui-id-1 {
        //left: 25.2% !important;
        height: 30vh;
    }
    .icon_searchH {
        background-size: 60%;
    }
    .dropdown-menu .dropdown-item {
        height: 55px;
    }
    .dropdown-menu .menu_item {
        height: 55px;
    }
}*/
/*@media (min-width: 1440px) {
    .contains_barra{
        display: none;
    }
    // Contenedor principal
    .contains_header {
        width: 75%;
        height: 100%;
        padding: 0;
        justify-content: flex-start;
    }
    // Seccion logo zaabra
    .logo_header {
        width: 80%;
    }
    //Seccion barra de busqueda
    .contains_boxsearch {
        padding: 0%;
        flex: 45%;
        width: 45%;
        height: 100%;
        margin-right: 0;
        align-items: center;
        display: flex;
        align-self: center;
    }
    .contenedorLupa {
        padding: 0;
        border: none;
        height: auto;
        width: 6%;
        position: relative;
        margin-top: 0;
        margin-right: 3%;
        right: 0;
        align-items: flex-end;
    }
    .icon_searchH {
        background-size: 60%;
    }
    #ui-id-1 {
        //left: 25.65% !important;
    }
    //Seccion boton usuario
    .dropdown-paciente {
        width: 30%;
        height: 100%;
    }
    .soy_paciente{
        width: 8%;
    }

    .icon_paciente {
        background-size: contain;
        background-image: url('/img/header/icono-soy-paciente-blanco.svg');
        background-repeat: no-repeat;
        background-position-y: center;
    }
    .menu_paciente {
        padding: 0;
        height: auto;
        width: 200px;
    }
    .texto_item-menu {
        width: 60%;
        margin-left: 20%;
    }
    .texto_item-menu-paciente {
        width: 60%;
        margin-left: 35%;
    }
    //Seccion membresia
    .button-membresia {
        display: flex;
        max-width: 145px;
    }
    .img-button-membresia {
        width: 100%;
    }
    //Seccion menu hamburguesa
    .menu-hamburger {
        width: 7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_hamburguesa {
        height: auto;
        width: 260px;
    }
}*/
@media (min-width: 1920px) {
    .navbar_zaabrasalud {
        height: 75px;
    }
    .logo_header {
        width: 75px;
        image-rendering: -webkit-optimize-contrast;
    }
    .barra_busqueda {
        height: 35px;
    }
<<<<<<< HEAD
    .soy_paciente {
        width: 100px;
=======
    // Seccion barra de busqueda
    .contenedorLupa {
        padding: 0;
        border: none;
        height: auto;
        width: 5%;
        position: relative;
        margin-top: 0;
        margin-right: 3%;
        right: 0;
        align-items: flex-end;
    }
    #ui-id-1 {
        //left: 24.7% !important;
        /*width: 29.7% !important;*/
        height: 31vh;
        //top: 63px !important;
>>>>>>> c546b3f1dbc0025a32d3b3bfb882242811157499
    }
    .soy_paciente .dropdown-toggle {
        background-size: 70px;
    }
    .button-membresia {
        max-width: 150px;
    }
    .menu-hamburger .dropdown-toggle {
        background-size: 40px;
    }
}
