/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  /*end Float Shadow */
  /* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.zaabrasalud_parallax {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
}
.contains_text{
     text-align: center;
}
.titulo_home{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin: 0;
    color: #434142;
}
.parrafo_home{
    font-family: 'Roboto', sans-serif;
}
.titulo_portafolio {
    font-family: 'Quicksand', sans-serif;
    color: #0083d6;
    font-weight: bold;
    text-align: center;
}
.ver_mas {
    max-width: 45%;
    height: 3.5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.ver_mas.especialistas {
    background: #007bff;
}
.ver_mas.instituciones {
    background: #019F86;
}
.contains_submenu{
    padding-top: 5%;
    height: 100%;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
}
.arrow_mas{
    margin-left: 5%;
}
.contains_slider_especialistas{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.contains_slider_especialistas .swipper-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.contains_slider_especialistas .card{
    border: 0;
}
.contains_slider_especialistas .card-img-top{
    border-top-left-radius: 25px;
    object-fit: cover;
}
.contains_slider_especialistas .card-body{
    background-color: #F5F5F5;
    text-align: center;
}
.contains_slider_especialistas .card-body h5{
    font-family: "Quicksand";
    color: #0083D6;
    margin-bottom: 0;
    font-weight: bolder;
}
.contains_slider_especialistas .card-body p{
    font-family: "Roboto";
    color: #3E3E3E;
    margin-bottom: 0;
}
.contains_slider_especialistas .card-body p:nth-child(3){
    color: #232323;
    font-weight: bold;
}
.contains_slider_triple{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.contains_slider_triple .swipper-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.contains_slider_logoshome{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.contains_slider_logoshome .swipper-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.btn-next{
    width: 10px;
    height: 15px;
    border: 0;
    right: 5%;
    font-size: 0.9em;
    color: #fff0;
    background: url('/img/iconos/flecha-adelante.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.btn-prev{
    width: 10px;
    height: 15px;
    border: 0;
    left: 5%;
    font-size: 0.9em;
    color: #fff0;
    background: url('/img/iconos/flecha-atras.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

@media (min-width: 1024px) and (max-height: 800px){
    
    .swiper_especialistas{
        max-width: 85%;
    }
    .swiper_triple{
        max-width: 83%;
    }
    .swiper_logoshome{
        max-width: 90%;
    }  
    .zaabrasalud_parallax {
        height: 36vh;
    }
    .contains_menu {
        max-width: 60%;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
    }
    .image-height {
        height: 22vh;
    }
    .titulo_home {
        height: 4vh;
        font-size: calc(0.6em + 1vw);
    }
    .titulo_portafolio {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: calc(0.95em + 1vw);
    }
    .parrafo_home {
        height: 5vh;
        font-size: calc(0.1em + 1vw);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }
    .contains_image{
        max-width: 60%;
    }
    .imagen_home {
        padding-right: 0px !important;
        width: 100%;
        height: 100%;
        -o-object-fit: fill;
        object-fit: fill;
    }
    .row_contains{
        height: 88%;
    }
    .contains_slider_especialistas{
        height: 45vh;
    }
    .contains_slider_especialistas .card{
        max-width: 23%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .contains_slider_especialistas .card-img-top{
        height: 23vh;
    }
    .contains_slider_especialistas .card-body{
        height: 15vh;
        padding: 6%;
    }
    .contains_slider_especialistas .card-body .ver_mas{
        max-width: 70%;
        background-color: #0083D6;
    }
    .contains_slider_especialistas .card-body h5{
        font-size: 1.3em;
    }
    .contains_slider_especialistas .card-body p{
        font-size: 0.8em;
    }
    .contains_slider_especialistas .card-body p:nth-child(3){
        font-size: 0.9em;
    }
    .contains_slider_triple{
        height: 25vh;
    }
    .contains_slider_logoshome{
        height: 25vh;
    }
}
@media (min-width: 1200px){

    .contains_menu {
        max-width: 50%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
    .parrafo_home {
        height: 5vh;
        font-size: calc(0.05em + 1vw);
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    .zaabrasalud_parallax {
        height: 40vh;
    }
    .swiper_especialistas {
        max-width: 80%;
    }
    .contains_slider_triple {
        height: 35vh;
    }
    .swiper_triple {
        max-width: 81%;
    }
    .swiper_logoshome {
        max-width: 85%;
    }
}

@media (min-width: 1440px){

    .titulo_portafolio{
        margin-bottom: 2%;
    }
    .contains_submenu{
        height: 95%;
    }
    .contains_image{
        max-width: 60%;
    }
    .imagen_home{
        max-width: 100%;
    }
    .titulo_home{
        font-size: calc(0.65em + 1vw);
    }
    .row_contains{
        height: 88%;
    }
    .swiper_especialistas {
        max-width: 80%;
    }
    .contains_slider_especialistas {
        height: 45vh;
    }
    .contains_slider_especialistas .card {
        max-width: 23%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .contains_slider_especialistas .card-img-top {
        height: 25vh;
    }
    .ver_mas{
        max-width: 65%;
    }
}