// Propiedades para mantener el footer en la parte inferior del body
#app_flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
// BANNER PRINCIPAL
.banner_top_content_inside {
    position: absolute;
    top: 0px;
    left: 5%;
    width: 60%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner_top_logo {
    width: 87px;
    margin-bottom: 3px;
}
.banner_top_title {
    font-size: .9em;
    font-family: "Quicksand";
    font-weight: bolder;
    line-height: 1;
    margin: 0;
}
.banner_top_text {
    font-size: .7em;
    font-family: "Quicksand";
    font-weight: bolder;
    line-height: 1;
    margin: .3em 0 .5em 0;
    width: 82%;
}
.banner_top_button {
    font-size: .7em;
    font-family: "Quicksand";
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1px 8px;
}
// BANNER PRINCIPAL - Pagination
.pagination_home {
    bottom: -6px !important;
}
// TÍTULO PRINCIPAL
.titulo_principal {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    color: #0083D6;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.contenido_especialista {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 7px 20px 7px;
}
.seccion_btn_central {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.seccion_tarjetas{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.seccion_carrusel_inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url('/img/home/fondo-gris-logos-tablet.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.tarjeta_opcion{
    width: 45%;
    padding: 15px 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f3e8e8; 
    box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 15%);
}
.cabecera_tarjeta{
    width: 80px;
    margin: auto;
}
.cuerpo_tarjeta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// Imágenes, logos e iconos
.icono_tarjeta{
    height: 100%;
    width: 100%;
}
.imagen_parallax {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    margin-bottom: 0;
}
.imagen_especialista {
    width: 100%;
    height: 245px;
    border-top-left-radius: 25px;
    object-fit: cover;
    object-position: top;
}
// Títulos, subtítulos y textos
.titulo_contenido {
    font-size: 1.3em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #0083D6;
    margin: 0;
    padding: 0;
}
.subTitulo_contenido {
    font-size: 1em;
    font-family: "Quicksand";
    font-weight: bolder;
    color: #434142;
    text-align: center;
    margin: 10px 0 4px 0;
    padding: 0 15px;
    line-height: 1;
}
.txt_contenido{
    font-size: .8em;
    font-family: 'Roboto';
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 7px;
}
.txt_especialista {
    color: #434142 !important;
    font-size: 1em;
    font-family: 'Roboto';
    text-align: center;
}
// Botones
.btn_central_azul {
    background: #0083D6;
    font-size: .8em;
    font-family: "Quicksand";
    color: #ffff;
    padding: 2px 8px;
    border-radius: 3px;
}
.btn_central_verde {
    background: #019F86;
    font-size: .8em;
    font-family: "Quicksand";
    color: #ffff;
    padding: 2px 8px;
    border-radius: 3px;
}
.btn_grande_central_azul {
    background: #0083D6;
    font-size: 1em;
    font-family: "Quicksand";
    color: #ffff;
    padding: 5px 8px;
    border: 1px solid #0083D6;
    border-radius: 3px;
}
.swiper_especialistas {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding: 0 20px;
}
.flecha_izquierda {
    left: -6px;
    right: auto;
}
.flecha_izquierda:after {
    font-size: 1.3em;
    font-weight: bolder;
}
.flecha_derecha {
    right: -6px;
    left: auto;
}
.flecha_derecha:after {
    font-size: 1.3em;
    font-weight: bolder;
}
// Carrusael o slider triple
.swiper_triple{
    width: 100%;
    padding: 0 10px 0 15px;
    margin-bottom: 10px;
}
.swiper_triple .swiper-wrapper {
    justify-content: space-around;
    width: 100%;
    height: 85px;
} 
.swiper_triple .swiper-wrapper img{
    image-rendering: -webkit-optimize-contrast;
} 
// Carrusel inferior de logos
.swiper_logos_inferior{
    width: 95%;
    padding: 0 20px;
}
// Animaciones
.animacion_tarjeta {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    //box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
/* move the element up by 5px */
.animacion_tarjeta:hover, .animacion_tarjeta:focus, .animacion_tarjeta:active {   
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.animacion_tarjeta:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 101%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
.animacion_tarjeta:hover:before, .animacion_tarjeta:focus:before, .animacion_tarjeta:active:before {
    opacity: 1;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
}
.animación_boton {   // Animación del botón
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.animación_boton:hover, .animación_boton:focus, .animación_boton:active {
    color: white;
}
.animación_boton:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.animación_boton:hover:before, .animación_boton:focus:before, .animación_boton:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media (min-width: 360px) {
    // Imágenes, logos e iconos
    .imagen_parallax {
        height: 200px;
    }
    .imagen_especialista {
        height: 275px;
    }
}

@media (min-width: 768px) {
    // BANNER PRINCIPAL
    .banner_top_content_inside {
        width: 55%;
    }
    .banner_top_logo {
        width: 195px;
        margin-bottom: 5px;
    }
    .banner_top_title {
        font-size: 2em;
    }
    .banner_top_text {
        font-size: 1.5em;
        width: 90%;
    }
    .banner_top_button {
        font-size: 1.3em;
        padding: 2px 12px;
    }
    // BANNER PRINCIPAL - Pagination - puntos azules 
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    // TÍTULO PRINCIPAL
    .titulo_principal {
        font-size: 2.5em;
        margin: 40px 0;
    }
    .contenido_especialista {
        padding: 15px 7px 30px 7px;
    }
    .seccion_carrusel_inferior {
        height: 400px;
    }
    .seccion_tarjetas {
        width: 80%;
        margin-bottom: 50px;
    }
    .tarjeta_opcion {
        width: 45%;
        padding: 35px 10px;
    }
    .cabecera_tarjeta {
        width: 125px;
    }
    // Imágenes, logos e iconos
    .imagen_parallax {
        height: 300px;
    }
    .imagen_especialista {
        height: 265px;
    }
    .titulo_contenido {
        font-size: 1.5em;
    }
    .subTitulo_contenido {
        font-size: 1.5em;
        padding: 0 30px;
    }
    .txt_contenido {
        font-size: 1.15em;
        padding: 0 15px;
    }
    .txt_especialista {
        font-size: 1.15em;
    }
    .btn_central_azul {
        font-size: 1.15em;
        padding: 2px 15px;
    }
    .btn_central_verde {
        font-size: 1.15em;
        padding: 3px 15px;
    }
    .btn_grande_central_azul {
        font-size: 1.15em;
        padding: 5px 15px;
    }
    .swiper_especialistas {
        width: 85%;
        padding: 0 30px;
        margin-bottom: 60px;
    }
    .flecha_izquierda {
        left: -4px;
    }
    .flecha_izquierda:after {
        font-size: 2em;
    }
    .flecha_derecha {
        right: -4px;
    }
    .flecha_derecha:after {
        font-size: 2em;
    }
    // Carrusael o slider triple
    .swiper_triple {
        width: 95%;
        padding: 0 0 0 8px;
        margin-bottom: 60px;
    }
    .swiper_triple .swiper-wrapper {
        height: 170px;
    } 
    // Carrusel inferior de logos
    .swiper_logos_inferior {
        width: 90%;
        padding: 0 30px;
    }
    // Animaciones
    .animacion_tarjeta:before {
        top: 103%;
        left: 5%;
        height: 20px;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    // BANNER PRINCIPAL
    .banner_top_content_inside {
        width: 50%;
    }
    .seccion_tarjetas {
        width: 65%;
        margin-bottom: 60px;
    }
    .seccion_carrusel_inferior {
        background-image: url('/img/home/fondo-gris-logos.png');
        height: 400px;
        justify-content: center;
    }
    // Carrusel o slider del contenido
    .swiper_especialistas {
        width: 70%;
    }
    // Carrusael o slider triple
    .swiper_triple .swiper-wrapper {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    // BANNER PRINCIPAL
    .banner_top_logo {
        width: 237px;
        margin-bottom: 10px;
    }
    .banner_top_title {
        font-size: 2.5em;
    }
    .banner_top_text {
        font-size: 2em;
    }
    .banner_top_button {
        font-size: 1.5em;
    }
    .seccion_tarjetas {
        width: 55%;
    }
    // Imágenes, logos e iconos
    .imagen_especialista {
        height: 285px;
    }
    // Carrusel o slider del contenido
    .swiper_especialistas{
        width: 90%;
    }
    // Carrusael o slider triple
    .swiper_triple .swiper-wrapper {
        height: 225px;
    }
}

@media (min-width: 1360px) {
    // BANNER PRINCIPAL
    // .banner_top_content_inside {
    //     width: 45%;
    // }
    .seccion_tarjetas {
        width: 47%;
    }
    // Imágenes, logos e iconos
    .imagen_especialista {
        height: 225px;
    }
    // Títulos, subtítulos y textos
    .titulo_contenido {
        font-size: 1.2em;
    }
    .txt_especialista {
        font-size: 1em;
        height: 37px;
    }
    // Botones
    .btn_grande_central_azul {
        font-size: 1em;
    }
    // Carrusel o slider del contenido
    .swiper_especialistas {
        width: 80%;
        padding: 0 20px;
    }
    .flecha_izquierda:after {
        font-size: 1.5em;
    }
    .flecha_derecha:after {
        font-size: 1.5em;
    }
    // Carrusel inferior de logos
    .swiper_logos_inferior {
        width: 95%;
    }
}

@media (min-width: 1440px) {
    // BANNER PRINCIPAL
    .banner_top_content_inside {
        left: 10%;
    }
    .seccion_tarjetas {
        width: 45%;
    }
    // Carrusael o slider triple
    .swiper_triple .swiper-wrapper {
        height: 250px;
    }
}

@media (min-width: 1920px) {
    // BANNER PRINCIPAL
    .banner_top_logo {
        width: 335px;
        margin-bottom: 20px;
    }
    .banner_top_title {
        font-size: 3.3em;
    }
    .banner_top_text {
        font-size: 2.5em;
    }
    .banner_top_button {
        font-size: 1.8em;
    }
    .seccion_tarjetas {
        width: 35%;
    }
    // Imágenes, logos e iconos
    .imagen_especialista {
        height: 270px;
    }
    .imagen_parallax {
        height: 400px;
    }
    // Títulos, subtítulos y textos
    .titulo_contenido {
        font-size: 1.5em;
    }
    .subTitulo_contenido {
        font-size: 1.5em;
        padding: 0 30px;
    }
    .txt_contenido {
        font-size: 1.15em;
        margin-bottom: 15px;
    }
    .txt_especialista {
        font-size: 1.15em;
    }
    // Botones

    .btn_central_azul {
        font-size: 1.15em;
    }
    .btn_central_verde {
        font-size: 1.15em;
    }
    .btn_grande_central_azul {
        font-size: 1.15em;
    }
    // Carrusel o slider del contenido
    .swiper_especialistas{
        width: 70%;
    }
    // Carrusael o slider triple
    .swiper_triple .swiper-wrapper {
        height: 325px;
    }
}