// Container, section, content, card
.main_container_infoZaabra {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    width: 100%;
}
.container_form_infoZaabra {
    background: $gray_fourth;
    width: 100%;
    margin: 0;
    padding: 0;
}
.section_banner_infoZaabra {
    display: flex;
    align-items: center;
    height: 105px;
}
.section_acordion {
    margin: auto;
    padding: 0;
    width: 93%;
}
.section_contacto_infoZaabra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0;
    margin: auto; 
    width: 90%;
}
.section_type_user {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card_acordion {
    border-radius: 0px;
    border: none;
    padding: 1% 3%;
}
.card_form_infoZaabra {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border: none;
    margin: auto;
    padding: 1.5em 0;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
}
.content_accordion {
    padding: 10px 0;
    box-shadow: 3px 4px 10px 2px rgb(0 0 0 / 15%);
}
.content_icon_infoZaabra {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 0.3em 0 0.3em 3em;
}
.content_type_user {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 75px;
}
.content_check_box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
// Images, icons and logos
.img_banner_infoZaabra {
    width: 100%;
    padding: 0;
    height: 100%;
    object-fit: cover;
}
.icon_location {
    background-image: url('/img/contacto/icono-ubicacion.svg');
}
.icon_phone {
    background-image: url('/img/contacto/icono-telefono.svg');
}
.icon_email {
    background-image: url('/img/contacto/icono-email.svg');
}
// Texts
.title_banner_infoZaabra {
    font-family: "Quicksand";
    color: $blue_official;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    position: absolute;
    left: 20px;
}
.title_body_infoZaabra {
    font-size: 1.1em;
    font-family: "Quicksand";
    font-weight: bolder;
    color: $blue_official;
    margin: 0;
    padding: 1em .5em;
    text-align: center;
}
.text_top_infoZaabra {
    font-size: .9em;
    font-family: 'Roboto';
    color: $black_firsrt;
    text-align: center;
    padding: 15px 0;
    margin: 0 5%;
}
.toggle_info {
    padding: .9em;
    padding-bottom: 0;
}
.title_toggle_info {
    font-size: .8em;
    font-family: 'Roboto';
    font-weight: bolder;
    color: $black_firsrt;
    margin: 2% 0 1% 0;
}
.txt_toggle_info {
    font-size: .75em;
    font-family: 'Roboto';
    color: $black_firsrt;
}
.text_li_toggle_info {
    font-size: .75em;
    font-family: "Roboto";
    color: $black_firsrt;
    line-height: 1.3;
    padding-left: 2em;
    margin-bottom: .7em;
}
.text_type_user {
    font-family: 'Roboto';
    font-size: .95em;
    align-self: flex-end;
    margin: 0;
}
.txt_input_check_box {
    font-size: .9em;
    font-family: 'Roboto';
    color: $black_second;
    width: 90%;
    margin: 0;
}
.txt_input_check_box a {
    font-size: .9em;
    font-family: 'Roboto';
    line-height: 1.2;
    color: $black_second;
    font-weight: bold;
    text-decoration: underline;
}
// a
.toggle_info a {
    font-size: .75em;
    font-family: 'Roboto';
    color: $blue_official;
    text-decoration: none;
    background-color: transparent;
}
// li
.text_li_toggle_info li::marker {
    color: $blue_official;
    font-size: 1.4em;
}
// Inputs
.input_type_user {
    margin: 0;
    height: inherit;
    width: 50px;
    object-fit: contain;
    object-position: top;
    position: absolute;
}
.input_check_box {
    width: 18px;
    height: 20px;
} 
// Buttons
.button_acordion {
    font-family: 'Quicksand', 'Regular';
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;
    color: $black_third;
    text-align: left;
    padding: .8em;
    padding-right: 33px;
    background: $gray_fourth;
    border-radius: 0px;
    border: 1px solid $gray_fourth;
    width: 100%;
    background-image: url('/img/iconos/icono-mas.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 97%;
    background-size: 15px;
}
.button_show_acordion {
    font-family: 'Quicksand', 'Regular';
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;
    color: $withe_official;
    text-align: left;
    padding: .8em;
    padding-right: 33px;
    background: $blue_official;
    border-radius: 0px;
    border: 1px solid $blue_official;
    width: 100%;
    background-image: url('/img/iconos/icono-x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 97%;
    background-size: 15px;
}
// Others
.name_user-contac, .name_institution-contac, .second_date-contac{
    display: none;
}
@media(min-width: 375px) {
    // Container, section, content, card
    .main_container_infoZaabra {
        padding-bottom: 157px;
    }
}
@media(min-width: 768px) {
    // Container, section, content, card
    .main_container_infoZaabra {
        padding-bottom: 258px;
    }
    .section_banner_infoZaabra {
        height: auto;
    }
    .section_acordion {
        width: 85%;
    }
    .section_contacto_infoZaabra {
        padding: 30px 0;
        width: 85%;
    }
    .content_icon_infoZaabra {
        padding: 0.5em 0 0.5em 4.5em;
    }
    .content_type_user {
        height: 115px;
    }
    .card_form_infoZaabra {
        width: 85%;
        padding: 3.5em 0;
    }
    .content_check_box {
        margin-top: 1em;
    }
    // Texts
    .title_banner_infoZaabra {
        font-size: 2em;
        left: 60px;
    }
    .title_body_infoZaabra {
        font-size: 1.7em;
    }
    .text_top_infoZaabra {
        font-size: 1.35em;
        margin: 0 6%;
    }
    .title_toggle_info {
        font-size: 1.1em;
    }
    .txt_toggle_info {
        font-size: 1em;
    }
    .text_li_toggle_info {
        font-size: 1em;
    }
    .text_type_user {
        font-size: 1.3em;
    }
    .txt_input_check_box {
        font-size: 1em;
        width: 95%;
    }
    .txt_input_check_box a {
        font-size: 1em;
    }
    // a
    .toggle_info a {
        font-size: 1em;
    }
    // Inputs
    .input_type_user {
        width: 75px;
    }
    // Buttons
    .button_acordion {
        font-size: 1.2em;
        padding-right: 45px;
        background-size: 21px;
    }
    .button_show_acordion {
        font-size: 1.2em;
        padding-right: 45px;
        background-size: 21px;
    }
}
@media(min-width: 1024px) {
    // Container, section, content, card
    .main_container_infoZaabra {
        padding-bottom: 40px;
    }
    .section_acordion {
        width: 75%;
    }
    .section_contacto_infoZaabra {
        flex-direction: row;
        padding: 45px 0;
        width: 95%;
    }
    .content_icon_infoZaabra {
        padding: 0 0 0 3.5em;
    }
    .card_form_infoZaabra {
        width: 75%;
    }
    // Texts
    .title_banner_infoZaabra {
        left: 127px;
    }
    .text_top_infoZaabra {
        font-size: 1.35em;
        margin: 0 12%;
    }
}
@media(min-width: 1200px) {
    // Container, section, content, card
    .section_contacto_infoZaabra {
        width: 85%;
    }
    .card_form_infoZaabra {
        width: 65%;
        margin-top: 2%;
    }
    // Texts
    .title_banner_infoZaabra {
        left: 150px;
    }
}
@media(min-width: 1300px) {
    // Container, section, content, card
    .card_form_infoZaabra {
        width: 55%;
    }
    // Texts
    .title_banner_infoZaabra {
        font-size: 2.5em;
        left: 170px;
    }
}
@media(min-width: 1920px) {
    // Container, section, content, card
    .section_acordion {
        width: 65%;
    }
    .section_contacto_infoZaabra {
        width: 60%;
    }
    .card_form_infoZaabra {
        width: 50%;
    }
    // Texts
    .title_banner_infoZaabra {
        font-size: 3.5em;
        left: 335px;
    }
    .title_body_infoZaabra {
        font-size: 2.2em;
    }
    .text_top_infoZaabra {
        font-size: 1.7em;
        margin: 0 17%;
    }
    .toggle_info {
        padding: 2em;
        padding-bottom: 0;
    }
    .title_toggle_info {
        font-size: 1.2em;
    }
    .txt_toggle_info {
        font-size: 1.1em;
    }
    .text_li_toggle_info {
        font-size: 1.1em;
    }
    // a
    .toggle_info a {
        font-size: 1.1em;
    }
    // Buttons
    .button_acordion {
        font-size: 1.4em;
        background-size: 25px;
    }
    .button_show_acordion {
        font-size: 1.4em;
        background-size: 25px;
    }
}