// Contenedores, secciones, contenidos y tarjetas
.tarjeta_principal {
    width: 90%;
    border: none;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 15%);
    margin-bottom: 50px;
}
.tarjeta_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: none;
    padding: 0;
    margin: 0;
}
.seccion_activa {
    width: 50%;
    border-bottom: 5px solid #0083D6;
    box-shadow: 1px 1px 4px 3px rgb(0 131 214/ 15%);
    padding: 0;
}
.seccion_inactiva {
    width: 50%;
    border-bottom: 5px solid #D1D1D1;
    padding: 0;
}
.seccion_redes_sociales {
    padding: 0 0 20px 0;
    background: #ffffff;
}
.contenedor_icono_red {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 0 0;
    margin: auto;
}
.contenido_icono {
    width: 50px;
}
.contenedor_tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 118px 0;
}
// Títulos, subtítulos y textos 
.titulo_h1 {
    font-size: 1.2em;
    font-family: "Roboto";
    font-weight: 500;
    color: #3E3E3E;
    text-align: center;
    margin: auto;
    padding: 15px 0 30px 0;
}
.titulo_h2 {
    font-size: 1.2em;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #0083D6;
    text-align: center;
    margin: 0;
    padding: 13px 0;
}
.texto_label {
    font-family: 'Quicksand';
    font-size: 1em;
    font-weight: bold;
    color: #232323;
    margin-bottom: 5px;
}
.texto_href {
    font-family: 'Roboto';
    font-size: 1em;
    color: #0083D6 !important;
    text-decoration: underline !important;
    display: flex;
    justify-content: center;
    margin: 10px 0 -3px 0;
}
.texto_flotante {
    font-family: "Roboto";
    font-size: .95em;
    font-style: italic;
    font-weight: 500;
    color: #3E3E3E;
    text-align: center;
    background: #ffffff;
    padding: 0;
    margin: auto;
    margin-top: -10px;
    width: 40%;
}
// Inputs
.input_form {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_form:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8fd0f8;
    outline: 0;
    box-shadow: 0 0 0 3px rgb(52 144 220 / 20%);
}
.height_verify {
    margin: 14.9% 0;
}

@media (min-width: 768px) {
    // Contenedores, secciones, contenidos y tarjetas
    .tarjeta_principal {
        width: 70%;
        margin-bottom: 113px;
    }
    .contenedor_icono_red {
        width: 30%;
        padding: 20px 0 15px;
    }
    .contenido_icono {
        width: 60px;
    }
    .seccion_redes_sociales {
        padding: 0 0 30px 0;
    }
    .contenedor_tarjeta {
        padding: 100px 0 283px 0;
    }
    // Títulos, subtítulos y textos
    .titulo_h1 {
        font-size: 1.5em;
        padding: 35px 0 45px 0;
        
    }
    .titulo_h2 {
        font-size: 1.563em;
        padding: 20px 0;
    }
    .texto_label {
        font-size: 1.15em;
    }
    .texto_href {
        font-size: 1.15em;
    }
    .texto_flotante {
        font-size: 1em;
    }
    // Inputs
    .input_form {
        font-size: 1.15em;
    }
    .height_verify {
        margin: 25.5% 0;
    }
}

@media (min-width: 1024px) {
    // Contenedores, secciones, contenidos y tarjetas
    .tarjeta_principal {
        width: 60%;
        margin-bottom: 30px;
    }
    .contenedor_tarjeta {
        padding: 50px 0 94px 0;
    }
    // Títulos, subtítulos y textos
    .titulo_h1 {
        padding: 0 0 45px 0;
    }
    .texto_flotante {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    // Contenedores, secciones, contenidos y tarjetas
    .tarjeta_principal {
        width: 55%;
    }
    .contenedor_tarjeta {
        padding: 50px 0 90px 0;
    }
}

@media (min-width: 1440px) {
    // Contenedores, secciones, contenidos y tarjetas
    .contenedor_tarjeta {
        padding: 50px 0 171px 0;
    }
}

@media (min-width: 1920px) {
    // Contenedores, secciones, contenidos y tarjetas
    .tarjeta_principal {
        width: 40%;
    }
    .contenedor_tarjeta {
        padding: 50px 0 211px 0;
    }
}
