#app {
    display: flex;
    flex-wrap: wrap;
    min-height:100vh;
    background-color: #F9F9F9;
}
#footer {
align-self: flex-end;
    width: 100%;
}
// barra de búsqueda panel principal agenda
.search_main_container {
    background-color: #FFFFFF;
    padding: 20px 15px;
    width: 98%;
    margin: auto;
    .btnIn_search {
        position: absolute;
        right: 0px;
        top: 0;
        height: 100%;
        border: none;
        background-color: #FFFFFF;
        width: 50px;
        border-radius: 0 20px 20px 0;
        color: #019f86;
        border: 1px solid #CED4DA;
        border-left: none;
    }
}
.extremo_redondeado {
    border-radius: 25px !important;

}
.content__target {
    border: 1px solid $blue_official;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0;
    box-shadow: -1px -1px 6px 1px rgb(0 0 0 / 20%);
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-x: center;
    background-position-y: 45px;
    height: 175px;
    position: relative;
    font-weight: bold;
    color: $black_firsrt;
    span{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        line-height: 1.1;
        height: 50px;
        padding: 0 5px;
    }    
    &:hover {
        background-color: $blue_official;
        border-radius: 15px;
        image-rendering: pixelated;
        box-shadow: 0px -1px 15px 5px rgb(0 0 0 / 50%);
        border-left: 3px solid #1a6395;
        border-bottom: 3px solid #1a6395;
        color: $withe_official;
    }
}
.calendario_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_calendario_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_calendario_blanco.png');
    }
}
.cita_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_citas_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_citas_blanco.png');
    }
}
.pago_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_pagos_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_pagos_blanco.png');
    }
}
.paciente_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_pacientes_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_pacientes_blanco.png');
    }
}
.contacto_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_contactos_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_contactos_blanco.png');
    }
}
.favorito_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_favoritos_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_favoritos_blanco.png');
    }
}
.profesional_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_profesionales_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_profesionales_blanco.png');
    }
}
.convenio_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_convenios_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_convenios_blanco.png');
    }
}
.servicio_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_servicios_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_servicios_blanco.png');
    }
}

.usuario_blue {
    background-image: url('/img/agenda/panelPrincipal/profesionales/icon_usuarios_azul.png');
    &:hover {
        background-image: url('/img/agenda/panelPrincipal/profesionales/icon_usuarios_blanco.png');
    }
}

.content__logos {
    display: flex;
    justify-content: center;
    border: 1px solid $blue_official;
    border-radius: 5px;
    padding: 15px;
    box-shadow: -1px -1px 6px 1px rgb(0 0 0 / 20%);
    height: 80px;
    img {
        object-fit: scale-down;
        width: -webkit-fill-available;
    }
    &:hover {
        border-radius: 15px;
        image-rendering: pixelated;
        box-shadow: 0px -1px 15px 5px rgb(0 0 0 / 50%);
        border-left: 3px solid #1a6395;
        border-bottom: 3px solid #1a6395;
    }
}

@media (min-width: 768px){
    .content__target {
        padding: 35px 0;
        background-size: 75px;
        height: 200px;
        span{
            height: 60px;
        } 
    }
    .content__logos {
        height: 105px;
    }
}
@media (min-width: 1024px){
    .content__logos {
        height: 150px;
    }
}

@media(min-width: 1300px) {

}

@media (min-width: 1920px) {

}