// Contenedores, tarjetas y secciones
.card_head_lan {
    background: #F5F5F5;
    padding: 40px 0;
}
.card_sede_ins {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 1px 7px #00000029;
    border: 0;
    //margin: auto;
}
.card_body_sede_ins {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
.card_video_ins {
    border: 0;
    padding: 0 15px;
    margin-top: 15px;
}
.section_main_data {
    width: 100%;
    margin: auto;
}
.section_btn_lan {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}
.section_option_line{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.section_toggle {
    width: 90%;
    margin:auto;
    padding-bottom: 20px;
}
.section_opinions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.section_opinion_ins {
    width: 90%;
    margin: auto;
    padding: 15px 0;
}
.main_data_lan {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.content_data_lan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.content_img_sede {
    display: none;
}
.module_convenio_ins {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2.7em;
}
.content_convenio_ins {
    width: 100%;
    margin-top: 20px;
}
.container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.module_opinion_ins {
    background: #F5F5F5;
    padding: 0;
}
// Imágenes, logos e iconos
.logo_sede_lan {
    width: 160px;
    height: 160px;
    border-radius: 115px;
    box-shadow: 0px 3px 6px #00000029;
}
.icon_pweb {
    background-image: url('/img/landing-institucion/icono-pagina-web.svg');
}
.icon_cont {
    background-image: url('/img/landing-institucion/icono-contacto.svg');
}
.icon_addr {
    background-image: url('/img/landing-institucion/icono-direccion.svg');
}
.main_data_lan h5 i {
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 20px;
}
.start_calification {
    display: flex;
    margin-top: 5px;
    align-self: center;
}
.serv_grey {
    background-image: url('/img/landing-institucion/icono-principal-servicios-profesionales.svg');
}
.acer_grey {
    background-image: url('/img/landing-institucion/icono-acerca-de-la-institucion.svg');
}
.cert_grey {
    background-image: url('/img/landing-institucion/icono-certificaciones.svg');
}
.sede_grey {
    background-image: url('/img/landing-institucion/icono-principal-sedes.svg');
}
.gale_grey {
    background-image: url('/img/landing-institucion/icono-galeria.svg');
}
.prof_grey {
    background-image: url('/img/landing-institucion/icono-profesionales.svg');
}
.serv_green {
    background-image: url('/img/landing-institucion/icono-principal-servicios-profesionales-verde.svg');
}
.prof_green {
    background-image: url('/img/landing-institucion/icono-profesionales-verde.svg');
}
.acer_green {
    background-image: url('/img/landing-institucion/icono-acerca-de-la-institucion-verde.svg');
}
.cert_green {
    background-image: url('/img/landing-institucion/icono-certificaciones-verde.svg');
}
.sede_green {
    background-image: url('/img/landing-institucion/icono-principal-sedes-verde.svg');
}
.gale_green {
    background-image: url('/img/landing-institucion/icono-galeria-verde.svg');
}
.icon_style {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 70px;
    width: 100%;
    height: 100px;
    background-position: top;
    margin: auto;
}
.servicios_instituciones i {
    background-image: url('/img/landing-institucion/icono-servicios-profesionales.svg');
}
.quienes_somos i {
    background-image: url('/img/landing-institucion/icono-quienes-somos.svg');
}
.propuesta i {
    background-image: url('/img/landing-institucion/icono-propuesta-valor.svg');
}
.convenios i {
    background-image: url('/img/landing-institucion/icono-convenios.svg');
}
.certificado_lan i {
    background-image: url('/img/landing-institucion/icono-pequeño-certificaciones.svg');
}
.sedes_institucion i {
    background-image: url('/img/landing-institucion/icono-sedes.svg');
}
.mapa i {
    background-image: url('/img/landing-institucion/icono-ubique-su-sede.svg');
}
.galeria_institucion i {
    background-image: url('/img/landing-institucion/icono-galeria-institucion.svg');
}
.videos_institucion i {
    background-image: url('/img/landing-institucion/icono-videos.svg');
}
.module_opinion_ins i {
    background-image: url('/img/landing-institucion/icono-opiniones-de-pacientesinst.svg');
}
.icon_item_ins {
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 27px;
}
.section_opinions i {
    background-image: url('/img/landing-profesional/icono-todos-los-comentarios-verificados.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px !important;
    height: 15px !important;
}
.img_convenios {
    width: 100%;
    height: 125px;
    object-fit: contain;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
    background: #e9f5f3;
    padding: 5px;
}
.imagen_sede_ins {
    border-radius: 50px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}
// Títulos y textos
.title_color_h1 {
    font-size: 1.5em;
    font-family: 'Quicksand';
    color: #019F86;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 5px;
}
.title_black_h1 {
    font-size: 1.5em;
    font-family: 'Quicksand';
    color: #232323;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 30px 0;
    margin: 0;
}
.subTitle_h2 {
    font-size: 1.3em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #232323;
    text-align: center;
    margin-bottom: 5px;
}
.subTitle_color_h2 {
    font-size: 1.3em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #019F86;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.subTitle_black_h2 {
    font-size: 1.3em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #434343;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.text_h3 {
    font-size: .9em;
    font-family: 'Roboto';
    color: #434343;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    line-height: .95;
}
.text_h5 {
    font-size: 1em;
    font-family: "Roboto";
    color: #232323;
    line-height: 1;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    margin-bottom: 3px;
}
.text_p {
    font-size: 1em;
    font-family: 'Roboto';
    color: #3E3E3E;
    margin: 0;
    padding-left: 2.5em;
}
.text_icon_lan {
    font-size: .9em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #232323;
    text-align: center;
    display: flex;
    line-height: 15px;
    margin-top: 70px;
    z-index: -5;
}
.text_convenio {
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #3E3E3E;
    text-align: center;
    padding-top: 3px;
    margin: 0;
}
.title_sede_ins {
    font-size: 1em;
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #019F86;
    display: flex;
    align-items: center;
    line-height: 1;
}
.parrafo_sede_ins {
    font-size: .8em;
    font-family: 'Roboto';
    color: #3E3E3E;
}
.parrafo_sede_ins:nth-child(2){
    font-weight: 500;
}
.parrafo_sede_ins:nth-child(3){
    font-weight: bolder;
}
.text_sede_span {
    font-size: .8em;
    font-family: 'Roboto';
    color: #0083D6;
}
// Botones 
.btn_colorful {
    font-size: 1em;
    font-family: "Quicksand";
    font-weight: lighter;
    color: #ffff;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #019F86;
    border-radius: 5px;
    border: 0.5px solid #019F86;
    padding: 5px 7px;
}
.btn_colorless {
    font-size: 1em;
    font-family: "Quicksand";
    font-weight: lighter;
    color: #232323 !important;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #EFEFEF;
    border-radius: 5px;
    border: 0.5px solid #434343;
    padding: 5px 7px;
}
.btnPrev_LandInst {
    left: 1px;
    right: auto;
    width: 10px;
    height: 25px;
    color: #019F86;
}
.btnPrev_LandInst:after {
    font-size: 1em;
    font-weight: bolder;
}
.btnNext_LandInst {
    right: 1px;
    left: auto;
    width: 10px;
    height: 25px;
    color: #019F86;
}
.btnNext_LandInst:after {
    font-size: 1em;
    font-weight: bolder;
}
// listas
.propuesta ul {
    margin-top: 5px;
    padding-left: 2.5em;
}
.propuesta ul li {
    list-style: none;
}
.propuesta ul li:nth-child(1) {
    background: #F5F5F5;
    padding: 15px 10px;
}
// Desplegables
.toggle_info li::marker {
    color: #019F86;
    font-size: 1em;
}
// Carruseles
.swiper_certificado_Lan {
    margin-top: 15px;
    padding: 0 15px;
    height: fit-content;
}
.slaider_certificado_LandInst {
    display: flex;
    flex-direction: column;
}
.btnPrev_cert_LandInst {
    left: -6px;
}
.btnNext_cert_LandInst {
    right: -6px;
}
.btnPrev_cert_LandInst:after {
    font-size: 1.2em;
    font-weight: bolder;
    color: #019F86;
}
.btnNext_cert_LandInst:after {
    font-size: 1.2em;
    font-weight: bolder;
    color: #019F86;
}
.imagen_carrusel {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 3px 3px 0 0 ;
    background: #e9f5f3;
}
.date_carrusel {
    font-size: 0.9em;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #3E3E3E;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}
.title_carrusel {
    font-size: 1em;
    font-family: 'Quicksand';
    font-weight: bolder;
    text-transform: none;
    height: 33px;
    line-height: 1;
    display: flex; 
    align-items: center;
}
.parrafo_carrusel {
    font-size: .9em;
    font-family: 'Roboto';
    color: #232323;
    height: 70px;
}
.margin_top_section {
    margin-top: 7px;
}
// Mapa
.mapa iframe{
    width: 100%;
}

@media(min-width: 500px) {
    // Contenedores, tarjetas y secciones
    .card_sede_ins {
        width: 48%;
    }
    .card_video_ins {
        width: 48%;
    }
    .section_main_data {
        width: 52%;
    }
    .section_option_line {
        width: 85%;
    }
    .section_toggle {
        padding-bottom: 50px;
    }
    .section_opinion_ins {
        padding: 30px 0;
    }
    .module_convenio_ins {
        justify-content: space-between;
    }
    .content_convenio_ins {
        width: 49%;
    }
    .content_video_ins {
        height: 200px;
    }
    // Imágenes, logos e iconos
    .logo_sede_lan {
        width: 200px;
        height: 200px;
    }
    .servicios_instituciones i, .quienes_somos i, 
    .propuesta i, .convenios i,
    .certificado_lan i, .sedes_institucion i, 
    .mapa i, .galeria_institucion i,
    .videos_institucion i, .module_opinion_ins i {
        width: 47px;
        height: 35px;
    }
    .icon_style {
        height: 125px;
        width: 75%;
        background-size: 85px;
    }
    // Títulos, subtitulos y textos
    .text_p {
        padding-left: 3.3em;
    }
    .text_icon_lan {
        font-size: 1em;
        width: 130px;
        margin-top: 85px;
        display: flex;
        justify-content: center;
    }
    .title_sede_ins {
        height: 30px;
    }
    .text_h3 {
        font-size: 1em;
    }
    // Botones
    .btnPrev_LandInst {
        left: 20px;
    }
    .btnPrev_LandInst:after {
        font-size: 1.5em;
    }
    .btnNext_LandInst {
        right: 20px;
    }
    .btnNext_LandInst:after {
        font-size: 1.5em;
    }
    // Listas
    .propuesta ul {
        padding-left: 3.3em;
    }
}
@media(min-width: 1024px) {
    // Contenedores, tarjetas y secciones
    .card_head_lan {
        padding: 30px 0 5px 0;
    }
    .section_main_data {
        width: 85%;
    }
    .section_btn_lan {
        position: relative;
        bottom: 30px;
    }
    .section_option_line {
        width: 75%;
    }
    .section_toggle {
        width: 75%;
    }
    .section_opinion_ins {
        width: 75%;
    }
    .content_data_lan {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 0;
    }
    .content_img_sede {
        display: flex;
        width: 375px;
        height: 185px;
        align-self: flex-end;
    }
    .main_data_lan {
        width: 600px;
    }
    .module_convenio_ins {
        padding-left: 3.3em;
        justify-content: space-between;
    }
    // Imágenes, logos e iconos
    .logo_sede_lan {
        width: 135px;
        height: 135px;
    }
    .img_sede_lan {
        width: 100%;
        height: 100%;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 40px 0 0 0;
    }
    .start_calification {
        align-self: flex-start;
    }
    .img_convenios {
        height: 115px;
    }
    // Títulos y textos
    .title_color_h1 {
        text-align: initial;
    }
    .subTitle_h2 {
        text-align: initial;
        margin-bottom: 3px;
    }
    .title_sede_ins {
        font-size: 1.1em;
    }
    .parrafo_sede_ins {
        font-size: 1em;
    }
    .text_sede_span {
        font-size: 1em;
    }
    .rating-stars ul > li.star > i.fa {
        font-size: 1.3em;
    }
    .desplegable_LandInst {
        padding-left: 3em;
    }
    // Botones
    .btnPrev_LandInst {
        left: 3px;
    }
    .btnNext_LandInst {
        right: 3px;
    }
}
@media(min-width: 1200px) {
    .section_main_data {
        width: 75%;
    }
    .container_cards {
        justify-content: flex-start;
    }
    .card_sede_ins {
        margin-right: 16px;
    }
}
@media(min-width: 1360px) {
    .content_convenio_ins {
        width: 24%;
    }
    .card_video_ins {
        width: 33%;
    }
}
@media(min-width: 1440px) {
    // Contenedores, tarjetas y secciones
    .content_img_sede {
        display: flex;
        width: 460px;
        height: 210px;
        align-self: flex-end;
    }
    .main_data_lan {
        width: 630px;
    }
    .card_sede_ins {
        width: 32%;
        margin-right: 13px;
    }
    // Imágenes, logos e iconos
    .logo_sede_lan {
        width: 165px;
        height: 165px;
    }
    .servicios_instituciones i, .quienes_somos i, 
    .propuesta i, .convenios i, 
    .certificado_lan i, .sedes_institucion i, 
    .mapa i, .galeria_institucion i, 
    .videos_institucion i, .module_opinion_ins i {
        width: 65px;
        height: 40px;
    }
    .icon_style {
        height: 140px;
        background-size: 100px;
    }
    // Títulos, subtitulos y textos
    .title_color_h1{
        font-size: 1.8em;
    }
    .title_black_h1 {
        font-size: 1.6em;
    }
    .subTitle_h2 {
        font-size: 1.6em;
    }
    .subTitle_color_h2 {
        font-size: 1.6em;
    }
    .subTitle_black_h2 {
        font-size: 1.6em;
    }
    .text_h3 {
        font-size: 1.1em;
    }
    .text_h5 {
        font-size: 1.15em;
    }
    .text_p {
        font-size: 1.15em;
        padding-left: 4em;
    }
    .text_icon_lan {
        font-size: 1.25em;
        margin-top: 105px;
    }
    .text_convenio {
        font-size: 1.1em;
    }
    // Listas
    .propuesta ul {
        padding-left: 4em;
    }
    // Desplegables
    .desplegable_LandInst {
        padding-left: 4.5em;
    }
    // Carruseles
    .btnPrev_cert_LandInst:after {
        font-size: 1.5em;
    }
    .btnNext_cert_LandInst:after {
        font-size: 1.5em;
    }
    .date_carrusel {
        font-size: 1em;
        margin-top: 10px;
    }
    .title_carrusel {
        font-size: 1.15em;
    }
    .parrafo_carrusel {
        font-size: 1em;
    }
    .margin_top_section {
        margin-top: 10px;
    }
}
@media (min-width: 1920px) {
    // Contenedores, tarjetas y secciones
    .section_main_data {
        width: 65%;
    }
    .section_option_line {
        width: 65%;
    }
    .section_toggle {
        width: 60%;
    }
    .section_opinion_ins {
        width: 60%;
    }
    .module_convenio_ins {
        padding-left: 5.3em;
    }

}