.section_data_profesionales, .section_data_consulta{
    background: #F5F5F5;
}
.data_profesionales{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.data_profesionales .contains_info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.data_profesionales h2{
    font-family: "Quicksand", sans-serif;
    color: #0083d6;
    font-weight: bold;
    text-align: center;
}
.data_profesionales h1{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
.data_profesionales h5{
    font-family: "Roboto";
    font-weight: bolder;
    color: #3E3E3E;
}
.data_profesionales h5:nth-child(1){
    font-weight: 500;
}
.data_profesionales .title-adress{
    display: flex;
}
.data_profesionales .title-adress i{
    background-image: url('/img/landing-profesional/icono-direccion.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.section_data_consulta{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-top: solid 0.05em #dcdcdc;
}
.section_data_consulta h2{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
.data_consulta ul{
    display: flex;
    padding: 0;
    list-style: none;
}
.data_consulta li{
    line-height: 10px;
}
.data_consulta p{
    font-family: "Roboto";
    font-weight: 500;
    color: #3E3E3E;
}
.data_consulta span{
    font-family: "Roboto";
    font-weight: 500;
    color: #0083d6;
}
.data_consulta .menu_1, .menu_2, .menu_3{
    display: flex;
    align-items: center;
}
.data_consulta .menu_1 i{
    background-image: url('/img/landing-profesional/icono-presencial.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.data_consulta .menu_2 i{
    background-image: url('/img/landing-profesional/icono-virtual.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.data_consulta .menu_3 i{
    background-image: url('/img/landing-profesional/icono-control-medico.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.data_consulta .contains_buttons a:nth-child(2) {
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #EFEFEF;
    color: #232323;
    border: 0.5px solid #434343;
    margin-left: auto;
    margin-right: auto;
}
.data_consulta .contains_buttons a:nth-child(1) {
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #0083D6;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}
.section_destacado{
    max-width: 100%;
}
.destacado{
    border-radius: 5px;
    background-color: #E1F0F9;
}
.destacado i{
    background-image: url('/img/landing-profesional/icono-destacado-en.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.destacado h2{
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.destacado p{
    font-family: "Roboto";
    color: #3E3E3E;
}
.perfil i{
    background-image: url('/img/landing-profesional/icono-perfil-profesional.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.tratamientos i{
    background-image: url('/img/landing-profesional/icono-perfil-profesional.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.premios i{
    background-image: url('/img/landing-profesional/icono-perfil-profesional.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.publicaciones i{
    background-image: url('/img/landing-profesional/icono-perfil-profesional.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.galeria i{
    background-image: url('/img/landing-profesional/icono-perfil-profesional.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.conotains_swiper_profesional{
    max-width: 100%;
}
.profesional_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.profesional_menu p{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
@media (min-width: 320px){
    .section_data_profesionales{
        width: 100%;
        height: 55vh;
    }
    .data_profesionales .contains_info{
        width: 100%;
    }
    .data_profesionales img{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
    .data_profesionales h2{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 1.4em;
    }
    .data_profesionales h1{
        font-size: 1.3em;
        margin-bottom: 1%;
    }
    .data_profesionales .title-adress i{
        width: 8%;
        height: 16px;
    }
    .data_profesionales h5{
        font-size: 0.8em;
    }
    .data_profesionales .title-adress{
        width: 70%;
    }
    .data_profesionales .rating-stars ul{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .section_data_consulta{
        width: 100%;
        height: 25vh;
    }
    .section_data_consulta h2{
        font-size: 1.2em;
        padding-top: 3%;
        margin-bottom: 0;
    }
    .data_consulta{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .data_consulta p, span{
        font-size: 0.8em;
    }
    .data_consulta span{
        margin-left: 20px;
    }
    .data_consulta ul{
        width: 100%;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
    .data_consulta .menu_1 i{
        width: 20px;
        height: 17px;
    }
    .data_consulta .menu_2 i{
        width: 20px;
        height: 17px;
    }
    .data_consulta .menu_3 i{
        width: 20px;
        height: 17px;
    }
    .data_consulta .contains_buttons {
        max-width: 100%;
        display: flex;
        height: 30%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .data_consulta .contains_buttons a {
        display: flex;
        width: 45%;
        height: 100%;
    }
    .section_destacado{
        max-width: 100%;
        height: auto;
        padding-top: 5%;
    }
    .destacado{
        width: 85%;
        margin: auto;
    }
    .destacado i{
        width: 15%;
        height: 30px;
    }
    .destacado h2{
        font-size: 1.1em;
        padding-left: 8%;
        padding-top: 2%;
    }
    .destacado li::marker{
        color: #0083D6;
    }
    .destacado p{
        font-size: 0.9em;
        padding-bottom: 3%;
    }
    .swiper_profesional{
        width: 85%;
    }
    .profesional_menu i{
        width: 100%;
        height: 50px;
        background-position: center;
    }
    .profesional_menu p{
        font-size: 0.6em;
    }
}