.section_data_instituciones{
    background: #F5F5F5;
}
.data_instituciones{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.data_instituciones img{
    box-shadow: 0px 3px 6px #00000029
}
.data_instituciones .contains_info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.data_instituciones h2{
    font-family: "Quicksand", sans-serif;
    color: #019F86;
    font-weight: bold;
    text-align: center;
}
.data_instituciones h1{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
.data_instituciones h5{
    font-family: "Roboto";
    color: #3E3E3E;
}
.data_instituciones h5:nth-child(1){
    font-weight: 500;
}
.data_instituciones .title-adress{
    display: flex;
    align-items: center;
}
.data_instituciones .title-adress i{
    background-image: url('/img/landing-institucion/icono-direccion.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.data_instituciones .title-url i{
    background-image: url('/img/landing-institucion/icono-pagina-web.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.data_instituciones .title-tel i{
    background-image: url('/img/landing-institucion/icono-contacto.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.data_instituciones .contains_buttons a:nth-child(2) {
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #EFEFEF;
    color: #232323;
    border: 0.5px solid #434343;
    margin-left: auto;
    margin-right: auto;
}
.data_instituciones .contains_buttons a:nth-child(1) {
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #019F86;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}
.servicios {
    background-image: url('/img/landing-institucion/icono-principal-servicios-profesionales.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.acerca {
    background-image: url('/img/landing-institucion/icono-acerca-de-la-institucion.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.certificados {
    background-image: url('/img/landing-institucion/icono-certificaciones.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.sedes {
    background-image: url('/img/landing-institucion/icono-principal-sedes.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.galeria {
    background-image: url('/img/landing-institucion/icono-galeria.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.servicios_clicked {
    background-image: url('/img/landing-institucion/icono-principal-servicios-profesionales-verde.svg');
}
.acerca_clicked {
    background-image: url('/img/landing-institucion/icono-acerca-de-la-institucion-verde.svg');
}
.certificados_clicked {
    background-image: url('/img/landing-institucion/icono-certificaciones-verde.svg');
}
.sedes_clicked {
    background-image: url('/img/landing-institucion/icono-principal-sedes-verde.svg');
}
.gale-inst_clicked {
    background-image: url('/img/landing-institucion/icono-galeria-verde.svg');
}
.contains_swiper_institucion{
    max-width: 100%;
}
.swiper_institucion .item_landing_insti {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 70px;
    background-position: center;
    margin-bottom: 50%;
}
.swiper_institucion .item_landing_insti span{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
    line-height: 15px;
    margin-top: 70px;
    height: 100%;
}
.contains_swiper_institucion h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
.servicios_instituciones h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.servicios_instituciones p {
    font-family: "Roboto";
    color: #3E3E3E;
}
.servicios_instituciones i {
    background-image: url('/img/landing-institucion/icono-servicios-profesionales.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.quienes_somos h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.quienes_somos p {
    font-family: "Roboto";
    color: #3E3E3E;
}
.quienes_somos i {
    background-image: url('/img/landing-institucion/icono-quienes-somos.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.propuesta ul li{
    list-style: none;
}
.propuesta ul li:nth-child(1){
    background: #F5F5F5;
    padding-top: 3%;
    padding-bottom: 3%;
}
.propuesta h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #434343;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.propuesta p {
    font-family: "Roboto";
    color: #806868;
}
.propuesta i {
    background-image: url('/img/landing-institucion/icono-propuesta-valor.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.convenios ul li{
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.convenios ul li:nth-child(1){
    background: #F5F5F5;
}
.convenios h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #434343;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.convenios i {
    background-image: url('/img/landing-institucion/icono-convenios.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.idiomas ul li{
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.idiomas ul li:nth-child(1){
    background: #F5F5F5;
}
.idiomas h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #434343;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.idiomas p {
    font-family: "Roboto";
    color: #3E3E3E;
}
.idiomas i {
    background-image: url('/img/landing-institucion/icono-idiomas.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.idiomas .contains_idioma{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.sedes_institucion h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.sedes_institucion i {
    background-image: url('/img/landing-institucion/icono-sedes.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.sedes_institucion .card{
    display: flex;
    box-shadow: 2px 4px 7px #00000029;
    flex-direction: row;
    border: 0;
}
.sedes_institucion .card h4, h6{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}
.sedes_institucion .card h4{
    color: #434343;
}
.sedes_institucion .card h6{
    color: #019F86;
}
.sedes_institucion .card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
.sedes_institucion p {
    font-family: "Roboto";
    color: #3E3E3E;
}
.sedes_institucion p:nth-child(2){
    font-weight: 500;
}
.sedes_institucion p:nth-child(3){
    font-weight: bolder;
}
.sedes_institucion span{
    font-family: "Roboto";
    color: #0083D6;
}
.contains_swiper_certificados h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.contains_swiper_certificados i {
    background-image: url('/img/landing-institucion/icono-pequeño-certificaciones.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper_certificados h6{
    font-family: "Roboto";
    color: #3E3E3E;
    font-weight: bolder;
}
.swiper_certificados h5{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
}
.swiper_certificados p{
    font-family: "Roboto";
    color: #232323;
}
.galeria_institucion h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #019F86;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.galeria_institucion i {
    background-image: url('/img/landing-institucion/icono-galeria.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.galeria_institucion ul{
    list-style: none;
    margin: auto;
    padding: 0;
}
.videos_institucion h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #434343;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.videos_institucion i {
    background-image: url('/img/landing-institucion/icono-videos.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.videos_institucion .card{
    border: 0;
}
.videos_institucion .card h4, h6{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}
.videos_institucion .card h4{
    color: #434343;
}
.videos_institucion .card h6{
    color: #019F86;
}
.videos_institucion .card-body{
    padding: 0;
}
.videos_institucion p {
    font-family: "Roboto";
    color: #3E3E3E;
    text-align: center;
}
.section_insti_active{
    display: block !important;
}
.section_insti{
    display: none;
    margin-bottom: 10%;
}
.lista_sede{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.boton_collapse-on-institucion {
    font-family: 'Quicksand', 'Regular' !important;
    font-size: 1.25em;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
    text-align: left !important;
    padding: 0 3% !important;
    background: #019F86 !important;
    border-radius: 0px !important;
    border: 1px solid #019F86 !important;
    width: 100% !important;
    height: 6vh;
    background-image: url('/img/iconos/icono-x.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-position-x: 95% !important;
    background-size: 5.5% !important;
}
.sedes_institucion .card-body h5{
    color: #019F86;
}
.desplegable_institucion .card-header{
    border: 0;
}
@media (min-width: 320px){
    .section_data_instituciones{
        width: 100%;
        height: auto;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .item_landing_insti
    .data_instituciones .contains_info{
        width: 100%;
    }
    .data_instituciones img{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
    .data_instituciones h2{
        margin-top: 5%;
        margin-bottom: 1%;
        font-size: 1.4em;
    }
    .data_instituciones h1{
        font-size: 1.3em;
        margin-bottom: 1%;
    }
    .data_instituciones .title-url,
    .title-tel{
        display: none;
    }
    .title-adress i, .title-url i, .title-tel i{
        width: 16%;
        height: 20px;
    }
    .data_instituciones h5{
        font-size: 0.8em;
        text-transform: none;
    }
    .data_instituciones .title-adress{
        width: 85%;
        margin-left: 0;
    }
    .data_instituciones .rating-stars ul{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .data_instituciones .contains_buttons {
        width: 90%;
        display: flex;
        height: 30%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .data_instituciones .contains_buttons a {
        display: flex;
        width: 45%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .swiper_institucion{
        width: 85%;
    }
    .item_landing_insti i{
        width: 100%;
        height: 50px;
        background-position: center;
    }
    .item_landing_insti p{
        font-size: 0.6em;
    }
    .contains_swiper_institucion{
        margin-bottom: 0;
    }
    .contains_swiper_institucion h1 {
        max-width: 90%;
        font-size: 1.3em;
        margin-top: 5%;
        margin-bottom: 8%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .servicios_instituciones,
    .quienes_somos{
        width: 90%;
        margin: auto;
        margin-bottom: 8%;
    }
    .servicios_instituciones h2,
    .quienes_somos h2{
        font-size: 1.1em;
    }
    .servicios_instituciones p,
    .quienes_somos p {
        font-size: 0.75em;
        padding-bottom: 3%;
        padding-left: 14%;
        padding-right: 5%;
    }
    .servicios_instituciones i,
    .quienes_somos i {
        width: 14%;
        height: 30px;
    }
    .desplegable_institucion .card{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .desplegable_institucion .card-header{
       padding: 0;
    }
    .desplegable_institucion .card-header button{
        font-size: 1em;
    }
    .desplegable_institucion .card-body p{
        font-family: "Roboto";
        font-size: 1.3em;
        color: #3E3E3E;
    }
    .lista_sede{
        width: 85%;
        margin: auto;
    }
    .lista_sede li{
        width: 100%;
        font-family: "Roboto";
        font-size: 0.8em;
        color: #3E3E3E;
    }
    .lista_sede li::marker{
        color: #019F86;
    }
    .propuesta{
        width: 90%;
        margin: auto;
    }
    .propuesta h2{
        font-size: 1.1em;
    }
    .propuesta h5{
        font-size: 1em;
    }
    .propuesta p {
        font-size: 0.75em;
    }
    .propuesta i {
        width: 14%;
        height: 30px;
    }
    .convenios{
        width: 90%;
        margin: auto;
    }
    .convenios ul li{
        margin-bottom: 5%;
        height: 12vh;
        padding-right: 5%;
    }
    .convenios img{
        max-width: 30%;
        -o-object-fit: cover;
        object-fit: contain;
        height: 40px;
        image-rendering: -webkit-optimize-contrast;
    }
    .convenios h2{
        font-size: 1.1em;
    }
    .convenios i {
        width: 14%;
        height: 30px;
    }

    .idiomas{
        width: 90%;
        margin: auto;
    }
    .idiomas ul li{
        margin-bottom: 5%;
        height: 12vh;
    }
    .idiomas img{
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: contain;
        height: 20px;
        image-rendering: -webkit-optimize-contrast;
    }
    .idiomas h2{
        font-size: 1.1em;
    }
    .idiomas p{
        font-size: 0.8em;
    }
    .idiomas i {
        width: 14%;
        height: 30px;
    }
    .sedes_institucion{
        width: 90%;
        margin: auto;
    }
    .sedes_institucion h2{
        font-size: 1.1em;
    }
    .sedes_institucion p {
        font-size: 0.75em;
    }
    .sedes_institucion i {
        width: 14%;
        height: 30px;
    }
    .sedes_institucion .card{
        width: 95%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 10%;
        padding-bottom: 3%;
        padding-top: 3%;
        padding-left: 3%;
    }
    .sedes_institucion .card h4, h6{
        font-size: 1em;
    }
    .sedes_institucion .card-body{
        padding-left: 4%;
    }
    .sedes_institucion .card-body h5{
        font-size: 1em;
    }
    .sedes_institucion h2{
        font-size: 1.1em;
    }
    .sedes_institucion .card-img-top{
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    .mapa{
        width: 85%;
        margin : auto;
    }
    .mapa iframe{
        width: 100%;
    }
    .swiper_certificados{
        max-width: 70%;
    }
    .swiper_certificados img{
        max-width: 100%;
    }
    .contains_swiper_certificados h2{
        font-size: 1.1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    .contains_swiper_certificados i{
        width: 14%;
        height: 30px;
    }
    .swiper_certificados h6{
        font-size: 0.9em;
        margin-bottom: 0;
        text-align: left;
    }
    .swiper_certificados h5{
        font-size: 1.1em;
    }
    .swiper_certificados p{
        font-size: 0.7em;
    }
    .galeria_institucion{
        height: 55vh;
    }
    .galeria_institucion h2 {
        font-size: 1.1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    .galeria_institucion i {
        width: 14%;
        height: 30px;
    }
    .galeria_institucion ul{
        max-width: 85%;
    }
    .gallery_institucion > li {
        border: 1px solid transparent;
        float: left;
        height: calc(100% / 2);
        margin: 0 -1px -1px 0;
        overflow: hidden;
        width: calc(100% / 2);
    }
    .gallery_institucion > li > img{
        cursor: zoom-in;
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
    .videos_institucion{
        width: 90%;
        margin: auto;
    }
    .videos_institucion h2{
        font-size: 1.1em;
    }
    .videos_institucion p {
        font-size: 0.75em;
    }
    .videos_institucion i {
        width: 14%;
        height: 30px;
    }
    .videos_institucion .card{
        width: 85%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .videos_institucion .card h4, h6{
        font-size: 1em;
    }
    .videos_institucion .card-body{
        padding-top: 4%;
    }
    .videos_institucion .card-body h5{
        font-size: 1em;
        text-align: center;
    }
    .videos_institucion h2{
        font-size: 1.1em;
    }
}
@media (min-width: 375px){

    .data_instituciones img{
        width: 180px;
        height: 180px;
    }
    .contains_swiper_institucion h1{
        font-size: 1.25em;
    }
    .servicios_instituciones h2,
    .quienes_somos h2 {
        font-size: 1.3em;
    }
    .servicios_instituciones p,
    .quienes_somos p{
        font-size: 0.8em;
    }
    .propuesta h2{
        font-size: 1.3em;
    }
    .propuesta i{
        width: 12%;
    }
    .propuesta h5{
        font-size: 1em;
    }
    .propuesta p {
        font-size: 0.8em;
    }
    .convenios h2 {
        font-size: 1.3em;
    }
    .convenios i{
        width: 12%;
    }
    .idiomas h2 {
        font-size: 1.3em;
    }
    .sedes_institucion h2 {
        font-size: 1.3em;
    }
    .sedes_institucion i{
        width: 12%;
    }
    .sedes_institucion .card h4, h6 {
        font-size: 1.1em;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1em;
    }
    .videos_institucion .card h4, h6 {
        font-size: 1.1em;
    }
    .contains_swiper_certificados h2{
        font-size: 1.3em;
    }
    .contains_swiper_certificados i{
        width: 12%;
    }
    .galeria_institucion h2{
        font-size: 1.3em;
    }
    .galeria_institucion i{
        width: 12%;
    }
    .gallery_institucion > li > img{
        height: 100px;
    }
    .videos_institucion h2{
        font-size: 1.3em;
    }
    .videos_institucion i{
        width: 12%;
    }
    .rating-stars ul > li.star > i.fa {
        font-size: 1.5em;
    }
    .videos_institucion .card {
        width: 45%;
    }
}
@media (min-width: 768px){
    .data_instituciones .contains_buttons{
        margin-top: 5%;
    }
    .data_instituciones .contains_buttons a{
        font-size: 1.4em;
    }
    .data_instituciones img {
        width: 250px;
        height: 250px;
    }
    .data_instituciones h2{
        font-size: 2em;
    }
    .data_instituciones h1{
        font-size: 1.8em;
    }
    .data_instituciones h5 {
        font-size: 1.2em;
    }
    .title-adress i, .title-url i, .title-tel i {
        width: 19%;
        height: 30px;
    }
    .contains_swiper_institucion h1 {
        font-size: 2em;
        margin-top: 7%;
    }
    .swiper_institucion .item_landing_insti{
        height: 100px;
    }
    .swiper_institucion .item_landing_insti span{
        margin-top: 110px;
        font-size: 1.1em; 
    }
    .item_landing_insti i{
        height: 90px;
    }
    .item_landing_insti p {
        margin-top: 5%;
        font-size: 1.05em;
        max-width: 65%;
    }
    .contains_swiper_institucion {
        margin-bottom: 5%;
    }
    .servicios_instituciones h2,
    .quienes_somos h2 {
        font-size: 1.8em;
    }
    .servicios_instituciones i,
    .quienes_somos i {
        width: 10%;
        height: 45px;
    }
    .servicios_instituciones p,
    .quienes_somos p {
        font-size: 1.1em;
        padding-left: 10%;
    }
    .desplegable_institucion .card{
        max-width: 80%;
    }
    .desplegable_institucion .card-body p{
        font-size: 1em;
    }
    .desplegable_institucion .card-header button {
        font-size: 1.4em;
    }
    .lista_sede li {
        width: 50%;
        font-family: "Roboto";
        font-size: 1em;
        color: #3E3E3E;
    }
    .propuesta h2 {
        font-size: 1.8em;
    }
    .propuesta i {
        width: 10%;
        height: 45px;
    }
    .propuesta ul{
        padding-left: 10%;
    }
    .propuesta ul li {
        list-style: none;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .propuesta h5 {
        font-size: 1.5em;
    }
    .propuesta p {
        font-size: 1.1em;
        color: #3E3E3E;
    }
    .convenios h2 {
        font-size: 1.8em;
    }
    .convenios i {
        width: 10%;
        height: 45px;
    }
    .convenios ul{
        padding-left: 10%;
    }
    .convenios ul li{
        justify-content: space-evenly;
    }
    .convenios img{
        max-width: 50%;
        height: 65px;
    }
    .idiomas h2 {
        font-size: 1.8em;
    }
    .idiomas i {
        width: 10%;
        height: 45px;
    }
    .idiomas ul{
        padding-left: 10%;
    }
    .idiomas ul li{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-left: 5%;
    }
    .idiomas .contains_idioma {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .idiomas img{
        max-width: 50%;
        height: 30px;
    }
    .idiomas p {
        width: 90px;
        font-size: 1.2em;
        font-weight: 500;
    }
    .sedes_institucion h2 {
        font-size: 1.8em;
    }
    .sedes_institucion i {
        width: 10%;
        height: 45px;
    }
    .sedes_institucion .card h4, h6 {
        font-size: 1.6em;
    }
    .sedes_institucion .card{
        width: 85%;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1.4em;
    }
    .sedes_institucion p {
        font-size: 1.3em;
    }
    .sedes_institucion .card-img-top {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .mapa {
        width: 75%;
        margin: auto;
        margin-top: 5%;
    }
    .contains_swiper_certificados h2 {
        font-size: 1.8em;
        margin-bottom: 7%;
    }
    .contains_swiper_certificados i {
        width: 10%;
        height: 45px;
    }
    .swiper_certificados {
        max-width: 50%;
    }
    .swiper_certificados h6 {
        font-size: 1.2em;
        margin-bottom: 0;
        text-align: left;
        margin-top: 4%;
    }
    .swiper_certificados h5 {
        font-size: 1.5em;
    }
    .swiper_certificados p {
        font-size: 1.1em;
    }
    .galeria_institucion h2 {
        font-size: 1.8em;
    }
    .galeria_institucion i {
        width: 10%;
        height: 45px;
    }
    .galeria_institucion {
        height: 40vh;
    }
    .galeria_institucion ul {
        max-width: 75%;
    }
    .gallery_institucion > li{
        width: calc(100% / 3);
        height: calc(100% / 3);
    }
    .gallery_institucion > li > img {
        height: 145px;
    }
    .videos_institucion h2 {
        font-size: 1.8em;
    }
    .videos_institucion i {
        width: 10%;
        height: 45px;
    }
    .videos_institucion .card{
        width: 45%;
    }
    .videos_institucion .card .card-img-top{
        height: 35vh;
    }
    .videos_institucion .card-body h5 {
        font-size: 1.7em;
        text-align: center;
    }
    .videos_institucion p {
        font-size: 1.1em;
    }
    .rating-stars ul > li.star > i.fa{
        font-size: 1.8em;
    }
    .data_instituciones .contains_buttons{
        width: 70%;
    }
}
@media (min-width: 1024px){

    .data_instituciones img {
        width: 230px;
        height: 230px;
    }
    .data_instituciones h2 {
        font-size: 2em;
    }
    .data_instituciones h1 {
        font-size: 1.8em;
    }
    .data_instituciones h5 {
        font-size: 1.1em;
    }
    .title-adress i, .title-url i, .title-tel i{
        width: 19%;
        height: 28px;
    }
    .data_instituciones .contains_buttons{
        width: 50%;
        margin-top: 2%;
    }
    .servicios_instituciones,
    .quienes_somos,
    .propuesta,
    .convenios,
    .idiomas,
    .sedes_institucion,
    .videos_institucion {
        width: 80%;
        margin: auto;
    }
    .servicios_instituciones i,
    .quienes_somos i,
    .propuesta i,
    .convenios i,
    .idiomas i,
    .sedes_institucion i,
    .contains_swiper_certificados i,
    .galeria_institucion i,
    .videos_institucion i {
        width: 8%;
        height: 45px;
    }
    .servicios_instituciones p{
        padding-left: 8%;
    }
    .propuesta ul,
    .convenios ul,
    .idiomas ul {
        padding-left: 8%;
    }
    .contains_swiper_certificados h2{
        width: 80%;
    }
    .swiper_certificados {
        max-width: 35%;
    }
    .gallery_institucion > li > img {
        height: 165px;
    }
    .galeria_institucion h2{
        width: 80%;
    }
    .galeria_institucion ul {
        max-width: 70%;
    }
    .galeria_institucion {
        height: 35vh;
    }
    .videos_institucion .card .card-img-top {
        height: 20vh;
    }
    .boton_collapse-on-institucion{
        background-size: 3.5% !important;
    }
    .container_cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sedes_institucion .card-img-top {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    .sedes_institucion .card {
        width: 45%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 1%;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1em;
    }
    .sedes_institucion span{
        font-size: 0.8em;
    }
    .sedes_institucion p {
        font-size: 0.8em;
    }
    .data_instituciones .title-adress {
        width: 75%;
        margin-left: 0;
    }
    .section_data_instituciones{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .desplegable_institucion .boton_collapse-off-institucion{
        height: 4vh;
        background-size: 3%;
    }
    .boton_collapse-on-institucion{
        background-size: 3% !important;
    }

}
@media (min-width: 1024px) and (max-height: 800px){

    .rating-stars ul > li.star > i.fa{
        font-size: 1.4em;
    }
    .section_data_instituciones{
        height: auto;
        padding-top: 2%;
    }
    .data_instituciones{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        padding-left: 36%;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
    }
    .data_instituciones img {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 12%;
        top: 13%;
    }
    .data_instituciones .contains_info {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .data_instituciones .title-adress, .title-url, .title-tel {
        width: 120%;
        font-weight: 500;
    }
    .data_instituciones .title-url, .title-tel {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    .data_instituciones h2 {
        font-size: 2em;
    }
    .data_instituciones h1 {
        font-size: 1.7em;
    }
    .data_instituciones h5 {
        font-size: 1.2em;
    }
    .title-adress i, .title-url i, .title-tel i {
        width: 11%;
        height: 26px;
        margin-bottom: 2%;
    }
    .data_instituciones .contains_buttons{
        width: 55%;
        margin-top: 2%;
    }
    .data_instituciones .contains_buttons a {
        font-size: 1.2em;
    }
    .data_instituciones h5:nth-child(7){
        padding-left: 6.5%;
        font-weight: 500;
    }
    .contains_swiper_institucion {
        margin-bottom: 0%;
    }
    .item_landing_insti i {
        height: 75px;
    }
    .item_landing_insti p {
        margin-top: 5%;
        font-size: 0.9em;
        max-width: 80%;
    }
    .servicios_instituciones p,
    .quienes_somos p {
        font-size: 1.3em;
        padding-left: 9%;
    }
    .contains_swiper_institucion h1{
        margin-top: 5%;
        margin-bottom: 4%;
    }
    .propuesta p {
        font-size: 1.3em;
        color: #3E3E3E;
    }
    .convenios ul li{
        height: auto;
    }
    .idiomas ul li {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5%;
    }
    .sedes_institucion .container_cards,
    .container_cards,
    .videos_institucion .container_cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sedes_institucion .card {
        width: 48%;
        margin-bottom: 0;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    .sedes_institucion .card h4, h6 {
        font-size: 1.5em;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1em;
    }
    .sedes_institucion .card-img-top {
        border-radius: 48%;
        width: 120px;
        height: 120px;
    }
    .sedes_institucion p {
        font-size: 0.8em;
        font-weight: 500;
    }
    .sedes_institucion span{
        font-size: 0.8em;
    }
    .swiper_certificados {
        max-width: 75%;
    }
    .contains_swiper_certificados h2{
        margin-bottom: 4%;
    }
    .swiper_certificados h6{
        font-size: 1em;
    }
    .swiper_certificados h5 {
        font-size: 1.2em;
    }
    .swiper_certificados p {
        font-size: 0.9em;
    }
    .galeria_institucion {
        display: flow-root;
        height: auto;
        margin-bottom: 5%;
    }
    .videos_institucion .card {
        width: 30%;
    }
    .videos_institucion .card-body h5 {
        font-size: 1.2em;
        text-align: left;
    }
    .videos_institucion p {
        font-size: 0.8em;
        text-align: left;
    }
    .galeria_institucion h2 {
        width: 80%;
        margin-bottom: 3%;
    }
    .desplegable_institucion .boton_collapse-off-institucion{
        height: 7vh;
        background-size: 3%;
    }
    .boton_collapse-on-institucion{
        background-size: 3% !important;
    }
}


@media (min-width: 1200px) {

    .section_data_instituciones{
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .servicios_instituciones i,
    .quienes_somos i, 
    .propuesta i,  
    .convenios i, 
    .idiomas i, 
    .sedes_institucion i, 
    .contains_swiper_certificados i,  
    .galeria_institucion i, 
    .videos_institucion i {
        width: 6%;
        height: 45px;
    }
    .servicios_instituciones p {
        padding-left: 6%;
    }
    .propuesta ul, 
    .convenios ul, 
    .idiomas ul {
        padding-left: 6%;
    }
    .data_instituciones{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        padding-left: 36%;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
    }
    .data_instituciones img {
        width: 220px;
        height: 220px;
        position: absolute;
        left: 12%;
        top: 15%;
    }
    .data_instituciones .contains_info {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .data_instituciones .title-adress, .title-url, .title-tel {
        width: 100%;
        font-weight: 500;
    }
    .data_instituciones h2 {
        font-size: 2em;
    }
    .data_instituciones h1 {
        font-size: 1.7em;
    }
    .data_instituciones h5 {
        font-size: 1.2em;
    }
    .data_instituciones .contains_buttons {
        width: 55%;
    }
    .data_instituciones .contains_buttons a{
        width: 45%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    .data_instituciones h5:nth-child(7){
        padding-left: 4%;
        font-weight: 500;
    }
    .data_instituciones .title-url, .title-tel {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    .title-adress i, .title-url i, .title-tel i {
        width: 15%;
        height: 28px;
        margin-bottom: 2%;
    }
    .item_landing_insti i {
        height: 75px;
    }
    .item_landing_insti p {
        margin-top: 5%;
        font-size: 0.9em;
        max-width: 80%;
    }
    .swiper_institucion {
        width: 70%;
    }
    .swiper_institucion .item_landing_insti span {
        margin-top: 100px;
        font-size: 1em;
        width: 80%;
    }
    .contains_swiper_institucion h1{
        margin-top: 5%;
        margin-bottom: 4%;
    }
    .servicios_instituciones h2, .quienes_somos h2 {
        font-size: 1.6em;
    }
    .servicios_instituciones p, .quienes_somos p{
        font-size: 1.1em;
        padding-left: 6%;
    }
    .desplegable_institucion .card-header button {
        font-size: 1.5em;
        color: #434343;
        background-size: 2.5% !important;
    }
    .idiomas ul li {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5%;
    }
    .propuesta p {
        font-size: 1.1em;
        color: #3E3E3E;
    }
    .propuesta h2 {
        font-size: 1.6em;
    }
    .sedes_institucion .container_cards,
    .container_cards,
    .videos_institucion .container_cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sedes_institucion .card {
        width: 45%;
        margin-bottom: 0;
    }
    .sedes_institucion .card h4, h6 {
        font-size: 1.3em;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1.2em;
    }
    .sedes_institucion p {
        font-size: 1em;
        font-weight: 500;
    }
    .sedes_institucion span {
        font-size: 1em;
    }
    .sedes_institucion h2{
        font-size: 1.6em;
    }
    .swiper_certificados {
        max-width: 70%;
    }
    .contains_swiper_certificados h2{
        font-size: 1.6em;
        margin-bottom: 4%;
    }
    .swiper_certificados h6{
        font-size: 1em;
    }
    .swiper_certificados h5 {
        font-size: 1.3em;
    }
    .swiper_certificados p {
        font-size: 0.9em;
    }
    .galeria_institucion h2{
        font-size: 1.6em;
    }
    .videos_institucion .card {
        width: 30%;
    }
    .galeria_institucion {
        display: flow-root;
        height: auto;
        margin-bottom: 5%;
    }
    .videos_institucion .card-body h5 {
        font-size: 1.4em;
        text-align: left;
    }
    .videos_institucion p {
        font-size: 0.8em;
        text-align: left;
    }
    .videos_institucion h2 {
        font-size: 1.6em;
    }
    .videos_institucion .card .card-img-top {
        height: 25vh;
    }
}

@media (min-width: 1440px){

    .data_instituciones img{
        left: 15%;
        top: 15%;
    }
    .data_instituciones .contains_buttons {
        width: 50%;
    }
    .videos_institucion .card {
        width: 27%;
    }
    .gallery_institucion > li {
        width: calc(100% / 4);
        height: calc(100% / 4);
    }
    .gallery_institucion > li > img {
        height: 180px;
    }
    .data_instituciones .rating-stars ul {
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .rating-stars ul > li.star > i.fa {
        font-size: 1.5em;
    }
    .contains_swiper_institucion {
        margin-bottom: 0;
    }
    .contains_swiper_institucion h1{
        font-size: 2.5em;
    }
    .desplegable_institucion .card-header button{
        font-size: 1.6em;
    }
    .desplegable_institucion .boton_collapse-off-institucion{
        height: 6vh;
    }
}

@media (min-width: 1600px){

    .data_instituciones img{
        width: 240px;
        height: 240px;
        left: 15%;
        top: 18%;
    }
    .section_data_instituciones {
        height: auto;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .servicios_instituciones,
    .quienes_somos, 
    .propuesta, 
    .convenios, 
    .idiomas, 
    .sedes_institucion,  
    .videos_institucion {
        width: 75%;
        margin: auto;
    }
    .contains_swiper_certificados h2 {
        width: 75%;
    }
    .swiper_certificados {
        max-width: 60%;
    }
    .data_instituciones{
        padding-left: 32%;
    }
    .data_instituciones .title-adress {
        width: 100%;
        font-weight: 500;
    }
    .data_instituciones h5:nth-child(7){
        padding-left: 3%;
    }
    .data_instituciones .contains_buttons {
        width: 45%;
        flex-direction: row;
        padding-bottom: 1%;
        margin-left: 0;
    }
    .data_instituciones .contains_buttons a{
        align-items: flex-start;
        margin: 0;
        margin-bottom: 4%;
    }
    .data_instituciones h2 {
        font-size: 2.2em;
    }
    .data_instituciones h1 {
        font-size: 2em;
    }
    .data_instituciones h5 {
        font-size: 1.4em;
    }
    .desplegable_institucion .card{
        padding: 0.4% 3%;
    }
    .desplegable_institucion .card-header button{
        background-size: 2% !important;
    }
    .contains_swiper_institucion h1{
        font-size: 2.5em;
    }
    .rating-stars ul > li.star > i.fa {
        font-size: 1.4em;
    }
    .swiper_institucion {
        width: 60%;
    }
    .servicios_instituciones i,
    .quienes_somos i, 
    .propuesta i, 
    .convenios i, 
    .idiomas i, 
    .sedes_institucion i, 
    .contains_swiper_certificados i,
    .galeria_institucion i, 
    .videos_institucion i {
        width: 5%;
        height: 45px;
    }
    .servicios_instituciones p {
        padding-left: 5%;
    }
    .servicios_instituciones h2, .quienes_somos h2 {
        font-size: 1.8em;
    }
    .propuesta h2, .convenios h2{
        font-size: 1.8em;
    }
    .propuesta ul,  
    .convenios ul, 
    .idiomas ul {
        padding-left: 5%;
    }
    .servicios_instituciones p, .quienes_somos p{
        font-size: 1.3em;
        padding-left: 6%;
    }
    .propuesta p{
        font-size: 1.3em;
    }
    .sedes_institucion .card {
        width: 45%;
        padding-right: 8%;
    }
    .sedes_institucion .card h4, h6 {
        font-size: 1.5em;
    }
    .sedes_institucion .card-body h5 {
        font-size: 1.3em;
    }
    .sedes_institucion p{
        font-size: 1.1em; 
    }
    .sedes_institucion span {
        font-size: 1.1em;
    }
    .sedes_institucion .card-img-top {
        border-radius: 50%;
        width: 135px;
        height: 135px;
    }
    .contains_swiper_certificados h2 {
        font-size: 1.8em;
        margin-bottom: 4%;
    }
    .mapa {
        width: 70%;
        margin: auto;
        margin-top: 5%;
    }
    .sedes_institucion h2, .galeria_institucion h2, .videos_institucion h2 {
        font-size: 1.8em;
    }
    .galeria_institucion h2 {
        font-size: 1.6em;
    }
}

@media (min-width: 1920px){
    .data_instituciones img{
        width: 250px;
        height: 250px;
        left: 25%;
        top: 17%;
    }
    .data_instituciones{
        padding-left: 41%;
    }
    .sedes_institucion .card {
        width: 40%;
        margin-bottom: 0;
        margin-top: 3%;
    }
    .swiper_institucion .item_landing_insti span{
        margin-top: 115px;
    }
    .swiper_institucion .item_landing_insti{
        height: 115px;
    }
    .desplegable_institucion .card-header button{
        height: 7vh;
        font-size: 1.8em;
    }
}