.imagen_bannerPrin-pregunta {
    width: 100%;
    padding: 0;
    height: 30vh;
    object-fit: cover;
}
.section_principal-pregunta {
    margin: auto;
    padding: 0;
    width: 70%;
}
.titulo_principal-pregunta {
    font-family: 'Quicksand';
    font-size: 1em;
    color: #232323;
    text-align: center;
}
.titulo_superior-pregunta {
    font-family: 'Roboto','Regular';
    font-size: 1em;
    color: #3E3E3E;
    text-align: center;
    padding: 0 3%;
    margin: 7% 0;
}
.contains_accordion {
    padding: 1% 0;
    box-shadow: 3px 4px 10px 2px rgb(0 0 0 / 15%);
}
.containt_options-collapse-pregunta {
    border-radius: 0px;
    border: none;
    padding: 1% 3%;
}
.boton_collapse-on-pregunta {
    font-family: 'Quicksand', 'Regular';
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    padding: 0 3%;
    background: #0083D6;
    border-radius: 0px;
    border: 1px solid #0083D6;
    width: 100%;
    height: 6vh;
    background-image: url('/img/iconos/icono-x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 95%;
    background-size: 3%;
    margin: 0 0 .3% 0;
}
.boton_collapse-off-pregunta {
    font-family: 'Quicksand', 'Regular';
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #232323;
    text-align: left;
    padding: 0 3%;
    background: #F5F5F5;
    border-radius: 0px;
    border: 1px solid #F5F5F5F5;
    width: 100%;
    height: 6vh;
    background-image: url('/img/iconos/icono-mas.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 95%;
    background-size: 3%;
    margin: 0 0 .3% 0;
}
.text_interno-toggle-polit {
    font-size: .85em;
    color: #3E3E3E;
}
@media(min-width: 320px) and (orientation: portrait) {
    .imagen_bannerPrin-pregunta {
        height: 18vh;
    }
    .section_principal-pregunta {
        width: 100%;
    }
    .titulo_principal-pregunta {
        font-size: 1em;
        margin-top: 5%;
    }
    .titulo_superior-pregunta {
        font-size: .6em;
        margin: 5% 0;
    }
    .containt_options-collapse-pregunta {
        border-radius: 0px;
    }
    .boton_collapse-on-pregunta {
        font-size: 0.625em;
        padding: 0 8% 0 2%;
        background-position-x: 98%;
        background-size: 6%;
    }
    .boton_collapse-off-pregunta {
        font-size: 0.625em;
        padding: 0 12% 0 2%;
        background-position-x: 98%;
        background-size: 6%;
    }
    .text_interno-toggle-polit {
        font-size: .6em;
    }
}
@media (min-width: 375px) and (orientation: portrait) {
    .titulo_superior-pregunta {
        padding: 0 14%;
        margin: 8% 0;
    }
}
@media (min-width: 768px) and (orientation: portrait) {
    .imagen_bannerPrin-pregunta {
        height: 20vh;
    }
    .section_principal-pregunta {
        width: 85%;
    }
    .titulo_superior-pregunta {
        font-size: 1.6em;
        padding: 0;
        margin: 12.7% 0;
    }
    .boton_collapse-on-pregunta {
        font-size: 1.4em;
        height: 5vh;
        background-size: 4%;
    }
    .boton_collapse-off-pregunta {
        font-size: 1.4em;
        height: 5vh;
        background-size: 4%;
    }
    .text_interno-toggle-polit {
        font-size: 1.1em;
    }
}
@media(min-width: 1200px) {
    .imagen_bannerPrin-pregunta {
        height: 42vh;
    }
    .section_principal-pregunta {
        width: 65%;
    }
    .titulo_superior-pregunta {
        padding: 0 7%;
        margin: 5% 0;
    }
}
@media (min-width: 1440px) {
    .titulo_superior-pregunta {
        font-size: 1.25em;
    }
    .boton_collapse-off-pregunta {
        font-size: 1.5em;
        background-size: 3%;
    }
    .boton_collapse-on-pregunta {
        font-size: 1.5em;
        background-size: 3%;
    }
    .text_interno-toggle-polit {
        font-size: 1em;
    }
}
@media (min-width: 1920px) {
    .imagen_bannerPrin-pregunta {
        height: 48vh;
    }
    .titulo_superior-pregunta {
        margin: 5% 0;
    }
    .boton_collapse-off-pregunta {
        background-size: 2%;
    }
    .boton_collapse-on-pregunta {
        background-size: 2%;
    }
}