.contains_slide .contains_image_profesional img{
    height: 100%;
    width: 100%;
}
.titulo_profesionales{
    font-family: "Quicksand", sans-serif;
    color: #0083d6;
    font-weight: bold;
    text-align: center;
}
.contains_slide .contains_info{
    text-align: center;
}
.contains_swiper_premium .contains_info h2{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #232323;
}
.contains_swiper_premium .contains_info h5{
    font-family: "Roboto";
    font-weight: bolder;
    color: #3E3E3E;
}
.contains_swiper_premium .contains_info p{
    font-family: "Roboto";
    color: #3E3E3E;
}
.contains_swiper_premium .contains_info h2, h5, p{
    margin-bottom: 0;
}
.contains_slide .contains_buttons a:nth-last-child(2){
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #007bff;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}
.contains_slide .contains_buttons a:nth-last-child(1){
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #EFEFEF;
    color: #232323;
    border: 0.5px solid #434343;
    margin-left: auto;
    margin-right: auto;
}
.container_cards_normal{
    background: #EFEFEF;
}
.card_normal .card-body h2, h5{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}
.card_normal .card-body h2{
    color: #0083D6;
}
.card_normal .card-body h5{
    color: #232323;
}
.card_normal .card-body p{
    font-family: "Roboto";
    color: #3E3E3E;
}
.card_normal .contains_buttons a:nth-last-child(2){
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #007bff;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}
.card_normal .contains_buttons a:nth-last-child(1){
    font-family: "Quicksand";
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #EFEFEF;
    color: #232323;
    border: 0.5px solid #434343;
    margin-left: auto;
    margin-right: auto;
}
.card_generic{
    background: #EEF7FF;
}
.card_generic .card-body{
    text-align: center;
}
.card_generic .card-body h5{
    font-family: "Quicksand";
    color: #232323;
}
.card_generic .card-body p{
    font-family: "Roboto";
    color: #3E3E3E;
}
/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FF912C;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#FFCC36;
  }

@media (min-width: 320px){

    .titulo_profesionales{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.4em;
    }
    .contains_swiper_premium{
        max-width: 100%;
        height: 65vh;
        margin-bottom: 10%;
    }
    .swiper_premium{
        max-width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .contains_slide .contains_image_profesional{
        height: 45%;
    }
    .contains_slide .contains_image_profesional img{
        object-fit: cover;
    }
    .contains_slide .contains_info{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .contains_slide .contains_buttons{
        max-width: 100%;
        display: flex;
        height: 15%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .contains_slide .contains_buttons a{
        display: flex;
        width: 45%;
        height: 65%;
    }
    .contains_swiper_premium .contains_info h2{
        font-size: 1.3em;
    }
    .contains_swiper_premium .contains_info h5{
        font-size: 0.8em;
    }
    .contains_swiper_premium .contains_info p{
        font-size: 0.7em;
    }
    .contains_swiper_premium .contains_info h2, h5, p{
        line-height: 1.3em;
    }
    .card_normal{
        max-width: 75%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
    }
    .card_normal .card-img-top{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        left: 0;
        right: 0;
        top: -25px;
        margin: auto;
        position: absolute;
        border: 15px solid #ffff;
        object-fit: cover;
    }
    .card_normal .card-body{
        text-align: center;
        padding-top: 45%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .card_normal .card-body h2{
        font-size: 1.4em;
    }
    .card_normal .card-body h5{
        font-size: 1em;
    }
    .container_cards_normal{
        padding-top: 15%;
    }
    .card_normal .card-body p{
        font-size: 0.85em;
        margin-bottom: 5%;
    }
    .rating-stars ul > li.star > i.fa{
        font-size: 1.2em;
    }
    .card_normal .contains_buttons{
        max-width: 100%;
        display: flex;
        height: 25%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .card_normal .contains_buttons a{
        display: flex;
        width: 45%;
        height: 100%;
    }
    .card_generic{
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    .card_generic .card-body h5{
        font-size: 1em;
    }
    .card_generic .card-body p{
        font-size: 0.85em;
    }
}