// Contenedores, contenido, secciones y tarjetas
.content_main {
    background: #F9F9F9;
    padding: 0 10px;
}

.content_bannerMain {
    width: 100%;
    height: 170px;
}
.content_cardProf {
    padding: 0 .3em 1em .3em;
}
.content_btn_cardProf {
    display: flex;
    align-content: center;
    justify-content: center;
}
// Carrusel
.swiper_especialidad  {
    padding: 0 15px;
}
// Imágenes, logos e iconos
.card .img_professional {
    border: 1px solid #dcdcdc;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    object-position: top;
}
.image_bannerMain {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    opacity: 0.6;
}
// Títulos, subtitulos, textos y parrafos
.titulo_bannerMain {
    font-size: 1.5em;
    font-family: 'Quicksand';
    color: #019f86;
    font-weight: bolder;
    line-height: 1;
    position: absolute;
    top: 75px;
    left: 20px;
    width: 75%;
}
.titulo_card {
    font-family: 'Quicksand';
    font-size: .85em;
    font-weight: bolder;
    color: #019F86;
    text-align: center;
    margin: 0;
    line-height: 1.1;
}
.subTitulo_card {
    font-family: 'Roboto';
    font-size: .8em;
    color: #232323;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}
.text_card {
    font-family: 'Roboto';
    font-size: .7em;
    font-weight: 500;
    color: #232323;
    text-align: center;
    line-height: 1.1;
    height: 22px;
}
.text_univ_card {
    font-family: 'Roboto';
    font-size: .7em;
    font-weight: 500;
    color: #232323;
    text-align: center;
    line-height: 1.1;
    height: 22px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.text_cargo_card {
    font-family: 'Roboto';
    font-size: .8em;
    color: #232323;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    height: 22px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
// Botones
// Botón especialidad del swiper no seleccionado
.swiper_especialidad .cbp-l-filters-alignRight .cbp-filter-item {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 11.5px/20px "Quicksand", sans-serif;
    color: #232323;
    text-transform: none;
    text-align: center;
    line-height: 1 !important;
    border: 1px solid #E4E2E2;
    border-radius: 5px;
    margin: 0;
    height: 55px;
}
.btn_prev {
    font-size: 1em;
    color: #019F86;
    top: 75px;
    left: -7px;
}
.btn_next {
    font-size: 1em;
    color: #019F86;
    top: 75px;
    right: -7px;
}
.btn_prev:after, .btn_next:after {
    font-size: 1em;
    font-weight: bolder;
}
.btn_cardProf {
    font-size: .8em;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    background: #019F86;
    padding: 5px 10px;
    border-radius: 5px;
}
.subSpecialty {
    display: none;
}




.zoom_img {
    width: 100%;
	overflow: hidden;
	position: relative;
}
.zoom_img img{
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	transition: transform 0.01ms;
}
.zoom_img img:hover {
    transform: scale(2);
    top: 50px;
}


@media(min-width: 600px) {
    // Contenedores, contenido, secciones y tarjetas
    .content_main {
        padding: 0 30px;
    }
    .content_bannerMain {
        height: 400px;
    }
    //  Título, subtitulo y textos
    .titulo_bannerMain {
        font-size: 2em;
        top: 180px;
        left: 65px;
        width: 50%;
    }
    .titulo_card {
        font-size: 1em;
    }
    .subTitulo_card {
        font-size: .9em;
    }
    .text_card {
        font-size: .8em;
        height: 26px;
    }
    .text_univ_card {
        font-size: .8em;
        height: 26px;
    }
    .text_cargo_card {
        font-size: .9em;
        height: 26px;
    }
    // Carrusel
    .swiper_especialidad {
        padding: 0 18px;
    }
    // Botones
    .btn_prev {
        font-size: 1.3em;
    }
    .btn_next {
        font-size: 1.3em;
    }
    .btn_cardProf {
        font-size: .9em;
    }
}

@media(min-width: 1200px) {
    .content_bannerMain {
        height: 550px;
    }
}

@media(min-width: 1200px) {
    // Botones
    // Botón especialidad del swiper no seleccionado
    .swiper_especialidad .cbp-l-filters-alignRight .cbp-filter-item {
        font: 600 13.5px/20px "Quicksand", sans-serif;
    }  
}

@media(min-width: 1920px) {
    //Contenedores, contenido, secciones y tarjetas
    .content_main {
        padding: 0 130px;
    }
    .titulo_bannerMain {
        font-size: 3em;
        left: 330px;
        width: 40%;
    }  
}