// Colores de los botones
.bg_blue_two {
    color: $withe_official;
    background: $blue_two;
    border: solid 1px $blue_two;
}
.bord_blue_two {
    color: $blue_two;
    background: $withe_official;
    border: solid 1px $blue_two;
}
// Fin colores de los botones
.btn__card_down {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-family: "Quicksand";
        font-size: 14px;
        font-weight: bold;
        width: 97px;
        height: 29px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.btn__card_down:first-child {
    margin-bottom: 8px;
}
@media(min-width: 768px) {
    .btn__card_down:first-child {
        margin-bottom: 0;
        margin-right: 8px;
    }
    .btn__card_down {
        button {
            font-size: 10px;
            width: 67px;
            height: 29px;
        }
    }
}