.btn__blue {
    background: $blue_official !important;
    border: solid 1px $blue_official !important;
}
// Botones paginación card
.butons__pagination_card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn_right_pag_card {
        width: 47px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #DBDADA;
        border-radius: 7px 0 0 7px;
        background-image: url('/img/iconos/flecha-derecha-gris.svg');
        background-repeat: no-repeat;
        background-size: 9px;
        background-position: center;
        padding: 10px 20px;
        &:focus {
            background-color: #707070;
            background-image: url('/img/iconos/flecha-derecha-blanca.svg');
        }
    }
    .btn_left_pag_card {
        width: 47px;
        height: 41px;
        background-color: #FFFFFF;
        border: 1px solid #DBDADA;
        border-radius: 0 7px 7px 0;
        background-image: url('/img/iconos/flecha-izquierda-gris.svg');
        background-repeat: no-repeat;
        background-size: 9px;
        background-position: center;
        padding: 10px 20px;
        &:focus {
            background-color: #707070;
            background-image: url('/img/iconos/flecha-izquierda-blanca.svg');
        }
    }
}
// Botones add
.button__add_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;
}
.button__green_card {
    font-family: "Quicksand";
    color: $withe_official;
    background: #049372;
    border: solid 1px #049372;
    border-radius: 5px;
    padding: 7px 10px;
}
.button__blue_card {
    font-family: "Quicksand";
    color: $withe_official;
    background: $blue_official;
    border: solid 1px $blue_official;
    border-radius: 5px;
    padding: 7px 10px;
}
// Botones de búsqueda
.button__search_card {
    margin-bottom: 20px;
    padding: 0;
    button {
        border: 1px solid #DBDADA;
        background-color: #FFF;
        text-decoration: none;
        border-radius: 7px;
        height: 43px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        width: 100%;
        transition: max-width 0.1s;
        background-image: url('/img/iconos/search_verde.svg');
        background-repeat: no-repeat;
        background-position-x: 93%;
        background-position-y: center;
        background-size: 22px;
        white-space: nowrap;
        padding-top: 2px;
        padding-left: 0;
        padding-right: 52px;
    }
    input {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 0 5px 15px;
        margin-bottom: 15px;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: #434343;
        background-color: #FFFFFF;
        background-clip: padding-box;
        border: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::placeholder { 
            color: #DBDADA; 
        }
    }
}
.button__search_blue_card {
    margin-bottom: 20px;
    padding: 0;
    button {
        border: 1px solid #DBDADA;
        background-color: #FFF;
        text-decoration: none;
        border-radius: 7px;
        height: 43px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        width: 100%;
        transition: max-width 0.1s;
        background-image: url('/img/iconos/search_azul.svg');
        background-repeat: no-repeat;
        background-position-x: 93%;
        background-position-y: center;
        background-size: 22px;
        white-space: nowrap;
        padding-top: 2px;
        padding-left: 0;
        padding-right: 52px;
    }
    input {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 0 5px 15px;
        margin-bottom: 15px;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: #434343;
        background-color: #FFFFFF;
        background-clip: padding-box;
        border: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::placeholder { 
            color: #DBDADA; 
        }
    }
}
// Botones documentos de descarga
.button__doc_download {
    display: flex;
    justify-content: center;
    padding: 0;
    button {
        width: 47px;
        height: 44px;
        background-color: #FFFFFF;
        border: 1px solid #DBDADA;
        border-radius: 7px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        &:hover {
            background-color: #019F86;
        }
    }
    .file_excel{
        background-image: url('/img/iconos/icono-excel-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-excel-blanco.svg');
        }
    }
    .file_pdf{
        background-image: url('/img/iconos/icono-pdf-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-pdf-blanco.svg');
        }
    }
    .file_printer {
        background-image: url('/img/iconos/icono-imprimir-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-imprimir-blanco.svg');
        }
    }
    .file_calendar {
        background-image: url('/img/iconos/icono-calendario-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-calendario-blanco.svg');
        }
    }
}
.button__blue_doc_download {
    display: flex;
    justify-content: center;
    padding: 0;
    button {
        width: 47px;
        height: 44px;
        background-color: #FFFFFF;
        border: 1px solid #DBDADA;
        border-radius: 7px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        &:hover {
            background-color: #0083D6;
        }
    }
    .file_excel{
        background-image: url('/img/iconos/icono-excel-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-excel-blanco.svg');
        }
    }
    .file_pdf{
        background-image: url('/img/iconos/icono-pdf-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-pdf-blanco.svg');
        }
    }
    .file_printer {
        background-image: url('/img/iconos/icono-imprimir-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-imprimir-blanco.svg');
        }
    }
    .file_calendar {
        background-image: url('/img/iconos/icono-calendario-verde.svg');
        &:hover {
            background-image: url('/img/iconos/icono-calendario-blanco.svg');
        }
    }
}
// Botones informativos
.button__info_card {
    display: flex;
    justify-content: center;
    .btn_icon_card {
        border: none;
        background-color: transparent;
        color: #049372;
        padding: 3px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        &:nth-child(5) {
            color: #FF3E3E;
        }
        .icon_btn_card_mobile {
            width: 20px !important;
            height: 18px !important;
        }
    }
}
// Botones inferiores (ver más, editar)
.button__down_card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__bg_green_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: $withe_official;
    background: #049372;
    border: solid 1px #049372;
    border-radius: 7px;
    padding: 2px 15px;
}
.button__border_green_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: #049372 !important;
    background: $withe_official;
    border: solid 1px #049372;
    border-radius: 7px;
    padding: 2px 23px;
}
.button2__bg_green_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: $withe_official;
    background: #049372;
    border: solid 1px #049372;
    border-radius: 7px;
    padding: 2px 15px;
}
.button2__border_green_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: #049372 !important;
    background: $withe_official;
    border: solid 1px #049372;
    border-radius: 7px;
    padding: 2px 23px;
}
.button__bg_blue_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: $withe_official;
    background: $blue_official;
    border: solid 1px $blue_official;
    border-radius: 7px;
    padding: 2px 15px;
}
.button__border_blue_card {
    font-family: "Quicksand";
    font-size: 14px;
    color: $blue_official !important;
    background: $withe_official;
    border: solid 1px $blue_official;
    border-radius: 7px;
    padding: 2px 23px;
}
// Botón activado y desactivado
.btn_position {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 16px;
}
.btn__activado {
    font-weight: bold;
    color: #049372 !important;
    text-decoration: none;
    height: 24px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 20px;
    border: none;
    background-color: transparent;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.1s;
    // Icono estado activado y desactivado
    background-image: url('/img/iconos/check-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    background-size: 20px;
    // Texto activado y desactivado
    white-space: nowrap;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 23px;
    &:hover {
        max-width: 300px;
        padding-right: 0;
    }
}
.btn__desactivado {
    font-weight: bold;
    color: #FF3E3E !important;
    text-decoration: none;
    height: 24px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 20px;
    border: none;
    background-color: transparent;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.1s;
    // Icono estado activado y desactivado
    background-image: url('/img/iconos/x-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    background-size: 20px;
    // Texto activado y desactivado
    white-space: nowrap;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 23px;
    &:hover {
        max-width: 300px;
        padding-right: 0;
    }
}  
// Fin botón activado y desactivado
// Botones modales
.btn_big_green_modal {
    width: 150px;
    height: 42px;
    font-family: "Quicksand";
    font-size: 20px;
    color: #FFFFFF;
    background: #019F86;
    border: solid 1px #019F86;
    border-radius: 5px;
    padding: 0;
}
.btn_big_bord_green_modal {
    width: 150px;
    height: 42px;
    font-family: "Quicksand";
    font-size: 20px;
    color: #3E3E3E;
    background: #FFFFFF;
    border: solid 1px #707070;
    border-radius: 5px;
    padding: 0;
}
// Botones de formulario agendas
.button__form_transparent {
    font-size: 20px;
    font-weight: 100;
    color: #3E3E3E !important;
    background: $withe_official;
    border: solid 1px #707070;
    border-radius: 7px;
    padding: 5px 15px;
}

.button__form_green {
    font-size: 20px;
    font-weight: 100;
    color: $withe_official;
    background: #049372;
    border: solid 1px #049372;
    border-radius: 7px;
    padding: 5px 15px;
}
@media(min-width: 768px) {
    // Botones add
    .button__add_card {
        justify-content: initial;
        margin-bottom: 27px;
    }
    // Botones de búsqueda
    .button__search_card {
        padding-right: 8px;
    }
    .button__search_blue_card {
        padding-right: 8px;
    }
    // Botones documentos de descarga
    .button__doc_download {
        justify-content: flex-end;
        button {
            margin: 0 0 0 10px;
        }
    }
    .button__blue_doc_download {
        justify-content: flex-end;
        button {
            margin: 0 0 0 10px;
        }
    }
    // Botones inferiores (ver más, editar)
    .button__bg_green_card {
        font-size: 10px;
        padding: 5px 10px;
    }
    .button__border_green_card {
        font-size: 10px;
        padding: 5px 15px;
    }
    .button__bg_blue_card {
        font-size: 10px;
        padding: 5px 10px;
    }
    .button__border_blue_card {
        font-size: 10px;
        padding: 5px 15px;
    }
}
@media(min-width: 1024px) {
    // Botones add
    .button__add_card {
        margin-bottom: 0;
    }
    // Botones de búsqueda
    .button__search_card {
        margin-bottom: 0;
        button {
            width: auto;
            width: 45px;
            background-position-x: 10PX;
            padding-top: 2px;
            padding-right: 0px;
            padding-left: 30px;
        }
        .search_togggle {
            width: 100%;
            padding-left: 0;
            padding-right: 50px;
            background-position-x: 95%;
        }
    }
    .button__search_blue_card {
        margin-bottom: 0;
        button {
            width: auto;
            width: 45px;
            background-position-x: 10PX;
            padding-top: 2px;
            padding-right: 0px;
            padding-left: 30px;
        }
        .search_togggle {
            width: 100%;
            padding-left: 0;
            padding-right: 50px;
            background-position-x: 95%;
        }
    }
    // Botones informativos
    .button__info_card {
        justify-content: flex-end;
        padding: 0;
        .btn_icon_card {
            border: none;
            background-color: transparent;
            color: #049372;
            padding: 0;
            width: 23px;
            height: 22px;
            .icon_btn_card_desk {
                width: 20px;
                height: 17px;
            }
            &:nth-child(5) {
                color: #FF3E3E;
            }
        }
    }
    .btn_float_right {
        position: absolute;
        top: 4px;
        padding-right: 4px;
        z-index: 10;
    }
    .button__add_card {
        align-items: flex-start;
    }
    .button__green_card {
        padding: 10px;
        font-size: 12px;
    }
    .button__blue_card {
        padding: 10px;
        font-size: 12px;
    }
    // Botones inferiores (ver más, editar)
    .button2__bg_green_card {
        font-size: 10px;
        padding: 5px 10px;
    }
    .button2__border_green_card {
        font-size: 10px;
        padding: 5px 15px;
    }
}
@media(min-width: 1200px) {
    .button__green_card {
        padding: 11px;
        font-size: 12px;
    }
    .button__blue_card {
        padding: 11px;
        font-size: 12px;
    }
}
@media(min-width: 1300px) {
    .button__green_card {
        padding: 8px;
        font-size: 15px;
    }
    .button__blue_card {
        padding: 8px;
        font-size: 15px;
    }
}
@media(min-width: 1600px) {
    .button__search_card {
        .search_togggle {
            width: 100%;
            padding-left: 0;
            padding-right: 50px;
            background-position-x: 97%;
        }
    }
    .button__search_blue_card {
        .search_togggle {
            width: 100%;
            padding-left: 0;
            padding-right: 50px;
            background-position-x: 97%;
        }
    }
    .button__green_card {
        padding: 8px 20px;
    }
    .button__blue_card {
        padding: 8px 20px;
    }
}