// Cards menú panel
.card__menu_panel {
    border-radius: 7px;
    text-align: center;
    padding: 0;
    height: 150px;
    color: $black_third;
    position: relative;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position-x: center;
    background-position-y: 30px;
    span{
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        line-height: 1.1;
        padding: 0 5px;
    }    
    &:hover {
        box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 15%);
    }
}
// Cards logos menú panel
.card__logo_menu_panel {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 30px 15px;
    height: 130px;
    &:hover {
        box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 15%);
    }
}
// Cards modulo profesionales 
.card_second_info {
    padding-left: 25px;
    padding-right: 10px;
}
@media(min-width: 768px) {
    // Cards logos menú panel
    .card__logo_menu_panel {
        height: 150px;
    }
}
@media(min-width: 1024px) {
    // Cards modulo profesionales 
    .card_second_info {
        padding-left: 0;
        padding-right: 0;
    }
}
@media(min-width: 1300px) {
    // Cards menú panel
    .card__menu_panel {
        background-position-y: 20px;
        height: 130px;
        span{
            height: 40px;
        }    
    }
    // Cards logos menú panel
    .card__logo_menu_panel {
        height: 164px;
        padding: 0;
    }
}
@media(min-width: 1600px) {
    // Cards menú panel
    .card__menu_panel {
        background-size: 81px;
        background-position-y: 35px;
        height: 185px;
        span{
            height: 50px;
        }    
    }
    // Cards logos menú panel
    .card__logo_menu_panel {
        height: 219px;
    }
}