// Cards modules 
.card__ {
    background-color: #FFFFFF;
    border: 1px solid #DBDADA;
    border-radius: 7px;
    padding: 15px;
}
.card__user {
    background-color: #FFFFFF;
    border: 1px solid #DBDADA;
    border-radius: 7px;
    padding: 15px 15px 10px 15px;
}
.card__serv {
    background-color: #FFFFFF;
    border: 1px solid #DBDADA;
    border-radius: 7px;
    padding: 15px 15px 18px 15px;
}
//Título principal header de las tarjetas agenda inst.
.card_main_title {
    margin-bottom: 25px;
}
.card__row_column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card__data {
    padding: 0;
    line-height: 1.3;
}
.card__data_down {
    padding-left: 25px;
    padding-right: 10px;
}
.card__data_down_user {
    padding-left: 50px;
    padding-right: 0;
}
.card__content_fixed_height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.card_precio_serv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// Margenes 
.mb__cards {
    margin-bottom: 3px;
}
.mt_card_float {
    margin-top: 80px;
}
@media(min-width: 768px) {

    .card__user {
        padding: 15px;
    }
    //Título principal header de las tarjetas agenda inst.
    .card_main_title {
        margin-bottom: 27px;
    }
    .mt_card_float {
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .m_special_convenios {
        margin-bottom: -3px;
    }
}
@media(min-width: 1024px) {
    // Cards modules 
    .card__ {
        padding: 10px 5px 15px 5px;
    }
    .card__row_column {
        flex-direction: row;
    }
    .card__data_down {
        padding-left: 0;
        padding-right: 0;
    }
    .mt_card_float {
        margin-top: 70px;
        margin-bottom: 0;
    }
    .m_special_convenios {
        margin-bottom: -15px;
    }
    .pt_card_float {
        padding-top: 14px;
    }
}
@media(min-width: 1200px) {

}
@media(min-width: 1300px) {
    // Cards modules 
    .card__container_main { // Contenedor perteneciente modulo administración de citas
        padding: 20px 50px;
        margin-bottom: 100px;
    }
}
@media(min-width: 1600px) {
    .pad_card_logos {
        padding-left: 24px !important;
    }
}