// Menú lateral o sidebar
.scroll_body {
  overflow: hidden;
}
// Botón mostrar y ocultar menú lateral o sidebar dispositivos (320px - 1024px)
.btn_opening {
  width: 25px;
  height: 25px;
  margin: 10px 0 0 10px;
  background-image: url('/img/header/icono-hamburguesa-azul.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
// Sidebar o menu lateral dispositivos (320px - 1024px)
.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  background: transparent;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 500;
  overflow: hidden;
}
// Sidebar o menu lateral visible dispositivos (320px - 1024px)
.sideBar.is-visible {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
// Contenido principal de los modulos 
.main__contenido {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 92px);
  padding: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: margin-left 300ms;
}

@media(min-width: 768px) {
  // Contenido principal de los modulos 
  .main__contenido {
    min-height: calc(100vh - 109px);
  }
}
@media(min-width: 1024px) {
  // Contenido principal de los modulos 
  .main__contenido {
    min-height: calc(100vh - 101px);
  }
}
@media(min-width: 1200px) {
  // Botón mostrar y ocultar menú lateral o sidebar oculto ( mayor e igual a 1200px)
  .btn_opening {
    display: none;
  }
  // Menú lateral o sidebar visible ( mayor e igual a 1200px)
  .sideBar {
    width: 220px;
    visibility: visible !important;
    opacity: 10 !important;
  }
  // Contenido principal de los modulos
  .main__contenido {
    min-height: calc(100vh - 60px);
    max-width: calc(100vw - 220px);
    margin-left: 220px;
  }
}
@media(min-width: 1300px) {
  // Menú lateral o sidebar visible
  .sideBar {
    width: 210px;
  }
}
@media(min-width: 1600px) {
  // Menú lateral o sidebar visible
  .sideBar {
    width: 395px;
  }
  // Contenido principal de los modulos
  .main__contenido {
    min-height: calc(100vh - 70px);
    max-width: calc(100vw - 395px);
    margin-left: 395px;
  }
} 