// Iconos cards menú panel
.icon__prof_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_profesionales_verde.png');
}
.icon__paci_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_pacientes_verde.png');
}
.icon__cita_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_citas_verde.png');
}
.icon__pago_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_pagos_verde.png');
}
.icon__usua_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_usuarios_verde.png');
}
.icon__cont_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_contactos_verde.png');
}
.icon__conv_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_convenios_verde.png');
}
.icon__serv_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_servicios_verde.png');
}
.icon__gest_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_gestion_verde.png');
} 
.icon__favo_green {
    background-image: url('/img/agenda/panelPrincipal/instituciones/icon_favoritos_verde.png');
} 
// Icons card
.icon_span_card {
    width: 12px;
    height: 10PX;
    margin-right: 5px;
}
.icon_span_green_card {
    width: 12px;
    height: 10PX;
    margin-right: 5px;
    color: #019F86;
}
@media(min-width: 768px) {

}
@media(min-width: 1300px) {

}
@media(min-width: 1600px) {

}