// Imágenes cards menú panel
.img_card_menu_panel {
    width: 150px;
    object-fit: scale-down;
}
.img_printed_modal {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}
@media(min-width: 768px) {

}
@media(min-width: 1300px) {
    .img_card_menu_panel {
        width: 175px;
    }
}
@media(min-width: 1600px) {
    .img_card_menu_panel {
        width: 200px;
    }
}