// Modal eliminar
.modal__content_icon {
    width: 75px;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #FF3E3E;
}
@media(min-width: 768px) {

}
@media(min-width: 1300px) {

}
@media(min-width: 1600px) {

}