.panel_container {
    padding: 53px 5px;
}
.panel_container_top {
        width: -webkit-fill-available;
    padding: 53px 5px 0 5px;
}
.panel_container_down {
        width: -webkit-fill-available;
    padding: 0 13px 53px 13px;
}
.panel_head {
    padding: 0 8px;
}
.panel_body {
    padding: 0 8px;
}
.panel_head_op2 {
    padding: 0 8px;
}
.panel_body_op2 {
    padding: 0 8px;
}
.panel_container_form {
    padding: 0 10px;
}
@media(min-width: 768px) {
    .panel_container {
        padding: 40px 70px 0 50px;
    }
    .panel_container_top {
        padding: 40px 70px 0 50px;
    }
    .panel_container_down {
        padding: 0 78px 40px 58px;
    }
    .panel_body {
        padding: 0;
    }
}
@media(min-width: 1200px) {
    .panel_container {
        padding: 50px 30px 0 35px;
    }
    .panel_container_top {
        padding: 50px 0 0 8px;
    }
    .panel_container_down {
        padding: 0 22px 50px 15px;
    }
    .panel_head {
        padding: 0 20px 0 8px;
    }
    .panel_head_op2 {
        padding: 0 15px 0 8px;
    }
    .panel_body_op2 {
        padding: 0 15px 0 8px;
    }
}
@media(min-width: 1300px) {
    .panel_container {
        padding: 65px 28px 0 35px;
    }
    .panel_head {
        padding: 0 25px 0 16px;
    }
    .panel_body {
        padding: 0 9px 0 8px;
    }
    .panel_head_op2 {
        padding: 0 25px 0 16px;
    }
    .panel_body_op2 {
        padding: 0 25px 0 17px;
    }
    .panel_container_form {
        padding: 0 25px 0 10px;
    }
}
@media(min-width: 1600px) {
    .panel_container {
        padding: 65px 160px 0 50px;
    }
    .panel_container_top {
        padding: 65px 160px 0 50px;
    }
    .panel_container_down {
        padding: 0 183px 65px 57px;
    }
}