// Texto informativo BOTONES PAGINACIÓN
#pagination .toolt {
    position: relative;
    cursor: pointer;
}
#pagination .toolt .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: #E6E6E6;
    color: #333333;
    text-align: center;
    padding: 0 3px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 12px;
    font-weight: bold;
}
#pagination .toolt .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
}
#pagination .toolt:hover .tiptext {
    visibility: visible;
}
#pagination .toolt.bottom .tiptext{
    bottom: -23px;
    left: 0;
}
#pagination .toolt.bottom .tiptext::after{
    // margin-left: -5px;
    bottom: 100%;
    left: 10%;
    border-color: transparent transparent #fff transparent;
}
// Fin BOTONES PAGINACIÓN

// Texto informativo ICONOS de las TARJETAS
.tool {
    position: relative;
    cursor: pointer;
}
.tool .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: #E6E6E6;
    color: #333333;
    text-align: center;
    padding: 0 3px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 12px;
    font-weight: bold;
}
.tool .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
}
.tool:hover .tiptext {
    visibility: visible;
}
.tool.top .tiptext{
    margin-left: -60px;
    bottom: 120%;
    left: -10%;
}
.tool.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 65%;
    border-color: #bec4c5 transparent transparent transparent;
}
// Fin ICONOS de las TARJETAS

// Texto informativo INFORMACIÓN DEL USUARIO (tarjetas)
.toolt {
    position: relative;
    cursor: pointer;
}
.toolt .tiptext {
    visibility: hidden;
    width: max-content;
    background-color: #E6E6E6;
    color: #333333;
    text-align: center;
    padding: 0 3px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 11px;
    font-weight: bold;
}
.toolt .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
}
.toolt:hover .tiptext {
    visibility: visible;
}
.toolt.bottom .tiptext{
    bottom: -13px;
    left: 0;
}
.toolt.bottom .tiptext::after{
    // margin-left: -5px;
    bottom: 100%;
    left: 10%;
    border-color: transparent transparent #fff transparent;
}
// Fin INFORMACIÓN DEL USUARIO (tarjetas)