.txt_name_card {
    font-size: 16px;
    font-weight: 500;
    color: #232323;
}   
@media(min-width: 768px) {
    .txt_name_card {
        font-size: 20px;
        font-weight: 500;
        color: #232323;
    } 
}
@media(min-width: 1300px) {

}
@media(min-width: 1600px) {
    .txt_name_card {
        font-size: 25px;
        font-weight: 500;
        color: #232323;
    } 
}