// Menú lateral o sidebar
.scroll_body {
  overflow: hidden;
}
// Botón mostrar y ocultar menú lateral o sidebar dispositivos (320px - 1024px)
.btn_opening {
  width: 19px;
  height: 20px;
  margin: 10px 0 0 10px;
  background-image: url('/img/header/icono-hamburguesa-azul.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
// Contenido principal de los modulos 
.main__contenido {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 92px);
  padding: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: margin-left 300ms;
}

@media(min-width: 768px) {
  // Contenido principal de los modulos 
  .main__contenido {
    min-height: calc(100vh - 105px);
  }
  .btn_opening {
    width: 24px;
    background-size: 27px;
  }
}
@media(min-width: 1024px) {
  // Contenido principal de los modulos 
  .main__contenido {
    min-height: calc(100vh - 101px);
  }
}
@media(min-width: 1200px) {
  // Botón mostrar y ocultar menú lateral o sidebar oculto ( mayor e igual a 1200px)
  .btn_opening {
    display: none;
  }
  // Contenido principal de los modulos
  .main__contenido {
    min-height: calc(100vh - 60px);
    max-width: calc(100vw - 220px);
    margin-left: 220px;
  }
}
@media(min-width: 1300px) {
  // Contenido principal de los modulos
  .main__contenido {
    min-height: calc(100vh - 60px);
    max-width: calc(100vw - 210px);
    margin-left: 210px;
  }
}
@media(min-width: 1600px) {
  // Contenido principal de los modulos
  .main__contenido {
    min-height: calc(100vh - 70px);
    max-width: calc(100vw - 395px);
    margin-left: 395px;
  }
} 