.img__perfil_float {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    img {
        width: 84px;
        height: 83px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
    }
}
.img__perfil_float_inside {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    img {
        width: 49px;
        height: 47px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
        background-color: #FFFFFF;
    }
}
.img__perfil_estatic {
    display: flex;
    justify-content: center;
    img {
        width: 49px;
        height: 47px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
        background-color: #FFFFFF;
    }
}
.img__perfil_estatic_md {
    display: flex;
    justify-content: center;
    img {
        width: 63px;
        height: 62px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
        background-color: #FFFFFF;
    }
}